<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
 <div class="page-wrapper">
      <div class="container home-wrap">
        <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :id => "update_form" }) do |f| %>
        <%= form_with url: image_update_web_users_path, html: {:id => "update_form" },local:true do |f| %>
        <div class="row">
          <div class="col-lg-5">
            <div class="usr-pro">
              <div class="dummy-pic">
             <img  class="profile-pic" src="/assets/user_no_image.png" alt="">
             <i class="fa fa-camera fa-cmra" aria-hidden="true"></i>
           </div>
           <div class="upld-img">
              <input type="file" name="pic" accept="image/*" placeholder="upload Image">
              </div>
            </div>
              <form>
               <div class="form-group row">
                <label class="col-sm-4 fb-pd">Facebook</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control custm-control" placeholder="Facebook">
                    </div>
                     </div>
                     <div class="form-group row">
                <label class="col-sm-4 fb-pd">Instagram</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control custm-control" placeholder="Instagram">
                    </div>
                     </div>
                     <div class="form-group row">
                <label class="col-sm-4 fb-pd">twitter</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control custm-control" placeholder="twitter">
                    </div>
                     </div>
                     <div class="form-group row">
                <label class="col-sm-4 fb-pd">youtube</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control custm-control" placeholder="youtube">
                    </div>
                     </div>
                      </form>
                      </div>



            <div class="col-lg-7">
              <div class="">
                <h3>Bio</h3>
              </div>
              
                 <%= f.cktext_area :name, autocomplete: "new-password", class: "form-control" %>
                    
                    
                     
            </div>
            <div class="last-btn">
            <button type="button" class="btn btn-theme">submit</button>
            <button type="button" class="btn btn-theme">Back</button>
          </div>
          </div>
          <%end%>
        





        <div class="myscore-row">
          <h2 class="main-title">Change Password</h2>
          <div class="form form-changepassword">
              <%= form_with url: image_update_web_users_path, html: {:id => "update_form" },local:true do |f| %>
            <div class="form-group">

              <!-- <input type="password" class="form-control" placeholder="Old Password"> -->
              <%= f.password_field :current_password, placeholder: "Old Password", class: "form-control" %>
            </div>
            <div class="form-group">
              <!-- <input type="password" class="form-control" placeholder="New Password"> -->
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New Password" %>
            </div>
            <div class="form-group">
              <!-- <input type="password" class="form-control" placeholder="Confirm Password"> -->
               <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
            </div>
            <div class="form-group">
              <!-- <button class="btn btn-theme btn-block">Save</button> -->
              <%= f.submit "Save", class: "btn btn-theme btn-block" %>
            </div>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $(document).ready(function () {
      $(".show_hide").click(function () {
        var elem = $(".show_hide").text();
        if (elem == "Read Full Review") {
          //Stuff to do when btn is in the read more state
          $(".show_hide").text("View Less");
          $(".more_text").addClass('show');
        } else {
          //Stuff to do when btn is in the read less state
          $(".show_hide").text("Read Full Review");
          $(".more_text").removeClass('show');
        }
      });
    });
</script>
<script type="text/javascript">
$(document).ready(function(){
$("#update_form").validate({
    rules: {
      "current_password":{
        //required: true,
        // minlength: 8,
        // maxlength: 16
      },
      "password":{
        // required: true,
        // minlength: 8,
        // maxlength: 16
      },
      "password_confirmation":{
        //required: true,
        // equalTo: "#user_password",
        // minlength: 8,
        // maxlength: 16
      }, 
    messages: { 
            "password": {
              required: "Please enter a new Password*"
            },
            "password_confirmation": {
              equalTo: "Confirm password didn't match."
            }
        }
    }   
  });
  });

function preview(input) {
           if (input.files && input.files[0]) {
               var reader = new FileReader();
                 reader.onload = function (e) {
                   $('#user_pic')
                       .attr('src', e.target.result);
               };

               reader.readAsDataURL(input.files[0]);
           }
       }

</script>
<style type="text/css">

  .msg-error{
        color: #e80b0b;
  }
  .error{
            color: #e80b0b;

  }
  img.profile-pic {
    position: relative;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    border-radius: 50%;
    background: gray;
}
i.fa.fa-camera.fa-cmra {
    font-size: 25px;
    position: absolute;
    top: 11px;
    left: 93px;
}
.upld-img input[type="file"] {
    background: orange;
    width: 99px;
}
.upld-img {
    margin-top: 15px;
}
.usr-pro {
    margin-bottom: 24px;
}
.form-control.custm-control {
    height: auto;
}
.fb-pd{
  padding: 8px;
}
.cke_contents{
    height: 244px!important;
}
.last-btn {
    text-align: center;
    width: 100%;
}
</style>
