<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
   <div class="page-wrapper">
      <div class="login-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10 offset-lg-1">
              <div class="login-box">
                <div class="row no-gutters row-eq-height">
                  <div class="col-md-5 col-xl-5">
                    <div class="login-content-box">
                      <div class="login-text">
                        <h3>Welcome</h3>
                        <h2>to website</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 col-xl-7">
                    <div class="login-form-box">
                      <div class="right-heading">
                        <h2>Join Us</h2>
                      </div>
                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html => {:id => "registration_form"}) do |f| %>
                      <%#= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group">
                          <br>
                          <!-- <input type="text" class="form-control" id="" placeholder="Username"> -->
                           <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Username" %>
                        </div>
                        <div class="form-group">
                          <!-- <input type="email" class="form-control" id="" placeholder="Email Address"> -->
                          <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email Address" %>
                        </div>
                        <div class="form-group">
                          <!-- <input type="Password" class="form-control" id="" placeholder="Password"> -->
                         <%= f.password_field :password, autocomplete: "new-password",class: "form-control", placeholder: "Password" %>
                        </div>
                        <div class="form-group">
                          <!-- <input type="Password" class="form-control" id="" placeholder="Confirm Password"> -->
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
                        </div>
                        <div class="form-group">
                          <div class="captcha">
                            <center><%= recaptcha_tags id:"g-recaptcha-response" %></center>
                          <span class="msg-error error"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <p class="mb-0">On Clicking Register, you indicate that you have read and understand our
                            <a class="yellow-text" href="/homes/privacy_policy">Privacy Policy</a> & <a class="yellow-text" href="/homes/term_condition">Terms of
                              Use</a> add represent that you are at least 13 year of age.</p>
                        </div>
                        <div class="form-group text-center mb-0">
                           <%= f.submit "Register", class: "btn btn-success" %>
                          <!-- <a href="#" class="btn btn-success">Register</a> -->
                        </div>
                        <div class="orline">
                          <hr class="horizontal-line"><span>OR</span>
                        </div>
                        <div class="form-group text-center1 mb-0 mt30">
                          <a href="#" class="btn btn-success blue"><img src="/assets/facebook.png">continue with
                            facebook</a>
                        </div>
                        <p class="text-center mt20"> Already a member? <a class="yellow-text"><%=link_to "Login", new_session_path(resource_name)%></a></p>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
$("form").submit(function(event) {
   var recaptcha = $("#g-recaptcha-response").val();
   //alert(recaptcha);
   if (recaptcha === "") {
      event.preventDefault();
       $( '.msg-error').text( "recaptcha is required." );
   }
});
</script>

<script type="text/javascript">
$(document).ready(function(){
$("#registration_form").validate({
    rules: {
      "user[name]":{
        required: true,
        minlength: 2,
        maxlength: 28
      },
      "user[email]":{
        required: true
      },
      "user[password]":{
        required: true,
        minlength: 8,
        maxlength: 16
      },
      "user[password_confirmation]":{
        required: true,
        equalTo: "#user_password",
        minlength: 8,
        maxlength: 16
      }
    }   
  });
  });

</script>

