<div class="tab-pane fade show active tab-3" id="nav-name" role="tabpanel">
    <% if @reviews_normal.blank? %>
    <p>No Record Found</p>
    <%else%>
    <div class="home-slider1">
        <%  @reviews_normal&.each  do |user_reviews|%>
        <% if user_reviews.present?%>
        <%#binding.pry%>
        <%@a = User.find_by(id: user_reviews.user_id) %>
        <div class="slide-item ">
            <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserImg">
                        <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                        <div class="name-date">
                            <h4>
                                <%= @a&.name%>
                            </h4>
                            <span>
                                <%=user_reviews.created_at.strftime("%B %d, %Y")%></span>
                        </div>
                        <div class="score-rating">
                            <%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10
                            <%#= user_reviews&.product&.category_name%>
                        </div>
                    </div>
                </div>
                <div class="ratingText">
                        <%#=truncate(user_reviews&.comment)%>
                        <%= truncate(strip_tags(user_reviews&.comment), omision: "...", length: 150).html_safe%>
                    <!-- <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a> -->
                </div>
                <div class="d-flex justify-content-end">
                    <div class="like-dislike">
                        <!-- <span><img style="width:25px" src="/assets/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" alt=""> 07</span> -->
                    </div>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
<div class="tab-pane fade tab-3 " id="nav-metascore" role="tabpanel">
    <% if @review_expert.blank? %>
    <p>No Record Found</p>
    <%else%>
    <div class="home-slider1">
        <% @review_expert&.each  do |user_reviews|%>
        <%#binding.pry%>
        <% if user_reviews.present?%>
        <% @a = User.find_by(id: user_reviews.user_id) %>
        <div class="slide-item">
            <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserImg">
                        <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                        <div class="name-date">
                            <h4>
                                <%= User.find_by(id: user_reviews.user_id).name%>
                            </h4>
                            <span>
                                <%=user_reviews.created_at.strftime("%B %d, %Y")%></span>
                        </div>
                        <div class="score-rating">
                            <%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10</div>
                    </div>
                </div>
                <div class="ratingText">
                        <%#=truncate(user_reviews&.comment)%>
                        <%= truncate(strip_tags(user_reviews&.comment), omision: "...", length: 150).html_safe%>
                    <!-- <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a> -->
                </div>
                <div class="d-flex justify-content-end">
                    <div class="like-dislike">
                        <!-- <span><img style="width:25px" src="/assets/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" alt=""> 07</span> -->
                    </div>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".ratingText").shorten({
        "showChars": 500,
        "moreText": "Read Full Review",
        "lessText": "Less",
    });
});
</script>