<div class="tab-pane fade show active tab-3" id="nav-name" role="tabpanel">
    <% if @reviews_normal.blank? %>
    <p>No Record Found</p>
    <%else%>
    <div class="home-slider1">
        <%  @reviews_normal&.each  do |user_reviews|%>
        <% if user_reviews.present?%>
        <%#binding.pry%>
        <%@a = User.find_by(id: user_reviews.user_id) %>
        <div class="slide-item ">
            <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserImg">
                        <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                        <div class="name-date">
                            <h4>
                                <%= @a&.name%>
                            </h4>
                            <span>
                                <%=user_reviews.created_at.strftime("%B %d, %Y")%></span>
                        </div>
                        <div class="score-rating">
                            <%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10
                            <% if user_reviews&.criteria.present?%>
                            <% eval(user_reviews.criteria).map do |key,value| %>
                            <p>
                                <%=key%>:
                                <% if value > 0 %>
                                <% value.times do %>
                                <span class="fa fa-star checked"></span>
                                <% end %>
                            </p>
                            <%else%>
                            N/A
                            <%end%>
                            <% end %>
                            <% end %>
                            <%#= user_reviews&.product&.category_name%>
                        </div>
                    </div>
                </div>
                <div class="ratingText">
                    <%#=truncate(user_reviews&.comment)%>
                    <%=truncate(strip_tags(user_reviews&.comment), omision: "...", length: 100)&.html_safe%>
                    <%#= truncate(strip_tags(user_reviews&.comment), length: 130).html_safe%>
                    <%if user_reviews&.comment.present? && user_reviews&.comment&.length > 100 %>
                    <a href="web/users/read_full_review?id=<%= user_reviews&.id %>">Read Full Review</a>
                    <%end%>
                </div>
                <div class="d-flex justify-content-end">
                    <% if current_user&.present? %>
                    <div class="like-dislike">
                        <span>
                            <img style="width:25px" src='<%= review_vote_status(user_reviews.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=user_reviews.id%>" alt="" onclick="voting(this)">
                            <%= voting_like_count(user_reviews)%></span>
                        <span><img style="width:25px" src='<%= review_vote_status_dislike(user_reviews.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=user_reviews.id%>" alt="" onclick="voting(this)">
                            <%= voting_dislike_count(user_reviews)%></span>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
<div class="tab-pane fade tab-3 " id="nav-metascore" role="tabpanel">
    <% if @review_expert.blank? %>
    <p>No Record Found</p>
    <%else%>
    <div class="home-slider1">
        <% @review_expert&.each  do |user_reviews|%>
        <%#binding.pry%>
        <% if user_reviews.present?%>
        <% @a = User.find_by(id: user_reviews.user_id) %>
        <div class="slide-item">
            <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserImg">
                        <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                        <div class="name-date">
                            <h4>
                                <%= User.find_by(id: user_reviews.user_id).name%>
                            </h4>
                            <span>
                                <%=user_reviews.created_at.strftime("%B %d, %Y")%></span>
                        </div>
                        <div class="score-rating">
                            <%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10
                            <% if user_reviews&.criteria.present?%>
                            <% eval(user_reviews.criteria).map do |key,value| %>
                            <p>
                                <%=key%>:
                                <% if value > 0 %>
                                <% value.times do %>
                                <span class="fa fa-star checked"></span>
                                <% end %>
                            </p>
                            <%else%>
                            N/A
                            <%end%>
                            <%end %>
                            <% end %>
                            <%#= user_reviews.criteria.split(",") %>
                        </div>
                    </div>
                </div>
                <div class="ratingText">
                    <%#=truncate(user_reviews&.comment)%>
                    <%=truncate(strip_tags(user_reviews&.comment), omision: "...", length: 100)&.html_safe%>
                    <%#= truncate(strip_tags(user_reviews&.comment), length: 130).html_safe %>
                    <%if user_reviews&.comment.present? && user_reviews&.comment&.length > 100 %>
                    <a href="javascript:void(0);" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<%= user_reviews&.comment%>">Read Full Review</a>
                    <%end%>
                </div>
                <div class="d-flex justify-content-end">
                    <%if current_user.present?%>
                    <div class="like-dislike">
                        <img style="width:25px" src='<%= review_vote_status(user_reviews.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=user_reviews.id%>" alt="" onclick="voting(this)">
                        <%= voting_like_count(user_reviews)%></span>
                        <span><img style="width:25px" src='<%= review_vote_status_dislike(user_reviews.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=user_reviews.id%>" alt="" onclick="voting(this)">
                            <%= voting_dislike_count(user_reviews)%></span>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <%end%>
        <%end%>
        <%end%>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".ratingText").shorten({
        "showChars": 500,
        "moreText": "Read Full Review",
        "lessText": "Less",
    });
});
</script>
<script type="text/javascript">
function voting(a) {
    var current_object = a;
    var data = a.id.split("_");
    var review_status = data[0];
    var review_id = data[1];

    $.ajax({
        url: '/web/reviews/get_vote_for_review',
        type: 'post',
        data: {
            id: review_id,
            status: review_status
        },

        success: function(result) {
            // alert(result);
            // alert(current_object);
            var parent = current_object.parentElement;
            if (result.status == true) {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/like_active.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)" >' + result.dislike_count + '</span>'
            } else {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/Facebook_like_thumb.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/dislike_active.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)">' + result.dislike_count + '</span>'
            }
        }

    });
}
</script>
<script>
// $(document).ready(function() {
$(document).on("turbolinks:load",function(){
    $('[data-toggle="popover"]').popover();
});
</script>