    <div class="tab-pane fade in show active tab-3" id="nav-name" role="tabpanel">

    <% if @reviews_normal.blank? %>
    <p>No Record Found</p>
    <%else%>  
       <div class="home-slider1">
      <%  @reviews_normal&.each  do |user_reviews|%>

      <% if user_reviews.present?%>
      <%@a = User.find_by(id: user_reviews.user_id) %>

      <div class="slide-item ">
        <div class="row profile">
          <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/Hadie-profile-pic-circle-1.png"%>">
          </div>
          <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny"><%= @a&.name%></span><br>
           <p><%= user_reviews&.product&.category&.category_name%></p>
           <span><%=user_reviews.created_at.strftime("%B %d, %Y")%></span><br>
           <span class="date1"><%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10</span>
         </div>
          <p class="user-view"><%=truncate(user_reviews&.comment, :length => 245)%></p>

         <div class="thumb-img">

          </div>
        </div>
      </div>
      <%end%>
      <%end%>
      <%end%>
</div>
  </div>

<div class="home-slider1 tab-pane fade  tab-pane fade in show tab-3 " id="nav-metascore" role="tabpanel">

<% if @review_expert.blank? %>
  <p>No Record Found</p>
  <%else%>
      <% @review_expert&.each  do |user_reviews|%>
      <%#binding.pry%>  
      <% if user_reviews.present?%>
      <% @a = User.find_by(id: user_reviews.user_id) %>
      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/Hadie-profile-pic-circle-1.png"%>">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny"><%= User.find_by(id: user_reviews.user_id).name%></span><br>
           <p><%= user_reviews&.product&.category&.category_name%></p>
           <span><%=user_reviews.created_at.strftime("%B %d, %Y")%></span><br>
           <span class="date1"><%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10</span>
         </div>
          <p class="user-view"><%=truncate(user_reviews&.comment, :length => 245)%></p>

         <div class="thumb-img">
                </div>
        </div>
      </div>
    
      <%end%>
      <%end%>
      <%end%>
</div>