 <div class="home-slider1 tab-pane fade in show active">
 	 <% if @reviews.blank? %>
         <br><br>
        <h3 class="main-title">No Record Founds.</h3>
    <% else %>
      <% @category_wise_review = 0 %>
      <% @reviews.each  do |user_reviews| %>
      <% if user_reviews.present?%>
      <%@a = User.find_by(id: user_reviews.user_id) %>
      <% if @a.user_type == "Normal User" %>
      <% if @category_wise_review < 12 %>
      <div class="slide-item">
        <div class="row profile">
          <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="<%= @a&.image&.file_url%>">
          </div>
          <div class="col-md-7 col-sm-7 col-lg-7">
             <span class="johny"><%= @a&.name%></span>
             <!-- <p><%#= user_reviews&.product&.category&.category_name%></p> <br> -->
             <span><%=user_reviews.created_at.strftime("%B %d, %Y")%></span><br>
             <span class="date1"><%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10</span>
          </div>
          <p class="user-view"><%=truncate(user_reviews&.comment, :length => 245)%></p>
          <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
          <div class="thumb-img">
              <img src="/assets/Facebook_like_thumb.png" alt="">
              <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
          </div>
        </div>
      </div>
     <%end%>
    <%end%>
   <%end%>
  <%end%>
  <%end%>

  
      <% @category_wise_review = 0 %>
      <% @reviews.each  do |user_reviews| %>
      <% if user_reviews.present?%>
      <%@a = User.find_by(id: user_reviews.user_id) %>
      <% if @a.user_type == "Expert User" %>
      <% if @category_wise_review < 12 %>
      <div class="slide-item">
        <div class="row profile">
          <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="<%= @a&.image&.file_url%>">
          </div>
          <div class="col-md-7 col-sm-7 col-lg-7">
             <span class="johny"><%= @a&.name%></span>
             <!-- <p><%#= user_reviews&.product&.category&.category_name%></p><br> -->
             <span><%=user_reviews.created_at.strftime("%B %d, %Y")%></span><br>
             <span class="date1"><%= user_reviews&.rating.to_i == 10 ? "10" : "0#{user_reviews&.rating}"%>/10</span>
          </div>
          <p class="user-view"><%=truncate(user_reviews&.comment, :length => 245)%></p>
          <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
          <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
          </div>
        </div>
      </div>
    <%end%>
   <%end%>
  <%end%>
  <%end%>
</div>