<!-- <div class="tab-content" id="tabScore"> -->
            <div class="tab-pane fade show active" id="nav-movies" role="tabpanel">
              <div class="row">

              	<%if @total_products.blank?%>
              	     <!-- <h3>No Record Founds</h3> -->
                      <div class="col-md-4">
                  <div class="score-card" id="tab1">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>No Score Founds</h4>
                        <span><%#= product&.updated_at&.strftime("%d/%m/%Y")%></span>
                      </div>
                      <!-- <div class="score-rating">08/10</div> -->
                    </div>
                    <p><%#= sanitize(product&.description)%></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <!-- <span><img style="width:25px" src="/assets/Facebook_like_thumb.png" alt=""> 07</span> -->
                        <!-- <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" alt=""> 07</span> -->
                      </div>
                      <!-- <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a> -->
                    </div>
                  </div>
                </div>
              	 <%else%>
                 <% i = 0 %>
                <% @total_products.each do |product|%>
                 <%#next unless product.reviews.pluck(:user_id).include?(current_user.id)%>
                <div class="col-md-4">
                  <div class="score-card" id="tab1">
                    <div class="score-card-top">
                      <div class="name-date">
                        <%# product&.category_name %>
                        <h4><%= product&.product_name%></h4>
                        <span><%= product&.date&.strftime("%d/%m/%Y")%></span>
                      </div>
                      <%#if product.reviews.pluck("rating").present?%>
                      <!-- <div class="score-rating"><%#=product.reviews[i].rating%>/10</div> -->
                      <div class="score-rating pull"><%= product&.rating rescue 0 %>/10</div>
                      <%# i += 1 %>
                      <%#else%>
                      <!-- <div class="score-rating">0/10</div> -->
                      <%#end%>

                    </div>
                    <!-- <p><%#= truncate(strip_tags(product&.reviews&.where(user_id: current_user.id)&.first&.comment), omision: "...", length: 250).html_safe%></p> -->
                    
                    <p><%= truncate(strip_tags(product.reviews_comments), omision: "...", length: 130).html_safe%></p>
                    <% if product.reviews_comments.size >=  130 %>
                     <!-- <a href="javascript:void(0);" class="pull-right" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<%#= product&.reviews_comments%>">Read Full Review</a> -->
                     <a href="/web/users/<%= product&.id %>/movie_detail">Read Product Detail</a>
                     <%end%>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">

                         <span><img style="width:25px" src='<%= review_vote_status(product&.reviews&.where(user_id: current_user.id)&.first&.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=product&.review_id%>" alt="" onclick="voting(this)"><%= voting_like_count(product&.review_id)%></span>

                        <span><img style="width:25px" src='<%= review_vote_status_dislike(product&.reviews&.where(user_id: current_user.id)&.first&.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=product&.review_id%>" alt="" onclick="voting(this)"><%= voting_dislike_count(product&.review_id)%></span>
                      </div>
                     

                    </div>
                  </div>
                </div>
                <%end%>
                <%end%>
            </div>
        </div>
    <!-- </div> -->
<script>
  $('[data-toggle="popover"]').popover();   
// $(document).ready(function() {
// $(document).on("turbolinks:load",function(){
//     $('[data-toggle="popover"]').popover();
// });
</script>
<style type="text/css">
  .score-card-top{
    justify-content:space-between;
  }
  .score-rating {
        min-width: 58px;
  }
.score-card p {
   
    margin-bottom: 25px;
  }
</style>