

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>


<h2>Blockchain Info.</h2>
  <%if @data.present?%>
<table class="table-responsive">
 
  <tr>
    <td class="abc">id</td>
    <td><%=@data&.id%></td>
    
  </tr>
  <tr>
    <td class="abc">blockchain hash</td>
    <td><%=@data&.blockchain_hash%></td>
    
    
  </tr>
  <tr>
    <td class="abc">Mined</td>
    <td><%=@data&.mined%></td>
    
    
  </tr>
  <tr>
    <td class="abc">Connection</td>
    <td><%=@data&.connection%></td>

  </tr>
  <tr>
    <td class="abc">product_blockchain_id</td>
<td><%=@data&.product_blockchain_id%></td>

  </tr>
  <tr>
    <td class="abc">rating</td>
    <td><%=@data&.rating%></td>
    
  </tr>
</table>
<%else%>
<p>Data not found.</p>
<%end%>

<style type="text/css">
  
table.table-responsive {
    max-width: 750px;
    margin: 30px auto;
}
td.abc {
    white-space: nowrap;
}

</style>

