<div>
           <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserInfo">
                        <div class="user-firstsec">
                           <div class="name-date">
<td><%=@data&.id%></td><br>
<td><%=@data&.blockchain_hash%></td><br>
<td><%=@data&.mined%></td><br>
<td><%=@data&.connection%></td><br>
<td><%=@data&.product_blockchain_id%></td><br>
<td><%=@data&.rating%></td>

</div>
</div>
</div>
</div>
</div>
</div>