<div class="page-wrapper">
    <div class="container home-wrap">
       <!--  <div class="row hall-heading">
            <h2 class="widget-title mt-0">HALL OF FAME</h2>
        </div> -->
 <!--        <div class="row">
            <div class="col-md-4 image-col">
                <%# @count_image = 0 %>
                <%# @products&.each do |product|%>
                <%# if @count_image <= 2 %>
                <div class="image1" style="background-image: url('<%#= product.image.first.file_url%>');">
                    <div class="percent-section2">
                        <p class="pheading">
                            <%#= product&.product_name%>
                        </p>
                        <p>
                            <%#= truncate(strip_tags(product.description), omision: "...", length: 130).html_safe %>
                        </p>
                    </div>
                </div>
                <%# @count_image += 1 %>
                <%#end%>
                <%#end%>
            </div>
            <div class="col-md-8 iframe-col">
                <%# @count_video = 0 %>
                <%# @products&.each_with_index do |product, index| %>
                <%# if index == 0%>
                <%# if product.video.present? %>
                <%#= video_tag product&.video_url, controls: true, autoplay: false, width: "660",height: "515"%>
                <%#else%>
                 <img width="560" height="315" src="/assets/dummy_video.jpg" />
                <%#end%>
                <%#end%>
                <%#end%>
            </div>
        </div> -->
        <div class="row theatres-row">
            <div class="col-md-12">
                <h2 class="widget-title">VIDEO</h2>
                <div class="nav nav-tabs nav-pills" id="nav-tabScore" role="tablist">
                    <% @categorys&.each_with_index do |category, index|%>
                    <% if index == 0 %>
                    <a class="nav-item nav-link active fonts trailer-nav show_data" data-toggle="pill" class="tab-width" role="tab" id="<%= category.id %>">
                        <%= category.category_name%> </a>
                    <%else%>
                    <a class="nav-item nav-link fonts trailer-nav show_data" data-toggle="pill" class="tab-width" role="tab" id="<%= category.id%>">
                        <%= category.category_name%></a>
                    <%end%>
                    <%end%>
                </div>
                <div class="tab-content theatres-content" id="tabScore">
                  <div class="tab-pane fade show active" id="tab-2" role="tabpanel">
                    <% @products&.each do |product| %>
                    <% if product.category_name == @categorys&.first&.category_name %>
                    <div class="row tranding-item-row no-guttors">
                        <div class="col-md-6">
                            <div class="youtube-image2">
                                <% if product.video.present? %>
                                <%= video_tag product&.video_url, controls: true, autoplay: false, width: "560",height: "315"%>
                                <%else%>
                                <img width="560" height="315" src="/assets/dummy_video.jpg" />
                                <!-- <iframe class="youtube-icon" src="/assets/dummy_video.jpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                <%end%>
                            </div>
                        </div>
                        <div class="col-md-6 youtube-content ">
                            <figure class="para-Margin-top">
                                <h4>
                                    <%= product.product_name %>:
                                    <%= product.category_name %>
                                </h4>
                                <p>
                                    <%= truncate(strip_tags(product.description), omision: "...", length: 400).html_safe%>
                                </p>
                                <p><span></span>
                                    <%= product&.date&.strftime("%B %d, %Y")%>
                                </p>
                            </figure>
                        </div>
                    </div>
                    <%end%>
                    <%end%>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    // debugger;
    $('#1').click();
    $('.show_data').click(function() {
        var id = $(this).attr("id");
        $.ajax({
            url: '/web/users/hollframe',
            type: 'get',
            data: {
                id: id
            }
        });
    });
});
</script>