<%if current_user.present? %>
  <div class="wrapper">
    <header class="header">
      <nav id="main-navbar" class="main-navbar navbar navbar-expand-lg bg-primary">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center main-nav">
            <% @category.each do |category| %>
            <li class="nav-item dropdown mega-dropdown">
              <a class="nav-link user_type" href="javascript:void(0);" id="<%= category.id%>"><%= category.category_name%></a>
              <div class="dropdown-menu mega-menu" style="display: none;">
                <div class="row">
                  <div class="col-md-3">
                    <div class="custom-post m-0">
                      <div class="custom-img">
                        <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="custom-content justify-content-end">
                        <p class="mb-2">Best & Worst Films at the 2019 Cannes Film festival</p>
                      </div>
                    </div>
                  </div>
                  <%#%>
                  <div class="col-md-3">
                    <ul class="mega-menu-list">
                      <li>
                        <a class="" role="button" href="#">All Movies </a></li>
                        <li><a href="#">Best of Netflix</a></li>
                        <li><a href="#">New to DVD & Streaming</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="mega-menu-list">
                        <li><a href="#">In Theaters</a></li>
                        <li><a href="#">Best Of Amazon</a></li>
                        <li class="dropdown mega-subdropdown">
                          <a href="#">Browse Movies By Genre</a> 
                          <div class="dropdown-menu mega-submenu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Adventure</a>
                            <a class="dropdown-item" href="#">Amination</a>
                            <a class="dropdown-item" href="#">Biography</a>
                            <a class="dropdown-item" href="#">Comedy</a>
                            <a class="dropdown-item" href="#">Fantacy</a>
                            <a class="dropdown-item" href="#">Horror</a>
                            <a class="dropdown-item" href="#">Reality</a>
                            <a class="dropdown-item" href="#">Romance</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Adventure</a>
                            <a class="dropdown-item" href="#">Amination</a>
                            <a class="dropdown-item" href="#">Biography</a>
                            <a class="dropdown-item" href="#">Comedy</a>
                            <a class="dropdown-item" href="#">Fantacy</a>
                            <a class="dropdown-item" href="#">Horror</a>
                            <a class="dropdown-item" href="#">Reality</a>     
                            <a class="dropdown-item" href="#">Romance</a>
                          </div></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-list">
                          <li><a href="#">Comming Soon</a></li>
                          <li><a href="#">Best movies of All Time</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <%end%>
             <!--    <li class="nav-item dropdown mega-dropdown"><a class="nav-link" href="#">Games</a>
                  <div class="dropdown-menu mega-menu">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="custom-post m-0">
                          <div class="custom-img">
                            <img src="/assets/Layer3.png" class="img-fluid" alt="">
                          </div>
                          <div class="custom-content justify-content-end">
                            <p class="mb-2">The Month’s Free Game</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-list">
                          <li>
                            <a class="" role="button" href="#">All Game </a></li>
                            <li><a href="#">PC </a></li>
                            <li><a href="#">Will U    </a></li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li><a href="#">PS4</a></li>
                            <li><a href="#">Switch</a></li>
                            <li><a href="#"> PS Vita</a> </li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li><a href="#">Xbox One</a></li>
                            <li><a href="#">3DS</a></li>
                            <li><a href="#">iOS</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link" href="#">Tv</a>
                    <div class="dropdown-menu mega-menu">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="custom-post m-0">
                            <div class="custom-img">
                              <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="custom-content justify-content-end">
                              <p class="mb-2">Top TV Show to Watch</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li>
                              <a class="" role="button" href="#">All TV   </a></li>
                              <li><a href="#">Best Of Netflix </a></li>
                              <li class="dropdown mega-subdropdown">
                                <a href="#">Browse Music By Genre</a> 
                                <div class="dropdown-menu mega-submenu">
                                  <a class="dropdown-item" href="#">Dance</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Business</a>
                                  <a class="dropdown-item" href="#">Comedy</a>
                                  <a class="dropdown-item" href="#">Horror</a>
                                  <a class="dropdown-item" href="#">Reality</a>
                                  <a class="dropdown-item" href="#">Romance</a>
                                  <a class="dropdown-item" href="#">Drama</a>
                                  <a class="dropdown-item" href="#">Game Shows</a>
                                  <a class="dropdown-item" href="#">Health</a>
                                  <a class="dropdown-item" href="#">News</a>
                                  <a class="dropdown-item" href="#">Cricket</a>
                                  <a class="dropdown-item" href="#">Suspence</a>
                                  <a class="dropdown-item" href="#">Adventure</a>
                                  <a class="dropdown-item" href="#">Talk Interviews</a>
                                  <a class="dropdown-item" href="#">Song</a>     
                                  <a class="dropdown-item" href="#">Dance</a>
                                  <a class="dropdown-item" href="#">Romance</a>
                                </div>
                              </li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li><a href="#">New Shows </a></li>
                                <li><a href="#">Best Of Amazon</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li><a href="#">Comming Soon</a></li>
                                <li><a href="#">Best Tv Shows</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#">Music</a>
                        <div class="dropdown-menu mega-menu">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="custom-post m-0">
                                <div class="custom-img">
                                  <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="custom-content justify-content-end">
                                  <p class="mb-2">Best & Worst Films at the 2019 Cannes Film festival</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li>
                                  <a class="" role="button" href="#">All Music    </a></li>
                                  <li><a href="#">Best New Albums  </a></li>
                                  <li class="dropdown mega-subdropdown"><a href="#">Best Albums of All Time</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-3">
                                  <ul class="mega-menu-list">
                                    <li><a href="#">New Releases</a></li>
                                    <li><a href="#">New Trendings    </a></li>
                                    <li class="dropdown mega-subdropdown"><a href="#">Browse Music By Genre</a>
                                     <div class="dropdown-menu mega-submenu">
                                      <a class="dropdown-item" href="#">Dance</a>
                                      <a class="dropdown-item" href="#">Blues</a>
                                      <a class="dropdown-item" href="#">Alternative</a>
                                      <a class="dropdown-item" href="#">Comedy</a>
                                      <a class="dropdown-item" href="#">Instrumental</a>
                                      <a class="dropdown-item" href="#">Indie</a>
                                      <a class="dropdown-item" href="#">Folk</a>
                                      <a class="dropdown-item" href="#">House</a>
                                      <a class="dropdown-item" href="#">Pop</a>
                                      <a class="dropdown-item" href="#">Rock</a>
                                      <a class="dropdown-item" href="#">Zazz</a>
                                      <a class="dropdown-item" href="#">Latin</a>
                                      <a class="dropdown-item" href="#">Metal</a>
                                      <a class="dropdown-item" href="#">Punk</a>
                                      <a class="dropdown-item" href="#">Rock</a>  
                                     <a class="dropdown-item" href="#">Soul</a> 
                                      <a class="dropdown-item" href="#">Dance</a>
                                      <a class="dropdown-item" href="#">Romance</a>
                                    </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-3">
                                  <ul class="mega-menu-list">
                                    <li><a href="#">Comming Soon</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                              <a class="nav-link" href="#">Books</a>
                              <div class="dropdown-menu mega-menu">
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="custom-post m-0">
                                      <div class="custom-img">
                                        <img src="/assets/Rectangle3.png" class="img-fluid" alt="">
                                      </div>
                                      <div class="custom-content justify-content-end">
                                        <p class="mb-2">Best & Worst books at 2019 Casta book Awards </p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <ul class="mega-menu-list">
                                      <li>
                                        <a class="" role="button" href="#">All Books</a></li>
                                        <li><a href="#">Best books of All Time  </a></li>
                                        </ul>
                                      </div>
                                      <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                          <li><a href="#">In Market</a></li>
                                          <li class="dropdown mega-subdropdown"><a href="#"> Browse Books By Genre</a>
                                          <div class="dropdown-menu mega-submenu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                            <a class="dropdown-item" href="#">Amination</a>
                                            <a class="dropdown-item" href="#">Biography</a>
                                            <a class="dropdown-item" href="#">Comedy</a>
                                            <a class="dropdown-item" href="#">Fantacy</a>
                                            <a class="dropdown-item" href="#">Horror</a>
                                            <a class="dropdown-item" href="#">Reality</a>
                                            <a class="dropdown-item" href="#">Romance</a>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                            <a class="dropdown-item" href="#">Amination</a>
                                            <a class="dropdown-item" href="#">Biography</a>
                                            <a class="dropdown-item" href="#">Comedy</a>
                                            <a class="dropdown-item" href="#">Fantacy</a>
                                            <a class="dropdown-item" href="#">Horror</a>     
                                            <a class="dropdown-item" href="#">Reality</a>
                                            <a class="dropdown-item" href="#">Romance</a>
                                          </div></li>
                                        </ul>
                                      </div>
                                      <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                          <li><a href="#">Comming Soon</a></li>
                                          <li><a href="#">Best Tv Shows</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="nav-item dropdown mega-dropdown">
                                    <a class="nav-link" href="#">Mobile phones</a>
                                    <div class="dropdown-menu mega-menu">
                                      <div class="row">
                                        <div class="col-md-3">
                                          <div class="custom-post m-0">
                                            <div class="custom-img">
                                              <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="custom-content justify-content-end">
                                              <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-3">
                                          <ul class="mega-menu-list">
                                            <li>
                                              <a class="" role="button" href="#">All TV   </a></li>
                                              <li><a href="#">Best Of Netflix </a></li>
                                              <li class="dropdown mega-subdropdown">
                                                <a href="#">Browse Music By Genre</a> 
                                                <div class="dropdown-menu mega-submenu">
                                                  <a class="dropdown-item" href="#">Dance</a>
                                                  <a class="dropdown-item" href="#">Action</a>
                                                  <a class="dropdown-item" href="#">Business</a>
                                                  <a class="dropdown-item" href="#">Comedy</a>
                                                  <a class="dropdown-item" href="#">Horror</a>
                                                  <a class="dropdown-item" href="#">Reality</a>
                                                  <a class="dropdown-item" href="#">Romance</a>
                                                  <a class="dropdown-item" href="#">Drama</a>
                                                  <a class="dropdown-item" href="#">Game Shows</a>
                                                  <a class="dropdown-item" href="#">Health</a>
                                                  <a class="dropdown-item" href="#">News</a>
                                                  <a class="dropdown-item" href="#">Cricket</a>
                                                  <a class="dropdown-item" href="#">Suspence</a>
                                                  <a class="dropdown-item" href="#">Adventure</a>
                                                  <a class="dropdown-item" href="#">Talk Interviews</a>
                                                  <a class="dropdown-item" href="#">Song</a>     
                                                  <a class="dropdown-item" href="#">Dance</a>
                                                  <a class="dropdown-item" href="#">Romance</a>
                                                </div></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3">
                                              <ul class="mega-menu-list">
                                                <li><a href="#">New Shows </a></li>
                                                <li><a href="#">Best Of Amazon</a></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3">
                                              <ul class="mega-menu-list">
                                                <li><a href="#">Comming Soon</a></li>
                                                <li><a href="#">Best Tv Shows</a></li>
                                              </ul>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="nav-item dropdown mega-dropdown">
                                          <a class="nav-link" href="#">Laptops</a>
                                          <div class="dropdown-menu mega-menu">
                                            <div class="row">
                                              <div class="col-md-3">
                                                <div class="custom-post m-0">
                                                  <div class="custom-img">
                                                    <img src="images/mega-drop-img.jpg" class="img-fluid" alt="">
                                                  </div>
                                                  <div class="custom-content justify-content-end">
                                                    <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <ul class="mega-menu-list">
                                                  <li>
                                                    <a class="" role="button" href="#">All TV   </a></li>
                                                    <li><a href="#">Best Of Netflix </a></li>
                                                    <li class="dropdown mega-subdropdown">
                                                      <a href="#">Browse Music By Genre</a> 
                                                      <div class="dropdown-menu mega-submenu">
                                                        <a class="dropdown-item" href="#">Dance</a>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Business</a>
                                                        <a class="dropdown-item" href="#">Comedy</a>
                                                        <a class="dropdown-item" href="#">Horror</a>
                                                        <a class="dropdown-item" href="#">Reality</a>
                                                        <a class="dropdown-item" href="#">Romance</a>
                                                        <a class="dropdown-item" href="#">Drama</a>
                                                        <a class="dropdown-item" href="#">Game Shows</a>
                                                        <a class="dropdown-item" href="#">Health</a>
                                                        <a class="dropdown-item" href="#">News</a>
                                                        <a class="dropdown-item" href="#">Cricket</a>
                                                        <a class="dropdown-item" href="#">Suspence</a>
                                                        <a class="dropdown-item" href="#">Adventure</a>
                                                        <a class="dropdown-item" href="#">Talk Interviews</a>
                                                        <a class="dropdown-item" href="#">Song</a>     
                                                        <a class="dropdown-item" href="#">Dance</a>
                                                        <a class="dropdown-item" href="#">Romance</a>
                                                      </div></li>
                                                    </ul>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <ul class="mega-menu-list">
                                                      <li><a href="#">New Shows </a></li>
                                                      <li><a href="#">Best Of Amazon</a></li>
                                                    </ul>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <ul class="mega-menu-list">
                                                      <li><a href="#">Comming Soon</a></li>
                                                      <li><a href="#">Best Tv Shows</a></li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="nav-item dropdown mega-dropdown">
                                                <a class="nav-link" href="#">Restaurents</a>
                                                <div class="dropdown-menu mega-menu">
                                                  <div class="row">
                                                    <div class="col-md-3">
                                                      <div class="custom-post m-0">
                                                        <div class="custom-img">
                                                          <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="custom-content justify-content-end">
                                                          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                      <ul class="mega-menu-list">
                                                        <li>
                                                          <a class="" role="button" href="#">All TV   </a></li>
                                                          <li><a href="#">Best Of Netflix </a></li>
                                                          <li class="dropdown mega-subdropdown">
                                                            <a href="#">Browse Music By Genre</a> 
                                                            <div class="dropdown-menu mega-submenu">
                                                              <a class="dropdown-item" href="#">Dance</a>
                                                              <a class="dropdown-item" href="#">Action</a>
                                                              <a class="dropdown-item" href="#">Business</a>
                                                              <a class="dropdown-item" href="#">Comedy</a>
                                                              <a class="dropdown-item" href="#">Horror</a>
                                                              <a class="dropdown-item" href="#">Reality</a>
                                                              <a class="dropdown-item" href="#">Romance</a>
                                                              <a class="dropdown-item" href="#">Drama</a>
                                                              <a class="dropdown-item" href="#">Game Shows</a>
                                                              <a class="dropdown-item" href="#">Health</a>
                                                              <a class="dropdown-item" href="#">News</a>
                                                              <a class="dropdown-item" href="#">Cricket</a>
                                                              <a class="dropdown-item" href="#">Suspence</a>
                                                              <a class="dropdown-item" href="#">Adventure</a>
                                                              <a class="dropdown-item" href="#">Talk Interviews</a>
                                                              <a class="dropdown-item" href="#">Song</a>     
                                                              <a class="dropdown-item" href="#">Dance</a>
                                                              <a class="dropdown-item" href="#">Romance</a>
                                                            </div></li>
                                                          </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                          <ul class="mega-menu-list">
                                                            <li><a href="#">New Shows </a></li>
                                                            <li><a href="#">Best Of Amazon</a></li>
                                                          </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                          <ul class="mega-menu-list">
                                                            <li><a href="#">Comming Soon</a></li>
                                                            <li><a href="#">Best Tv Shows</a></li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                    </li>
                                                    <li class="nav-item dropdown mega-dropdown">
                                                      <a class="nav-link" href="#">Reports</a>
                                                      <div class="dropdown-menu mega-menu">
                                                        <div class="row">
                                                          <div class="col-md-3">
                                                            <div class="custom-post m-0">
                                                              <div class="custom-img">
                                                                <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                                              </div>
                                                              <div class="custom-content justify-content-end">
                                                                <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-3">
                                                            <ul class="mega-menu-list">
                                                              <li>
                                                                <a class="" role="button" href="#">All TV   </a></li>
                                                                <li><a href="#">Best Of Netflix </a></li>
                                                                <li class="dropdown mega-subdropdown">
                                                                  <a href="#">Browse Music By Genre</a> 
                                                                  <div class="dropdown-menu mega-submenu">
                                                                    <a class="dropdown-item" href="#">Dance</a>
                                                                    <a class="dropdown-item" href="#">Action</a>
                                                                    <a class="dropdown-item" href="#">Business</a>
                                                                    <a class="dropdown-item" href="#">Comedy</a>
                                                                    <a class="dropdown-item" href="#">Horror</a>
                                                                    <a class="dropdown-item" href="#">Reality</a>
                                                                    <a class="dropdown-item" href="#">Romance</a>
                                                                    <a class="dropdown-item" href="#">Drama</a>
                                                                    <a class="dropdown-item" href="#">Game Shows</a>
                                                                    <a class="dropdown-item" href="#">Health</a>
                                                                    <a class="dropdown-item" href="#">News</a>
                                                                    <a class="dropdown-item" href="#">Cricket</a>
                                                                    <a class="dropdown-item" href="#">Suspence</a>
                                                                    <a class="dropdown-item" href="#">Adventure</a>
                                                                    <a class="dropdown-item" href="#">Talk Interviews</a>
                                                                    <a class="dropdown-item" href="#">Song</a>     
                                                                    <a class="dropdown-item" href="#">Dance</a>
                                                                    <a class="dropdown-item" href="#">Romance</a>
                                                                  </div></li>
                                                                </ul>
                                                              </div>
                                                              <div class="col-md-3">
                                                                <ul class="mega-menu-list">
                                                                  <li><a href="#">New Shows </a></li>
                                                                  <li><a href="#">Best Of Amazon</a></li>
                                                                </ul>
                                                              </div>
                                                              <div class="col-md-3">
                                                                <ul class="mega-menu-list">
                                                                  <li><a href="#">Comming Soon</a></li>
                                                                  <li><a href="#">Best Tv Shows</a></li>
                                                                </ul>
                                                              </div>
                                                            </div>
                                                          </li> -->
                                                        </ul>
                                                      </div>
                                                    </nav>
                                              </header>
                                              <%end%>
<div class="home-slider">
  <% @trending.each do |trend|%>
  <%#binding.pry%>
      <div class="slide">
        <div class="slide-img setimg cover" style="background-image: url(<%= trend.image.first.file_url%>)"></div>
        <div class="slide-content container">
          <div class="slide-text">
            <p class="release-date"><span>Release latest movie</span> <i class="fa fa-clock-o"></i> <%= trend&.updated_at&.strftime("%d/%m/%Y")%></p>
            <h1><%= trend.product_name%>: <span>Reviews</span></h1>
            <div class="release-name">
              <h4><%= trend.product_name%> (<%= trend.category_name%>,<%= trend&.updated_at&.strftime("%Y")%> )</h4>
              <h5><%= trend.sub_category_name%></h5>
            </div>
            <p><%= sanitize(trend&.description)%>
            </p>
          </div>
        </div>
      </div>
      <%end%>
      <!-- <div class="slide">
        <div class="slide-img setimg cover" style="background-image: url(/assets/banner.jpg)"></div>
        <div class="slide-content container">
          <div class="slide-text">
            <p class="release-date"><span>Release latest movie : Review</span> <i class="fa fa-clock-o"></i> AUGUST 22,
              2019</p>
            <h1>Avengers: <span>Reviews</span></h1>
            <div class="release-name">
              <h4>Endgame (Movie, 2019)</h4>
              <h5>Release Date, Tickets, Trailers...</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore
              et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Home Slider Close -->

    <div class="page-wrapper">
      <div class="container home-wrap">
        <div class="row">
          <div class="col-md-8">
            <div class="left-side">
              <h3 class="widget-title">AVAILABLE NOW</h3>
              <div class="posts">
                <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <% @products.each do |product|%>
                    <%#binding.pry%>
                    <% if product.sub_category_name != "Comeing Soon"%>
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="<%= product.image.take.file_url%>" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span><%= product.category_name%> : Review</span></p>
                        <h4 class="post-title"><%= product.product_name%> : <%#= product.sub_category_name%></h4>
                        <p><%= sanitize(product.description)%></p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> <%= product&.updated_at&.strftime("%d/%m/%Y")%></span>
                          <a href="JavaScript:Void(0);" class="readmore">Read More></a>
                        </div>
                      </div>
                    </div>
                    <%end%>
                    <%end%>
                  </div>
                </div>
                <!-- <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="/assets/post-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span>Gaming : Review</span></p>
                        <h4 class="post-title">Mass Effect Andromeda</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                          <a href="JavaScript:Void(0);" class="readmore">Read More></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
               <!--  <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="/assets/post-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span>Movie : Review</span></p>
                        <h4 class="post-title">Bharat : Journey of A Man & A Nation Together</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                          <a href="JavaScript:Void(0);" class="readmore">Read More></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="custom-post big-post">
                  <div class="custom-img">
                    <img src="/assets/big-banner.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content align-center">
                    <p class="custom-tag"><span>Movie : Review</span></p>
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-side">

              <div class="widget">
                <h3 class="widget-title">UPCOMING RELEASES</h3>
                <% @products.each do |product|%>
                <%if product.sub_category_name == "Comeing Soon"%>
                <div class="custom-post">
                  <div class="custom-img">
                    <img src="<%= product.image.take.file_url%>" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title"><%= product.product_name%>: <%= product.category_name%></h4>
                    <p><%= sanitize (product.description)%></p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> <%= product&.updated_at&.strftime("%d/%m/%Y")%></p>
                  </div>
                </div>
                <%end%>
                <%end%>
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
               <!--  <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
              </div>

              <div class="widget reviewe-widget">
                <h3 class="widget-title">Reviewed Today</h3>
                <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div>
                <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div>
                <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div>
                <div class="d-flex align-items-start reviewe-widget-item">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">LATEST STORIES</h2>
          </div>
          <div class="row small">
            <div class="col-md-7">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/phanther.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">BLACK PHANTHER</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <img src="/assets/clock.png" class="img-clock1" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-PHANTHER-section">
                 <p>94%</p>
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                  <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/arrow.png" class="img-arrow" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">ARROW</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                   <img src="/assets/clock.png" class="img-clock" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-ARROW-section">
                 <p>75%</p>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                 <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/junglee.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">JUNGLEE</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <img src="/assets/clock.png" class="img-clock" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-JUNGLEE-section">
                 <p>91%</p>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/captain.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">CAPTAIN AMERICA</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 <img src="/assets/clock.png" class="img-clock2" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-section">
                 <p>76%</p>
                </div>
              </div>
           
               <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/aquaman.png" class="img-aquaman" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">AQUAMAN</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <img src="/assets/clock.png" class="img-clock2" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-section">
                 <p>90%</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">REVIEWS BY CATEGORIES</h2>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Movies</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Music</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Game</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Tv</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Books</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Laptops</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Mobile Phone</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Restaurants</h4>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">2019 HALL OF FAME</h2>
          </div>
          <div class="row small">
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">AQUAMAN</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">BHARAT</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">OVERLORD</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">ITTEFAQ</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">THE DEAD FIGHTING</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">THE B</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
          </div>
        </div>

 <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">LATEST REVIEWS</h2>
          </div>
</div>
<div class="row">
<div class="col-md-12">
        <button type="button" class="user user_type" id="Normal User">Users score</button>
        <button type="button" class="meta user_type" id="Expert User">Meta score</button>
        <select class="category">
            <option value="category">Category</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
           </select>
</div>
</div>
       




  <!-- Home Slider Start -->
    <div class="home-slider1">
      <%# @users.each do |user|%>
      <%#binding.pry%>
      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">John</span>
           <br>
           <span>June 10, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>
      <%#end%>
      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>
      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>
      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
          <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>
    </div>
    <!-- Home Slider Close -->
          

        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">INDUSTRIAL HEADLINES</h2>
          </div>
          <div class="post-item">
            <div class="row no-gutters align-items-stretch">
              <div class="col-md-5">
                <div class="post-img">
                  <img src="/assets/big-img.jpg" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="post-details">
                  <h4 class="post-title">China April industrial output cools, retail sales</h4>
                  <p>By Suzie Ford | 23 May 2019</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="JavaScript:Void(0);" class="readmore align-self-end">View More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="post-item">
            <div class="row no-gutters align-items-stretch flex-row-reverse">
              <div class="col-md-5">
                <div class="post-img">
                  <img src="/assets/big-img.jpg" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="post-details">
                  <h4 class="post-title">China April industrial output cools, retail sales</h4>
                  <p>By Suzie Ford | 23 May 2019</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="JavaScript:Void(0);" class="readmore align-self-end">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script type="text/javascript">
    	
    	jQuery(document).ready(function () {
    		jQuery('.home-slider').slick({
			    dots: true,
			    infinite: true,
			    speed: 300,
			    slidesToShow: 1,
			});

			jQuery('.home-slider1').slick({
			    dots: true,
			    infinite: true,
			    autoplay: true,
			    arrows : false,
			    speed: 300,
			    slidesToShow: 3,
			});
    	});
    </script>
<script type="text/javascript">
      $(document).ready(function(){
      debugger;
      $('#1').click();
      $('.user_type').click(function(){
        var id=$(this).attr("id");
      $.ajax({
         url: '/web/users',
         type: 'get',
         data: {
          id: id
          }
       });
    });
 });
</script>