<%if current_user.present? %>
<%= render partial: 'web/users/head'%>
<%end%>

<%= render partial: 'web/users/trending'%>
    <!-- Home Slider Close -->

    <div class="page-wrapper">
      <div class="container home-wrap">
        <div class="row">
          <div class="col-md-8">
            <div class="left-side">
              <h3 class="widget-title">TRENDING NOW</h3>
              <div class="posts">
                <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <% @count_trending = 0 %>
                    <% @products&.each_with_index do |product, index|%>
                    <%#binding.pry%>
                   <% if @count_trending < 4%>
                    
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="<%= product&.image&.take&.file_url%>" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span><%= product&.category_name%> : Review</span></p>
                        <h4 class="post-title"><%= product&.product_name%> : <%#= product.sub_category_name%></h4>
                        <p><%= truncate(strip_tags(product&.description), omision: "...", length: 50).html_safe%></p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> <%= product&.date&.strftime("%B %d, %Y")%></span>
                          <!-- <a href="JavaScript:Void(0);" class="readmore">Read More></a> -->
                        </div>
                      </div>
                    </div>
                    <% @count_trending += 1 %>
                    <%end%>
                    <%end%>
                  </div>
                  <a href="/web/users/trending" class="readmore pull-right" class= "btn btn-theme">Read More></a>
                </div>
                <!-- <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="/assets/post-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span>Gaming : Review</span></p>
                        <h4 class="post-title">Mass Effect Andromeda</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                          <a href="JavaScript:Void(0);" class="readmore">Read More></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
                    <div class="col-md-4">
                      <div class="post-img">
                        <img src="/assets/post-img.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="post-details">
                        <p class="tag"><span>Movie : Review</span></p>
                        <h4 class="post-title">Bharat : Journey of A Man & A Nation Together</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book.</p>
                        <div class="post-meta">
                          <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                          <a href="JavaScript:Void(0);" class="readmore">Read More></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="custom-post big-post">
                  <% @count_todays_review = 0%>
                    <% @todays_review.each do |review|%>
                    <% if @count_todays_review == 0 %>
                  <div class="custom-img">
                    <%#binding.pry%>
                    <!-- <img src="/assets/big-banner.jpg" class="img-fluid" alt=""> -->
                    <img src='<%= review&.product&.image.present? ? review&.product&.image&.last&.file&.url : "/assets/review-img.png" %>' style='<%= review&.product&.image.present? ? "width: 100%;height: 100%;" : "" %>'>
                  </div>
                  <div class="custom-content align-center">
                    <p class="custom-tag"><span><%=review&.product&.category&.category_name%> : Review</span></p>
                    <h4 class="custom-title"><%=review&.product&.product_name%> Review</h4>
                    <p><%=truncate(review&.comment, :length => 300)%></p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> <%= review&.created_at&.strftime("%B %d, %Y")%></p>
                  </div>
                  <% if @count_todays_review += 1 %>
                  <%end%>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="right-side">

              <div class="widget">
                <h3 class="widget-title">UPCOMING RELEASES</h3>
                <% @count_upcomeing = 0%>
                <% @products&.each_with_index do |product, index|%>
                   <%#binding.pry%>
                   
                <% if product&.date&.present? %>  
                <%if product&.date > DateTime.now.utc %>
                <% if @count_upcomeing  <  4 %>
                <div class="custom-post">
                  <div class="custom-img">
                    <img src="<%= product&.image&.take&.file_url%>" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title"><%= product&.product_name%>: <%= product&.category_name%></h4>
                      <h5><%#= product.sub_category_name%></h5>
                    <p><%= truncate(strip_tags(product&.description), omision: "...", length: 50).html_safe%></p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> <%= product&.date&.strftime("%B %d, %Y")%></p>
                  </div>
                </div>
                <% @count_upcomeing += 1 %>
                <%end%>
                <%end%>
                <%end%>
                <%end%>
                 <a href="/web/users/upcomeing" class="readmore pull-right">Read More></a>
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
               <!--  <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
              </div>

              <div class="widget reviewe-widget">
                <h3 class="widget-title">Reviewed Today</h3>

             <% @todays_review.each do |review|%>
             <%#binding.pry%>
                  <%# if review.created_at == DateTime.now%>
                  <div class="d-flex align-items-start reviewe-widget-item mb-4">

                    <img src='<%= review&.product&.image.present? ? review&.product&.image&.first&.file&.url : "/assets/review-img.png" %>'>
                    <div class="reviewe-widget-content">
                      <h6><%= review&.product&.category&.category_name%> Reviews | <%=review&.product&.product_name%> Reviews</h6>
                      <p><%=truncate(review&.comment, :length => 72)%> </p>
                      <span><i class="fa fa-clock-o"></i> <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                    </div>
                  </div>

                <%#end%>
                <%end%>

              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">LATEST STORIES</h2>
          </div>
          <div class="row small">
            <div class="col-md-7">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/phanther.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">BLACK PHANTHER</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <img src="/assets/clock.png" class="img-clock1" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-PHANTHER-section">
                 <p>94%</p>
                </div>
              </div>
              <div class="row">
              <div class="col-md-6">
                  <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/arrow.png" class="img-arrow" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">ARROW</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                   <img src="/assets/clock.png" class="img-clock" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-ARROW-section">
                 <p>75%</p>
                </div>
              </div>
              </div>
              <div class="col-md-6">
                 <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/junglee.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">JUNGLEE</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <img src="/assets/clock.png" class="img-clock" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-JUNGLEE-section">
                 <p>91%</p>
                </div>
              </div>
              </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/captain.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">CAPTAIN AMERICA</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                 <img src="/assets/clock.png" class="img-clock2" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-section">
                 <p>76%</p>
                </div>
              </div>
           
               <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/aquaman.png" class="img-aquaman" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">AQUAMAN</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <img src="/assets/clock.png" class="img-clock2" alt="" ><p class="date"> June 12, 2019</p>
                </div>
                <div class="percent-section">
                 <p>90%</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">REVIEWS BY CATEGORIES</h2>
          </div>
          <div class="row">
            <% @count_category_reviews = 0%>
            <%@category&.each do |category|%>
            <%#binding.pry%>
            <% if @count_category_reviews < 8 %>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <%if category&.product&.first&.image&.first.present? %>
                 <img src="<%=category&.product&.first&.image&.first&.file_url%>" class="img-fluid" alt="">
                 
                  <%else%>
                    <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                  <%end%>
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title"><%= category&.category_name%></h4>
                </div>
              </div>
            </div>
            <% @count_category_reviews +=1  %>
            <%end%>
            <%end%>
            <!-- <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Music</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Game</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Tv</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Books</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Laptops</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Mobile Phone</h4>
                </div>
              </div> -->
            </div>
            <!-- <div class="col-md-3">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content align-center align-items-center">
                  <h4 class="custom-title">Restaurants</h4>
                </div>

              </div>
            </div> -->
          </div>
        
        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">2019 HALL OF FAME</h2>
          </div>
          <div class="row small">
            <% @count_hall_frame = 0 %>
            <% @products&.each_with_index do |product, index|%>
                   <%if @count_hall_frame < 6 %>
            <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="<%= product.image.first.file_url%>" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title"><%= product&.product_name%></h4>
                  <p class="mb-2"><%=truncate(strip_tags(product&.description), omision: "...", length: 600).html_safe%></p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div>
            <% @count_hall_frame += 1%>
            <%end%>

            <%end%>
            <!-- <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">BHARAT</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">OVERLORD</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div> -->
           <!--  <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">ITTEFAQ</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">THE DEAD FIGHTING</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div> -->
            <!-- <div class="col-md-4">
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/hall-banner.jpg" class="img-fluid" alt="">
                </div>
                <div class="custom-content justify-content-end">
                  <h4 class="custom-title">THE B</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <a href="#" class="view-more align-self-end">View More</a>
                </div>
                <div class="prcnt-section">
                 <p>90%</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <a href="/web/users/holl_of_fame_details" class="readmore pull-right">Read More></a>

 <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">LATEST REVIEWS</h2>
          </div>
</div>

<div class="row">
<div class="col-md-12">
        <button type="button" class="user user_type" id="Normal User">Users score</button>
        <button type="button" class="meta user_type" id="Expert User">Meta score</button>
        <select class="category">
            <option value="category">Select Category</option>
            <% @category&.each do |category|%>
            <option value="saab"><%= category&.category_name%></option>
            <!-- <option value="opel">Opel</option> -->
            <%end%>
           </select>
</div>
</div>
       




  <!-- Home Slider Start -->
    <div class="home-slider1">
      <%# @users.each do |user|%>
      <%#binding.pry%>


      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">John</span>
           <br>
           <span>June 10, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>
      <%#end%>


      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>



      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
           <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>


      <div class="slide-item">
             <div class="row profile">
            <div class="col-md-5 col-sm-5 col-lg-5 user-icon">
            <img src="/assets/user-icon.jpg">
            </div>
           <div class="col-md-7 col-sm-7 col-lg-7">
           <span class="johny">Johny Qubert</span>
           <br>
           <span> June 12, 2019</span>
          <br>
          <span class="date1">08/10</span>
         </div>
          <p class="user-view">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
          Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
          pulvinar tempor. Cum sociis natoque penatibus et magnis dis</p>

         <a href="JavaScript:Void(0);" class="read">Read Full Review</a>
         <div class="thumb-img">
                  <img src="/assets/Facebook_like_thumb.png" alt="">
                  <img src="/assets/facebook_not_like_thumbs_down.png" alt="">
                </div>
        </div>
      </div>


    </div>
    <!-- Home Slider Close -->
          

        <div class="row">
          <div class="col-md-12">
            <h2 class="main-title">INDUSTRIAL HEADLINES</h2>
          </div>
          <div class="post-item">
            <div class="row no-gutters align-items-stretch">
              <div class="col-md-5">
                <div class="post-img">
                  <img src="/assets/big-img.jpg" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="post-details">
                  <h4 class="post-title">China April industrial output cools, retail sales</h4>
                  <p>By Suzie Ford | 23 May 2019</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="JavaScript:Void(0);" class="readmore align-self-end">View More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="post-item">
            <div class="row no-gutters align-items-stretch flex-row-reverse">
              <div class="col-md-5">
                <div class="post-img">
                  <img src="/assets/big-img.jpg" alt="">
                </div>
              </div>
              <div class="col-md-7">
                <div class="post-details">
                  <h4 class="post-title">China April industrial output cools, retail sales</h4>
                  <p>By Suzie Ford | 23 May 2019</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="JavaScript:Void(0);" class="readmore align-self-end">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  
<script type="text/javascript">
      $(document).ready(function(){
      // debugger;
      $('#1').click();
      $('.user_type').click(function(){
        var id=$(this).attr("id");
      $.ajax({
         url: '/web/users',
         type: 'get',
         data: {
          id: id
          }
       });
    });
 });
</script>