<%#if current_user.present? %>
<%#= render partial: 'web/users/head'%>
<%#end%>
<%= render partial: 'web/users/trending'%>
<!-- Home Slider Close -->
<div class="page-wrapper">
    <div class="container home-wrap">
        <div class="row">
            <div class="col-md-8">
                <div class="left-side">
                    <h3 class="widget-title mt-0">TRENDING NOW</h3>
                    <div class="posts">
                        <% @count_trending = 0 %>
                        <% @trending_products&.each_with_index do |product, index|%>
                        <%# if product.trending == true %>
                        <% if @count_trending < 4%>
                        <div class="post-item">
                            <div class="row no-gutters align-items-stretch">
                                <%#binding.pry%>
                                <div class="col-md-4">
                                    <div class="post-img">
                                        <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%= product&.image&.take&.file_url%>" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="post-details">
                                        <p class="tag"><span>
                                                <%= product&.category_name%> : </span></p>
                                        <h4 class="post-title">
                                            <%#= product&.product_name%>
                                             <a href="/web/users/<%=product.id%>/movie_detail"><%= product&.product_name%></a> :
                                            <%#= product.sub_category_name%>
                                        </h4>
                                        <p>
                                            <%= truncate(strip_tags(product&.description), omision: "...", length: 130).html_safe%>
                                        </p>
                                        <div class="post-meta">
                                            <span><i class="fa fa-clock-o"></i>
                                                <%= product&.date&.strftime("%B %d, %Y")%></span>
                                            <!-- <a href="JavaScript:Void(0);" class="readmore">Read More></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if @count_trending == 3 %>
                            <a href="/web/users/trending" class="readmore pull-right btn btn-theme my-3">Read More></a>
                            <%end%>
                        </div>
                        <% @count_trending += 1 %>
                        <%#end%>
                        <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-side">
                    <div class="widget">
                        <h3 class="widget-title mt-0">UPCOMING RELEASES</h3>
                        <% @count_upcomeing = 0%>
                        <% @products&.each_with_index do |product, index|%>
                        <%#binding.pry%>
                        <% if product&.date&.present? %>
                        <%if product&.date > DateTime.now.utc %>
                        <% if @count_upcomeing  <=  4 %>
                        <a href="/web/users/<%=product.id%>/movie_detail" class="custom-post">
                            <div class="custom-img">
                                <img src="<%= product&.image&.take&.file_url%>" class="img-fluid game-img" alt="">
                            </div>
                            <div class="custom-content">
                                <h4 class="custom-title">
                                    <%= product&.product_name%>:
                                    <%= product&.category_name%>
                                </h4>
                                <h5>
                                    <%#= product.sub_category_name%>
                                </h5>
                                <p>
                                    <%= truncate(strip_tags(product&.description), omision: "...", length: 130).html_safe%>
                                </p>
                                <p class="custom-date"><i class="fa fa-clock-o"></i>
                                    <%= product&.date&.strftime("%B %d, %Y")%>
                                </p>
                            </div>
                            </a>
                            <% if @count_upcomeing == 4%>
                            <a href="/web/users/upcomeing" class="readmore pull-right btn btn-theme">Read More></a>
                            <%end%>
                            <% @count_upcomeing += 1 %>
                            <%end%>
                            <%end%>
                            <%end%>
                            <%end%>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="left-side">
                    <div class="posts">
                        <div class="custom-post big-post">
                            <% @count_todays_review = 0%>
                            <% @todays_review.each do |review|%>
                            <% if @count_todays_review == 0 %>
                            <a href="/web/users/<%=review&.product_id%>/movie_detail" class="">
                                <img src='<%= review&.product&.image.present? ? review&.product&.image&.last&.file&.url : "/assets/review-img.png" %>'>
                            
                            <div class="custom-content align-center">
                                <p class="custom-tag"><span>
                                        <%=review&.product&.category&.category_name%> : Review</span></p>
                                <h4 class="custom-title">
                                    <%=review&.product&.product_name%> Review</h4>
                                <p>
                                    <%=truncate(review&.comment, :length => 170)%>
                                </p>
                                <p class="custom-date"><i class="fa fa-clock-o"></i>
                                    <%= review&.created_at&.strftime("%B %d, %Y")%>
                                </p>
                            </div>
                            </a>
                            <%  @count_todays_review += 1 %>
                            <%end%>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-side">
                    <div class="widget reviewe-widget">
                        <% if @todays_review.blank? %>
                                <p></p>
                          <%else%>      
                        <h3 class="widget-title mt-0">Reviewed Today</h3>
                        <% @todays_review.each do |review|%>
                        <%#binding.pry%>
                        <%# if review.created_at == DateTime.now%>
                        <div class="d-flex align-items-start reviewe-widget-item mb-4">
                            <a href="/web/users/<%=review&.product_id%>/movie_detail"><img src='<%= review&.product&.image.present? ? review&.product&.image&.first&.file&.url : "/assets/review-img.png" %>'></a>
                            <div class="reviewe-widget-content">
                                <h6>
                                    <%= review&.product&.category&.category_name%> Reviews |
                                    <%=review&.product&.product_name%> Reviews</h6>
                                <p>
                                    <%=truncate(review&.comment, :length => 70)%>
                                </p>
                                <span><i class="fa fa-clock-o"></i>
                                    <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                            </div>
                        </div>
                        <%#end%>
                        <%end%>
                        <%end%>
                    </div>
                </div>
            </div>
        </div>

          
        <div class="row small latest_stories">
          <div class="col-md-12">
            <h2 class="main-title">LATEST STORIES</h2>
          </div>
          <% first = @latest_stories.shift %>
          <%#binding.pry %>
          <div class="row small">
            <div class="col-md-7">
              <a href="/web/users/<%=first.id%>/movie_detail" class="custom-post">
                <div class="custom-img big">
                  <img src="<%= first&.image&.last&.file_url%>" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section"><%= first&.product_name %></h4>
                  <p class="mb-2"><%= truncate(strip_tags(first&.description), omision: "...", length: 200).html_safe %></p>
                  <p class="date"><i class="fa fa-clock-o"></i> <%= first&.date&.strftime("%B %d, %Y")%></p>
                </div>
                <div class="percent-section">
                  <p><%= (first&.avg_rating&.to_f * 10).round(2) %>%</p>
                </div>
              </a>
          <% @latest_stories.in_groups_of(2, false).each_with_index do |x,index| %>
            <%if index == 0 %>
              <div class="row small">
                <% x.each do |y|  %>
                <div class="col-md-6">
                  <a href="/web/users/<%=y.id%>/movie_detail" class="custom-post">
                    <div class="custom-img small">
                      <img src="<%= y&.image&.last&.file_url%>" class="img-fluid" alt="">
                    </div>
                    <div class="custom-content-section justify-content-end">
                      <h4 class="title-section"><%= y&.product_name %></h4>
                      <p class="mb-2"><%=truncate(strip_tags(y&.description), omision: "...", length: 90).html_safe%> </p>
                      <p class="date"><i class="fa fa-clock-o"></i> <%= y&.date&.strftime("%B %d, %Y")%></p>
                    </div>
                    <div class="percent-section">
                  <p><%= (y&.avg_rating&.to_f * 10).round(2) %>%</p>
                    </div>
                  </a>
                </div>
                <% end %>
<!--                 <div class="col-md-6">
                  <div class="custom-post">
                    <div class="custom-img">
                      <img src="/assets/junglee.png" class="img-fluid" alt="">
                    </div>
                    <div class="custom-content-section justify-content-end">
                      <h4 class="title-section">JUNGLEE</h4>
                      <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                      <p class="date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                    </div>
                    <div class="percent-section">
                      <p>91%</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <% elsif index == 1 %>
                
            <div class="col-md-5">
                <% x.each do |y|  %>

              <a href="/web/users/<%=y.id%>/movie_detail" class="custom-post">
                <div class="custom-img mediam">
                  <img src="<%= y&.image&.last&.file_url%>" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section"><%= y&.product_name %></h4>
                  <p class="mb-2"><%=truncate(strip_tags(y&.description), omision: "...", length: 140).html_safe %></p>
                  <p class="date"><i class="fa fa-clock-o"></i><%= y&.date&.strftime("%B %d, %Y")%></p>
                </div>
                <div class="percent-section">
                  <p><%=  (y&.avg_rating&.to_f * 10).round(2)%>%</p>
                </div>
              </a>
                <% end %>
<!-- 
              <div class="custom-post">
                <div class="custom-img">
                  <img src="/assets/aquaman.png" class="img-fluid" alt="">
                </div>
                <div class="custom-content-section justify-content-end">
                  <h4 class="title-section">AQUAMAN</h4>
                  <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <p class="date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                </div>
                <div class="percent-section">
                  <p>90%</p>
                </div>
              </div> -->

            </div>
                <% end %>
            <% end %>

          </div>
        </div>


       
        <div class="review-row revCategory">
            <h2 class="main-title">REVIEWS BY CATEGORIES</h2>
            <div class="row">
                <% @count_category_reviews = 0%>
                <%@rec&.each do |category|%>
                <%#binding.pry%>
                <%# if @count_category_reviews < 8 %>
                <div class="col-md-3 reviews-col">
                     <a href="/web/users/<%=category[1][1]%>/movie_detail" class="custom-post">
                        <div class="custom-img">
                            <%if category[1].present? %>
                            <img src="<%=category[1][0]%>" class="img-fluid" alt="">
                            <%else%>
                            <img src="/assets/category-img.jpg" class="img-fluid" alt="">
                            <%end%>
                        </div>
                        <div class="custom-content align-center align-items-center">
                            <h4 class="custom-title">
                                <%= category[0]%>
                            </h4>
                        </div>
                    </a>
                </div>
                <% @count_category_reviews +=1  %>
                <%end%>
            </div>
        </div>
        <div class="rhall-row">
            <h2 class="main-title">2019 HALL OF FAME</h2>
            <div class="row small">
                <% @count_hall_frame = 0 %>
                <% @products&.each do |product |%>
                <% if product.reviews.present? %>
                <% @a=product.reviews.map {|x| x.rating  }.sum %>
                <% @b=product.reviews.map.with_index {|x,index|  }.count %>
                <% if @a > 0 %>
                <% if ((@a*100)/(@b*10)) >=  ((@reviews_all*100)/(10*@reviews_count)) %>
                <%if @count_hall_frame < 6 %>
                <div class="col-md-4">
                    <a href="/web/users/<%=product.id%>/movie_detail" class="custom-post">
                        <div class="custom-img">
                            <img src="<%= product.image.first.file_url%>" class="img-fluid" alt="">
                        </div>
                        <div class="custom-content justify-content-end">
                            <h4 class="custom-title">
                                <%= product&.product_name%>
                            </h4>
                            <p class="mb-2">
                                <%=truncate(strip_tags(product&.description), omision: "...", length: 130).html_safe%>
                            </p>
                            <!-- <a href="#" class="view-more align-self-end">View More</a> -->
                        </div>
                        <div class="prcnt-section">
                            <p>
                                <%=(@a*100)/(@b*10)%>%</p>
                        </div>
                        <%if @count_hall_frame == 5 %>
                        <div class="text-right">
                             <a href="/web/users/holl_of_fame_details" class="readmore btn btn-theme">Read More></a>
                            </div>
                        <%end%>
                        <% @count_hall_frame += 1%>
                    </a>
                </div>
                <%end%>
                <%end%>
                <%end%>
                <%end%>
                <%end%>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="main-title">LATEST REVIEWS</h2>
            </div>
            <div class="col-7">
                <nav>
                    <div class="nav nav-tabs nav-pills tabline" id="nav-tabScore" role="tablist">
                        <a class="nav-item nav-link active fonts" data-toggle="pill" href="#nav-name" role="tab">Userscore </a>
                        <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-metascore" role="tab">Metascore</a>
                    </div>
                </nav>
            </div>
            <div class="col-5">
                <select class="form-control category data_category">
                    <option value="category">Select Category</option>
                    <%@category&.each do |category| %>
                    <option class="category_wise" value="<%= category.id %>">
                        <%= category&.category_name%>
                    </option>
                    <%end%>
                </select>
            </div>
            <div class="col-md-12">
                <!-- Home Slider Start -->
                <div class="tab-content reviewTab theatres-content" id="tabScore">
                    <!-- <div class="tab-pane fade in show active" id="nav-name" role="tabpanel"> -->
                    <%= render partial: "expert_normal_reviews" %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    // debugger;
    $('#1').click();
    $('.user_type1').click(function() {
        debugger;
        var id = this.id;
        $.ajax({
            url: '/web/users',
            type: 'get',
            data: {
                id: id
            }
        });
    });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('#1').click();
    $('.data_category').change(function() {
        var id = this.value;
        $.ajax({
            url: '/web/users.js',
            type: 'get',
            data: {
                id: id
            }
        });
    });
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $(".ratingText").shorten({
        "showChars": 500,
        "moreText": "View More",
        "lessText": "Less",
    });
});
</script>