<%arr = @product.image { |i| i&.file&.url}%>
<%arr = arr[0..3]%>
<div class="container">
    <div class="row navtop">
        <ul class="nav1">
            <%@all_sub_category.each do |sub|%>
            <li class="nav2"><a class='<%= params[:id] == sub.id ? "active" : "" %>' href="/web/users/<%=sub.id%>/movie_category">
                    <%=sub&.sub_category_name%></a></li>
            <%end%>
        </ul>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <%arr.each_with_index do |img,index|%>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class='<%= index == 0 ? "active" : "" %>'></li>
        <%end%>
    </ol>
    <div class="carousel-inner">
        <%arr.each_with_index do |img,index|%>
        <div class='carousel-item <%= index == 0 ? "active" : "" %>'>
            <img class="d-block w-100" src="<%=img&.file&.url%>" alt="First slide" height="600px;">
        </div>
        <%end%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    </a>
</div>
<div class="page-wrapper">
    <div class="container">
        <div class="box-top-banner">
            <div class="boxshadow boxshadowbutton">
                <h4 class="topheading">
                    <%=@product&.product_name%>
                </h4>
                <!-- <p class="paradetail1 line1">Dark Side Of The Moon</p> -->
                <p class="paradetail2 line1">Wide Release Date :
                    <%=@product&.date&.strftime("%b %d, %Y")%>
                </p>
                <button class="reviews">Reviews</button>
            </div>
        </div>
        <div class="row rowreviews align-items-center justify-content-between">
            <div class="col-md-8">
                <h3>Ratings Summary</h3>
            </div>
            <%#binding.pry%>
            <%if @product.reviews.where(user_id: current_user.id).present? %>
            <div class="col-md-4 text-right "><a href="#" class="posted-btn" data-toggle="modal" disabled>
                    Review Already Posted</a>
            </div>
            <%else%>
            <div class="col-md-4 text-right "><a href="#" class="posted-btn" data-toggle="modal" data-target="#reviewModal">
                    Write a review</a>
            </div>
            <%end%>
        </div>
        <div class="row rowreviews">
            <% @positive_normal = 0 %>
            <% @negative_normal = 0 %>
            <% @medium_normal = 0 %>
            <%  @user_reviews.each do |abc|%>
            <%#binding.pry%>
            <% if (abc.rating)*100/10 >= 60 && abc.spoiler == false %>
            <% @positive_normal += 1 %>
            <% elsif  (abc.rating)*100/10 >= 31 && (abc.rating)*100/10 <= 59 && abc.spoiler == false %>
            <% @medium_normal += 1 %>
            <%# elsif  (abc.rating)*100/10 >= 0 && (abc.rating)*100/10 <= 30 %>
            <%else%>
            <% @negative_normal += 1 %>
            <%end%>
            <%end%>
            <div class=" col-md-6 ">
                <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Userscore</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@user_reviews.count%></span></p>
                </div>
                <div class="buttonsreviews">
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:positive] %>%">
                            <%= @user_score[:positive] %>
                        </div>
                    </div>
                    Positive
                    <%= @user_score[:positive] %> %
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:middle] %>%">
                            <%= @user_score[:middle] %>
                        </div>
                    </div>
                    Medium
                    <%= @user_score[:middle] %>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:negative] %>%">
                            <%= @user_score[:negative] %>
                        </div>
                    </div>
                    Negative
                    <%= @user_score[:negative] %>%
                    <!-- <img src="/assets/review.jpg" class="reviewimg1"> -->
                </div>
            </div>
            <%# @meta_user_count = 0 %>
            <% @positive_expert = 0 %>
            <% @negative_expert = 0 %>
            <% @medium_expert = 0 %>
            <% @meta_reviews.each do |abc|%>
            <%# if User.find_by(id: abc.user_id).user_type == "Expert User"%>
            <%# @meta_user_count += 1%>
            <% if (abc.rating)*100/10 >= 60 && abc.spoiler == false %>
            <% @positive_expert += 1%>
            <% elsif  (abc.rating)*100/10 >= 31 && (abc.rating)*100/10 <= 59 && abc.spoiler == false %>
            <% @medium_expert += 1 %>
            <%else%>
            <% @negative_expert += 1 %>
            <%#end%>
            <%end%>
            <%end%>
            <%#binding.pry%>
            <div class=" col-md-6 ">
                <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Metascore</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@meta_reviews.count%></span></p>
                    <%#binding.pry%>
                </div>
                <div class="buttonsreviews">
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:positive]%>%">
                            <%= @meta_score[:positive]%>
                        </div>
                    </div>
                    Positive
                    <%= @meta_score[:positive]%>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:middle]%>%">
                            <%= @meta_score[:middle]%>
                        </div>
                    </div>
                    Medium
                    <%= @meta_score[:middle]%>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:negative]%>%">
                            <%= @meta_score[:negative]%>
                        </div>
                    </div>
                    Negative
                    <%= @meta_score[:negative]%>%
                    <!-- <img src="/assets/review.jpg" class="reviewimg1"> -->
                </div>
            </div>
        </div>
        <div class="parar rowreviews">
            <h3>Description</h3>
            <p class="reviewpara word-break-all">
                <%=ActionView::Base.full_sanitizer.sanitize(@product&.description)%>
            </p>
        </div>
        <div class="rowreviews">
            <h3>Screenshots</h3>
        </div>
        <div class="row rowreviews">
            <%arr = @product.image { |i| i&.file&.url}%>
            <%arr = arr[0..2]%>
            <%arr.each do |a|%>
            <div class="col-md-4 columnimage">
                <div class="imagecol3">
                    <img src="<%=a&.file&.url%>" class="screen-img">
                </div>
            </div>
            <%end%>
        </div>
        <div class="row rowreviews">
            <div class="col-md-12 col-lg-8">
                <nav>
                    <div class="nav nav-tabs nav-pills tabline" id="nav-tabScore" role="tablist">
                        <a class="nav-item nav-link active fonts" data-toggle="pill" href="#nav-name" role="tab">Userscore </a>
                        <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-metascore" role="tab">Metascore</a>
                    </div>
                </nav>
                <div class="tab-content theatres-content" id="tabScore">
                    <div class="tab-pane fade in show active" id="nav-name" role="tabpanel">
                        <div class="row">
                            <%@user_reviews[0..3].each do |review|%>
                            <div class="col-md-6">
                                <div class="imgshadow">
                                    <div class="imagecontent">
                                        <div class="d-flex image-text">
                                            <img src='<%=user_image(review&.user_id).present? ? user_image(review&.user_id)&.file&.url : "/assets/14-141138_facebook-teerasej-profile-ball-circle-sochiie-com-facebook.jpg"%>' style='<%= user_image(review&.user_id).present? ? "height: 91px;: 151px;border-radius: 50%" : "" %>' class="imgcircle">
                                            <div class="margintxt">
                                                <h4 class="topheading12">
                                                    <%=user_name(review&.user_id)%>
                                                </h4>
                                                <p class="paradetail1 line1">
                                                    <%= review&.created_at&.strftime("%B %d, %Y")%>
                                                </p>
                                                <p class="paradetail2 line10">
                                                    <%= review&.rating.to_i == 10 ? "10" : "0#{review&.rating}"%>/10</p>
                                            </div>
                                        </div>
                                        <div class="pa">
                                            <p class="paracircle">
                                                <%=truncate(review&.comment, :length => 245)%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                                        <div class="like-dislike likem">
                                            <span><img style="width:25px" src='<%= review_vote_status(review.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_like_count(review)%></span>
                                            <span><img style="width:25px" src='<%= review_vote_status_dislike(review.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_dislike_count(review)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-metascore" role="tabpanel">
                        <div class="row">
                            <%@meta_reviews[0..3].each do |review|%>
                            <div class="col-md-6">
                                <div class="imgshadow">
                                    <div class="imagecontent">
                                        <div class="d-flex image-text">
                                            <img src='<%=user_image(review&.user_id).present? ? user_image(review&.user_id)&.file&.url : "/assets/14-141138_facebook-teerasej-profile-ball-circle-sochiie-com-facebook.jpg"%>' style='<%=user_image(review&.user_id).present? ? "height: 91px;: 151px;border-radius: 50%" : "" %>' class="imgcircle">
                                            <div class="margintxt">
                                                <h4 class="topheading12">
                                                    <%=user_name(review&.user_id)%>
                                                </h4>
                                                <p class="paradetail1 line1">
                                                    <%= review&.created_at&.strftime("%B %d, %Y")%>
                                                </p>
                                                <p class="paradetail2 line10">
                                                    <%=review&.rating.to_i == 10 ? "10" : "0#{review&.rating}"%>/10</p>
                                            </div>
                                        </div>
                                        <div class="pa">
                                            <p class="paracircle">
                                                <%=truncate(review&.comment, :length => 245)%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                                        <div class="like-dislike likem">
                                            <span><img style="width:25px" src='<%= review_vote_status(review.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_like_count(review)%></span>
                                            <span><img style="width:25px" src='<%= review_vote_status_dislike(review.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_dislike_count(review)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="widget reviewe-widget">
                    <h3 class="widget-title">Reviewed Today</h3>
                    <%@todays_review.each do |review|%>
                    <div class="d-flex align-items-start reviewe-widget-item mb-4">
                        <img src='<%= review&.product&.image.present? ? review&.product&.image&.first&.file&.url : "/assets/review-img.png" %>'>
                        <div class="reviewe-widget-content">
                            <h6>
                                <%= review&.product&.category&.category_name%> Reviews |
                                <%=review&.product&.product_name%> Reviews</h6>
                            <p>
                                <%=truncate(review&.comment, :length => 72)%>
                            </p>
                            <span><i class="fa fa-clock-o"></i>
                                <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                        </div>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row rowreviews">
            <div class="heading">
                <h3 class="titile-light">You may also like:</h3>
            </div>
            <div class="custom-slider slidw">
                <div class="custom-post custom-slide">
                    <div class="custom-img">
                        <img src='<%= @product&.image&.first&.file&.present? ? @product&.image&.first&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
                    </div>
                    <div class="custom-content justify-content-end">
                        <h4 class="custom-title">
                            <%=@product&.product_name%>
                        </h4>
                        <p class="mb-2">
                            <%= truncate(strip_tags(@product&.description), omision: "...", length: 350).html_safe%>
                        </p>
                        <a href="#" class="view-more align-self-end">View More</a>
                    </div>
                    <div class="prcnt-section">
                        <%if @product&.reviews&.pluck("rating")&.sum > 0 %>
                        <p>
                            <%=(@product&.reviews&.pluck("rating")&.sum*100)/(@product&.reviews&.pluck("rating")&.count*10)%>%</p>
                        <%else%>
                        <p>0%</p>
                        <% end %>
                    </div>
                </div>
                <div class="custom-post custom-slide">
                    <div class="custom-img">
                        <img src='<%= @product&.image[1]&.file&.present? ? @product&.image[1]&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
                    </div>
                    <div class="custom-content justify-content-end">
                        <h4 class="custom-title">
                            <%=@product&.product_name%>
                        </h4>
                        <p class="mb-2">
                            <%= truncate(strip_tags(@product&.description), omision: "...", length: 350).html_safe%>
                        </p>
                        <a href="#" class="view-more align-self-end">View More</a>
                    </div>
                    <div class="prcnt-section">
                        <%if @product&.reviews&.pluck("rating")&.sum > 0 %>
                        <p>
                            <%=(@product&.reviews&.pluck("rating")&.sum*100)/(@product&.reviews&.pluck("rating")&.count*10)%>%</p>
                        <%else%>
                        <p>0%</p>
                        <% end %>
                    </div>
                </div>
                <div class="custom-post custom-slide">
                    <div class="custom-img">
                        <img src='<%= @product&.image[2]&.file&.present? ? @product&.image[2]&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
                    </div>
                    <div class="custom-content justify-content-end">
                        <h4 class="custom-title">
                            <%=@product&.product_name%>
                        </h4>
                        <p class="mb-2">
                            <%= truncate(strip_tags(@product&.description), omision: "...", length: 350).html_safe%>
                        </p>
                        <a href="#" class="view-more align-self-end">View More</a>
                    </div>
                    <div class="prcnt-section">
                        <%if @product&.reviews&.pluck("rating")&.sum > 0 %>
                        <p>
                            <%=(@product&.reviews&.pluck("rating")&.sum*100)/(@product&.reviews&.pluck("rating")&.count*10)%>%</p>
                        <%else%>
                        <p>0%</p>
                        <% end %>
                    </div>
                </div>
                <div class="custom-post custom-slide">
                    <div class="custom-img">
                        <img src='<%= @product&.image[3]&.file&.present? ? @product&.image[3]&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
                    </div>
                    <div class="custom-content justify-content-end">
                        <h4 class="custom-title">
                            <%=@product&.product_name%>
                        </h4>
                        <p class="mb-2">
                            <%= truncate(strip_tags(@product&.description), omision: "...", length: 350).html_safe%>
                        </p>
                        <a href="#" class="view-more align-self-end">View More</a>
                    </div>
                    <div class="prcnt-section">
                        <%if @product&.reviews&.pluck("rating")&.sum > 0 %>
                        <p>
                            <%=(@product&.reviews&.pluck("rating")&.sum*100)/(@product&.reviews&.pluck("rating")&.count*10)%>%</p>
                        <%else%>
                        <p>0%</p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade bd-example-modal-lg reviewModal" id="reviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-group">
                    <h4 class="text-center mb-0">Share Your Votes now</h4>
                </div>
                <div class="form-group">
                    <div class="rating-row">
                        <%= form_tag get_reviews_web_reviews_path(id: @product.id), id: "count_rating_dynamic" do %>
                        <div class="count_child">
                            <%@review_parts.each do |criteria|%>
                            <%#binding.pry%>
                            <div class="rating-wrap">
                                <span class="ratetitle">
                                    <%= criteria&.criteria&.titleize%></span>
                                <div class="rate">
                                    <input type="radio" id="<%= " star5" + criteria.id.to_s%>" name="rating[]
                                    <%= criteria&.criteria%>" value="5" />
                                    <label for="<%= " star5" + criteria.id.to_s%>" title="text">5 stars</label>
                                    <input type="radio" id="<%= " star4" + criteria.id.to_s%>" name="rating[]
                                    <%= criteria&.criteria%>" value="4" />
                                    <label for="<%= " star4" + criteria.id.to_s%>" title="text">4 stars</label>
                                    <input type="radio" id="<%= " star3" + criteria.id.to_s%>" name="rating[]
                                    <%= criteria&.criteria%>" value="3" />
                                    <label for="<%= " star3" + criteria.id.to_s%>" title="text">3 stars</label>
                                    <input type="radio" id="<%= " star2" + criteria.id.to_s%>" name="rating[]
                                    <%= criteria&.criteria%>" value="2" />
                                    <label for="<%= " star2" + criteria.id.to_s%>" title="text">2 stars</label>
                                    <input type="radio" id="<%= " star1" + criteria.id.to_s%>" name="rating[]
                                    <%= criteria&.criteria%>" value="1" />
                                    <label for="<%= " star1" + criteria.id.to_s%>" title="text">1 star</label>
                                </div>
                            </div>
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="holidays">
                    <div class="overallRating">
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating1" name="numeric_rating" value="01" class="ten-rate" /><span class="sib_span">1</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating2" name="numeric_rating" value="02" class="ten-rate" /><span class="sib_span">2</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating3" name="numeric_rating" value="03" class="ten-rate" /><span class="sib_span">3</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating4" name="numeric_rating" value="04" class="ten-rate" /><span class="sib_span">4</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating5" name="numeric_rating" value="05" class="ten-rate" /><span class="sib_span">5</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating6" name="numeric_rating" value="06" class="ten-rate" /><span class="sib_span">6</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating7" name="numeric_rating" value="07" class="ten-rate" /><span class="sib_span">7</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating8" name="numeric_rating" value="08" class="ten-rate" /><span class="sib_span">8</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating9" name="numeric_rating" value="09" class="ten-rate" /><span class="sib_span">9</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating10" name="numeric_rating" value="10" class="ten-rate" /><span class="sib_span">10</span></label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Review this movie now</label>
                    <textarea style="resize: none" name="description" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="spoiler" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check box if your review contains spoilers</label>
                </div>
                <div class="form-group text-center">
                    <button style="color: #fff" type="submit" class="btn btn-theme">Submit</button>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>
$('.custom-slider').slick({
    dots: false,
    infinite: true,
    autoplay: true,
    speed: 300,
    slidesToShow: 3,
    responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
            }
        },
        {
            breakpoint: 991,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
                infinite: true,
            }
        },
        {
            breakpoint: 767,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
            }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
    ]
});
</script>
<script type="text/javascript">
$(".ten-rate").click(function() {
    $(".sib_span").removeClass("active");
    // this.siblings("span").addClass("active");
    this.nextSibling.classList.add("active");
});
</script>
<script type="text/javascript">
function voting(a) {
    var current_object = a;
    var data = a.id.split("_");
    var review_status = data[0];
    var review_id = data[1];

    $.ajax({
        url: '/web/reviews/get_vote_for_review',
        type: 'post',
        data: {
            id: review_id,
            status: review_status
        },

        success: function(result) {
            // alert(result);
            // alert(current_object);
            var parent = current_object.parentElement;
            if (result.status == true) {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/like_active.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)" >' + result.dislike_count + '</span>'
            } else {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/Facebook_like_thumb.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/dislike_active.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)">' + result.dislike_count + '</span>'
            }
        }

    });
}
</script>
<style type="text/css">
.word-break-all {
    word-break: break-all;
}
</style>
<!-- <script type="text/javascript">
  debugger;
  var rad = document.count_rating_dynamic.myRadios;
var prev = null;
for (var i = 0; i < rad.length; i++) {
    rad[i].addEventListener('change', function() {
        (prev) ? console.log(prev.value): null;
        if (this !== prev) {
            prev = this;
        }
        console.log(this.value)
    });
}
</script> -->
<script type="text/javascript">
$(document).on("turbolinks:load", function() {
    $("#count_rating_dynamic").validate({
        rules: {
            "rating[]Action": {
                required: true

            }
        },
        messages: {
            "rating[]Action": {
                required: "Please Fill the name field ."
            }
        }
    });
    // })
});
</script>
<script type="text/javascript">
$('.count_child').on('click', function() {

    // var total = 0;
    // var rating = 0;
    // var rp = [];
    // var i=0;
    //   <%@review_parts.each do |criteria|%>

    //       rp.push("<%=criteria.criteria%>");
    //       i++;
    //     <% end %>

    //     for(j=0;j<i-1;j++){
    //       rating = $('input[name=rating'+rp[j]+']:checked').val();
    //       if(rating != 'undefined'){
    //         total = parseInt(total) + parseInt(rating);
    //       }
    //     }
    //     // debugger;
    //     total = total/i;

    //   $('#numeric_rating'+parseInt(total)).siblings('span').addClass('active');
    var avereage = 0
    objects = $('.count_child').find('input:checked')
    objects.each(function() {
        avereage = avereage + parseInt(this.value)
        // debugger;
        // if($(this).find('checkbox').is(':checked'))
        // { 
        // len++;
        // }    

    });
    if (avereage > 0) {
        avereage = avereage / $('.count_child').find('input').length
        avereage = Math.round(avereage * 10);
        console.log(avereage)
        $('.ten-rate')[(avereage - 1)].click()
    }
});
</script>