<%if current_user.present? %>
<%= render partial: 'web/users/head'%>
<%end%>
  <div class="page-wrapper page-Nav2">
      <div class="row navtop">
        <ul class="nav1">
        	<%@all_sub_category.each do |sub|%>
         		<li class="nav2"><a class='<%= params[:id] == sub.id ? "active" : "" %>' href="/web/users/<%=sub.id%>/movie_category"><%=sub&.sub_category_name%></a></li>
       	  <%end%>
       </ul>
     </div>

<%#= render partial: 'web/users/trending'%>
<%arr = @sub_category.products.map { |p| p&.image&.first&.file&.url}%>
<%arr = arr[0..3]%>

     <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      	<%arr.each_with_index do |img,index|%>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class='<%= index == 0 ? "active" : "" %>'></li>
        <%end%>
       <!--  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li> -->
      </ol>
      <div class="carousel-inner">
        
      	<%arr.each_with_index do |img,index|%>
        <div class='carousel-item <%= index == 0 ? "active" : "" %>'>
          <img class="d-block w-100" src="<%=img%>" alt="First slide" height="500px;">
        </div>
        <%end%>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

      </a>
    </div>



      <div class="container home-wrap">
               <h2 class="widget-title"><%= @sub_category&.sub_category_name%></h2>
          <div class="row theatres-row">
            <div class="col-md-9">
          <nav>
            <div class="nav nav-tabs nav-pills" id="nav-tabScore" role="tablist">
              <a class="nav-item nav-link active fonts" data-toggle="pill" href="#nav-name" role="tab">By Name </a>
              <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-date" role="tab">By Date</a>
              <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-metascore" role="tab">By Metascore</a>
              <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-mostshared" role="tab">By Most Shared</a>
            </div>
          </nav>

          <div class="tab-content theatres-content" id="tabScore">

            <div class="tab-pane fade show active" id="nav-name" role="tabpanel">
              <div class="row">

		      <%@products.order("product_name ASC").limit(4).each do |product|%>
                <div class="col-md-6">
		            <div class="imgshadow">
		                  <div class="images1">

		                    <%if product.image.present?%>
                        <%#binding.pry%>
				                <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%=product&.image&.first&.file&.url%>"></a>
				            <%else%>
				                <img src="images/Layer46.jpg">
				            <%end%>

		                     <div class="percent-section1">
                          <%@a = product.reviews&.all&.map {|x| x.rating}.sum%>
                          <% @b = product.reviews&.all&.map&.with_index {|x,index| index }.count%>
                          <% if @a > 0 %>
		                      <p class="paramusic"><%= ((@a*100)/(@b*10)) %>%</p>
		                     <%end%>
                        </div>
		                  </div>
		                  <div class="content">
		                    <h3><%=product&.product_name%></h3> 
		                    <P class="para">
		                      <%=ActionView::Base.full_sanitizer.sanitize(product&.description)%>
		                    </P>
		                    <P>Wide Release Date : <%=product&.date&.strftime("%b %d, %Y")%><span class="expand">Expand</span></P>
		                  </div>
                    </div>
                </div>
              <%end%>


              </div>
            </div>



            <div class="tab-pane fade" id="nav-date" role="tabpanel">
                  <div class="row">


               
		      <%@products.order("date DESC").limit(4).each do |product|%>
                <div class="col-md-6">
		            <div class="imgshadow">
		                  <div class="images1">

		                    <%if product.image.present?%>
				                <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%=product&.image&.first&.file&.url%>"></a>
				            <%else%>
				                <img src="images/Layer46.jpg">
				            <%end%>

		                     <div class="percent-section1">
		                      <p class="paramusic">90%</p>
		                    </div>
		                  </div>
		                  <div class="content">
		                    <h3><%=product&.product_name%></h3> 
		                    <P class="para">
		                      <%=ActionView::Base.full_sanitizer.sanitize(product&.description)%>
		                    </P>
		                    <P>Wide Release Date : <%=product&.date&.strftime("%b %d, %Y")%><span class="expand">Expand</span></P>
		                  </div>
                    </div>
                </div>
              <%end%>

              </div>
            </div>

            <div class="tab-pane fade" id="nav-metascore" role="tabpanel">
               <div class="row">


             
		      <%@products.each do |product|%>
		      		<%next unless meta_review(product)%>
                <div class="col-md-6">
		            <div class="imgshadow">
		                  <div class="images1">

		                    <%if product.image.present?%>
				                <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%=product&.image&.first&.file&.url%>"></a>
				            <%else%>
				                <img src="images/Layer46.jpg">
				            <%end%>

		                     <div class="percent-section1">
		                      <p class="paramusic">90%</p>
		                    </div>
		                  </div>
		                  <div class="content">
		                    <h3><%=product&.product_name%></h3> 
		                    <P class="para">
		                      <%=ActionView::Base.full_sanitizer.sanitize(product&.description)%>
		                    </P>
		                    <P>Wide Release Date : <%=product&.date&.strftime("%b %d, %Y")%><span class="expand">Expand</span></P>
		                  </div>
                    </div>
                </div>
              <%end%>

              </div>
            </div>


            <div class="tab-pane fade" id="nav-mostshared" role="tabpanel">
               <div class="row">


              
		      <%@products.order("product_name ASC").limit(4).each do |product|%>
                <div class="col-md-6">
		            <div class="imgshadow">
		                  <div class="images1">

		                    <%if product.image.present?%>
				                <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%=product&.image&.first&.file&.url%>"></a>
				            <%else%>
				                <img src="images/Layer46.jpg">
				            <%end%>

		                     <div class="percent-section1">
		                      <p class="paramusic">90%</p>
		                    </div>
		                  </div>
		                  <div class="content">
		                    <h3><%=product&.product_name%></h3> 
		                    <P class="para">
		                      <%=ActionView::Base.full_sanitizer.sanitize(product&.description)%>
		                    </P>
		                    <P>Wide Release Date : <%=product&.date&.strftime("%b %d, %Y")%><span class="expand">Expand</span></P>
		                  </div>
                    </div>
                </div>
              <%end%>
                


              </div>
            </div>
            <%if @products.present?%>
            <div class="pull-right">
            	<span class="expand"><a href="/web/users/<%=@sub_category.id%>/movie_category_detail">Read More</a></span>
            </div>
            <%end%>
          </div>


        </div>
        <div class="col-md-3" >
        <div class="white-box Game-deatils">
          <p class="centerpara">Browse By Genre</p>
          <ul class="custom-list">
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Dance</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Blues</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Alternative</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Comedy</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Instrumenta</span></li>
          <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Indie</span></li>
           <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Folk</span></li>
            <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; House</span></li>
             <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Pop</span></li>
              <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Rock</span></li>
               <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Zazz</span></li>
            <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Latin</span></li>
             <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Metal</span></li>
              <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Punk</span></li>
                 <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Rock</span></li>
             <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Soul</span></li>
              <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Dance</span></li>
              <li class="Font-sizeli"><span><i class="fa fa-caret-left"></i> &nbsp; Romance</span></li>
        </ul>
        </div>
      </div>
     

        <div class="heading">
          <h2 class="titile-light">You may also like:</h2>
        </div>
        
        <div class="custom-slider slidw">
        
              <% @products&.each_with_index do |product_name,index|%>
          <div class="custom-post custom-slide">
            <div class="custom-img">
              <%#= current_user&.image&.file&.present? ? current_user&.image&.file.try(:url) : "/assets/user_no_image.png" %>
              <img src='<%= product_name&.image&.first&.file&.present? ? product_name&.image&.first&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
              <%#binding.pry%>
            </div>
            <div class="custom-content justify-content-end">
              <h4 class="custom-title"><%= product_name&.product_name%></h4>
              <p class="mb-2"><%= truncate(strip_tags(product_name&.description), omision: "...", length: 250).html_safe%></p>
              <a href="#" class="view-more align-self-end">View More</a>
            </div>
            <div class="prcnt-section">
              <%if product_name.reviews.pluck("rating").sum > 0%>
              <p><%= (product_name&.reviews&.pluck("rating")&.sum*100)/ (product_name&.reviews&.pluck("rating")&.count*10)%>%</p>
            <%else%>
            <p>0%</p>
            <%end%>
            </div>
          </div>
          
          <div class="custom-post custom-slide">
            <div class="custom-img">
              <img src='<%= product_name&.image&.first&.file&.present? ? product_name&.image&.first&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
            </div>
            <div class="custom-content justify-content-end">
              <h4 class="custom-title"><%= product_name&.product_name%></h4>
              <p class="mb-2"><%= truncate(strip_tags(product_name&.description), omision: "...", length: 250).html_safe%></p>
              <a href="#" class="view-more align-self-end">View More</a>
            </div>
            <div class="prcnt-section">
              <%if product_name.reviews.pluck("rating").sum > 0%>
              <p><%= (product_name&.reviews&.pluck("rating")&.sum*100)/ (product_name&.reviews&.pluck("rating")&.count*10)%>%</p>
            <%else%>
            <p>0%</p>
            <%end%>
            </div>
          </div>
          <div class="custom-post custom-slide">
            <div class="custom-img">
              <img src='<%= product_name&.image&.first&.file&.present? ? product_name&.image&.first&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
            </div>
            <div class="custom-content justify-content-end">
              <h4 class="custom-title"><%= product_name&.product_name%></h4>
              <p class="mb-2"><%= truncate(strip_tags(product_name&.description), omision: "...", length: 250).html_safe%></p>
              <a href="#" class="view-more align-self-end">View More</a>
            </div>
            <div class="prcnt-section">
              <%if product_name.reviews.pluck("rating").sum > 0%>
              <p><%= (product_name&.reviews&.pluck("rating")&.sum*100)/ (product_name&.reviews&.pluck("rating")&.count*10)%>%</p>
             <%else%>
             <p>0%</p>
             <%end%>
            </div>
          </div>
          <div class="custom-post custom-slide">
            <div class="custom-img">
              <img src='<%= product_name&.image&.first&.file&.present? ? product_name&.image&.first&.file.try(:url) : "/assets/tv58.png" %>' class="img-fluid" alt="">
            </div>
            <div class="custom-content justify-content-end">
              <h4 class="custom-title"><%= product_name&.product_name%></h4>
              <p class="mb-2"><%= truncate(strip_tags(product_name&.description), omision: "...", length: 250).html_safe%></p>
              <a href="#" class="view-more align-self-end">View More</a>
            </div>
            <div class="prcnt-section">
              <%if product_name.reviews.pluck("rating").sum > 0  %>
              <p><%= (product_name&.reviews&.pluck("rating")&.sum*100)/ (product_name&.reviews&.pluck("rating")&.count*10)%>%</p>
              <%else%>
                  <p>0%</p>
             <%end%>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>


  <script src="/assets/web/custom.js"></script>
  <script>
    $('.custom-slider').slick({
      dots: false,
      infinite: true,
      autoplay: true,
      speed: 300,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  </script>
  <style type="text/css">
  	p.paramusic {
    margin-bottom: -40px;
	}
</style>