<style type="text/css">
.activea {
    background: #D6D6D1 !important;
}
</style>
<div class="container">
    <div class="row navtop">
        <ul class="nav1">
            <%@all_sub_category.each do |sub|%>
            <li class="nav2"><a class='<%= @product.sub_category.id == sub.id ? "activea" : "" %>' href="/web/users/<%=sub.id%>/movie_category">
                    <%=sub&.sub_category_name%></a></li>
            <%end%>
        </ul>
    </div>
</div>
<div id="carouselExampleIndicators" class="carousel slide skin-product" data-ride="carousel">
    <ol class="carousel-indicators">
        <% @banners =  @images if @banners.blank? %>
        <% @banners.each_with_index do |img,index|%>
        <%# if arr.count>1%>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%=index%>" class='<%= index == 0 ? "active" : "" %>'></li>
        <%#end%>
        <%end%>
        
    </ol>
    <div class="carousel-inner">
        <%# binding.pry %>
        <%@banners.each_with_index do |img,index|%>
        <div class='carousel-item <%= index == 0 ? "active" : "" %>'>
            <%# binding.pry %>
            <img class="d-block w-100" src="<%=img%>" alt="First slide" height="530px;">
            <div class="slide-content ">
                <div class="container">
                    
                    <h2><%=@product&.product_name%> </h2>
                    <p class="mb10">Wide Release Date : <%=@product&.date&.strftime("%b %d, %Y")%></p>
                    <div class="progress-bar-circle">
                        <div class="text-center mr15">
                             <div class="progress green">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value"><%=@user_reviews_avg%></div>
                            </div>
                            <!-- <div class="my-progress-bar"></div> -->
                             <p>Userscore</p>
                        </div>
                        <div class="text-center mr15">
                             <!-- <div class="my-progress-bar"></div> -->
                             <div class="progress green">
                                <span class="progress-left">
                                    <span class="progress-bar"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar"></span>
                                </span>
                                <div class="progress-value"><%=@meta_reviews_avg%></div>
                            </div>
                            <p>Metascore</p>
                        </div>
                    </div>
                    <div class="d-flex button-block">
                        <!-- <a class="btn btn-review">Login for Review</a> -->
                        <!-- <a class="btn btn-review-outline">Login for Review</a> -->
                        <%if @product.reviews.where(user_id: current_user&.id).present? %>
                        
                            <a href="#" class=" btn btn-review" data-toggle="modal" disabled>Review Already Posted</a>
                            <%= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "btn btn-review" %>
                              <!-- <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a> -->

                        
                        <%elsif !current_user.present?%>
                        
                            <%= link_to "Login for Write a review", new_user_session_path, :class => 'btn btn-review'%>
                             <%= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "btn btn-review-outline" %>
                               <!-- <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a> -->

                        
                        <%else%>
                        <a href="#" class="btn btn-review" data-toggle="modal" data-target="#reviewModal">Write a review</a>
                             <%= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "btn btn-review" %>
                               <!-- <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a> -->

                       
                        <%end%>
                        
                    </div>
                </div>
            </div>
        </div>
        <%end%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    </a>
</div>
<div class="page-wrapper page-Nav2">
    <div class="container home-wrap">
        <div class="row theatres-row">
            <div class="col-md-9">
                <!-- <div class="row">
                    <div class="col-md-6 leftsec">
                        <h4 class="topheading">
                            <%#=@product&.product_name%>
                        </h4>
                        <p class="paradetail2 line1">Wide Release Date :
                            <%#=@product&.date&.strftime("%b %d, %Y")%>
                        </p>
                        <%#if @product.reviews.where(user_id: current_user&.id).present? %>
                        <div class="reviews"><a href="#" class="posted-btn" data-toggle="modal" disabled>Review Already Posted</a>
                            <%#= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "posted-btn" %>
                              <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a>

                        </div>
                        <%#elsif !current_user.present?%>
                        <div class="reviews">
                            <%#= link_to "Login for Write a review", new_user_session_path, :class => 'posted-btn'%>
                             <%#= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "posted-btn" %>
                               <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a>

                        </div>
                        <%#else%>
                        <div class="reviews"><a href="#" class="posted-btn" data-toggle="modal" data-target="#reviewModal">Write a review</a>
                             <%#= link_to "Review Critics", review_chart_web_reviews_path(product_id: params[:id]),class: "posted-btn" %>
                               <a href="#" class="posted-btn" data-toggle="modal" data-target="#rawdata">Raw data</a>

                        </div>
                        <%#end%>
                    </div>
                   
                    <div class=" col-md-6 rightsec">
                        <div class="buttons">
                            <p class="button12"><span class="button1" id="button65">
                                    <%=@user_reviews_avg%></span>Userscore</p>
                            <p class="button12"><span class="button1" id="button87">
                                    <%=@meta_reviews_avg%></span>Metascore</p>
                        </div>
                    </div>
                </div> -->
                <div>
                    <%#binding.pry%>
                    <p class="mainpara">
                        <%= sanitize(@product&.description)%>
                    </p>
                </div>
                 <div>
                    <%if @product.video.present?%>
                    <video controls="controls" width="400px" height="200px" id="video_player" src="<%=@product&.video&.url%>" autoplay="true" muted="false" class="video_product",poster="<%=get_poster(@product&.video&.url)%>" preload="none"></video>
                    <%else%>
                    <!-- <img src="/assets/video-dummy.gif" class="youtubeimage"> -->
                    <%end%>
                </div>
            </div>
            <%if @product_links.present?%>
            <div class="col-md-3">
                <div class="product_link_box">
                   <% @product_links.each do |m|%>
                   <!-- <a href=<%#=m.url%>><%#= m.link%></a> -->
                   <a href=<%=m.url%> target="_blank"><%= m.link%></a>
                   <% end %>
               </div>
            </div>
           <%end%>
        </div>
        <!--  i did change here Atul-->
       
        <!--  -->
        <!-- Rating summary -->
        <div class="row rowreviews align-items-center justify-content-between">
            <div class="col-md-8">
                <h3>Ratings Summary</h3>
               
            </div>
        </div>
        <!-- end -->
        <!-- summary -->
        <div class="row rowreviews">
            
            <div class=" col-md-6 ">

                <div class="row my-cls">
                    <div class="col-md-8">
                <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Userscore</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@user_reviews_avg%></span></p>
                </div>
            </div>
                <div class="col-md-4">
                    <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Total Review</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@user_reviews.count%></span></p>
                </div>
            </div>
               </div>

                <div class="buttonsreviews">
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:positive] %>%">
                            <%= @user_score[:positive] %>
                        </div>
                    </div>
                    Positive
                    <%= @user_score[:positive] %> %
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:middle] %>%">
                            <%= @user_score[:middle] %>
                        </div>
                    </div>
                    Medium
                    <%= @user_score[:middle] %>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:<%= @user_score[:negative] %>%">
                            <%= @user_score[:negative] %>
                        </div>
                    </div>
                    Negative
                    <%= @user_score[:negative] %>%
                    <!-- <img src="/assets/review.jpg" class="reviewimg1"> -->
                </div>
            </div>
            <%# @meta_user_count = 0 %>
            <%# @positive_expert = 0 %>
            <%# @negative_expert = 0 %>
            <%# @medium_expert = 0 %>
            <%# @meta_reviews.each do |abc|%>
            <%## if User.find_by(id: abc.user_id).user_type == "Expert User"%>
            <%## @meta_user_count += 1%>
            <%# if (abc.rating)*100/10 >= 60 && abc.spoiler == false %>
            <%# @positive_expert += 1%>
            <%# elsif  (abc.rating)*100/10 >= 31 && (abc.rating)*100/10 <= 59 && abc.spoiler == false %>
            <%# @medium_expert += 1 %>
            <%#else%>
            <%# @negative_expert += 1 %>
            <%##end%>
            <%#end%>
            <%#end%>
            <div class=" col-md-6 ">
                   <div class="row my-cls">
                    <div class="col-md-8">
                <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Metascore</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@meta_reviews_avg%></span></p>
                </div>
            </div>
                <div class="col-md-4">
                    <div class="buttonsreviews">
                    <p class="button12"><span class="blueuser">Total Review</span><br>
                        <span class="button1" id="button65reviews">
                            <%=@meta_reviews.count%></span></p>
                </div>
            </div>
               </div>
                <div class="buttonsreviews">
                    <div class="progress">
                        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:positive]%>%">
                            <%= @meta_score[:positive]%>
                        </div>
                    </div>
                    Positive
                    <%= @meta_score[:positive]%>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:middle]%>%">
                            <%= @meta_score[:middle]%>
                        </div>
                    </div>
                    Medium
                    <%= @meta_score[:middle]%>%
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:<%= @meta_score[:negative]%>%">
                            <%= @meta_score[:negative]%>
                        </div>
                    </div>
                    Negative
                    <%= @meta_score[:negative]%>%
                    <!-- <img src="/assets/review.jpg" class="reviewimg1"> -->
                </div>
            </div>
        </div>
        <!-- end summary -->
        <!-- Description  -->
        <!-- <div class="parar rowreviews">
            <h3>Description</h3>
            <p class="reviewpara word-break-all">
                <%#=ActionView::Base.full_sanitizer.sanitize(@product&.description)%>
            </p>
        </div> -->
        <!-- end Description -->
        <!-- Screenshots -->
        <div class="rowreviews">
            <h3>Screenshots</h3>
        </div>
        <% if @images.count>3%>
        <div class="home-slider2">
            <%#arr = @product.image { |i| i&.file&.url}%>
            <%# arr=[]%>
            <%# binding.pry%>
            <%# @product.image.each { |i|  arr<<i&.file&.url if i.file_type!="1"} %>
            <% unless  @images.blank? %>
            <%#arr = arr[0..2]%>
            <% @images.each do |a|%>
            <div class="col-md-4 columnimage">
                <div class="imagecol3">
                    <img src="<%=a%>" class="screen-img myImg">
                </div>
            </div>
            <%end%>
            <%else%>
            <%#arr = @product.image { |i| i&.file&.url}%>
            <%#arr = arr[0..2]%>
            <%@banners.each do |a|%>
            <div class="col-md-4 columnimage">
                <div class="imagecol3">
                    <img src="<%=a%>" class="screen-img myImg">
                    <!-- <button onclick="abc12()">next</button> -->
                </div>
            </div>
            <%end%>
            <%end%>
        </div>
        <%else%>
         <div class="row rowreviews">
            <%#arr = @product.image { |i| i&.file&.url}%>
            <%# arr=[]%>
            <%# binding.pry%>
            <%# @product.image.each { |i|  arr<<i&.file&.url if i.file_type!="1"} %>
            <% unless  @images.blank? %>
            <%#arr = arr[0..2]%>
            <% @images.each do |a|%>
            <div class="col-md-4 columnimage">
                <div class="imagecol3">
                    <img src="<%=a%>" class="screen-img myImg">
                </div>
            </div>
            <%end%>
            <%else%>
            <%#arr = @product.image { |i| i&.file&.url}%>
            <%#arr = arr[0..2]%>
            <%@banners.each do |a|%>
            <div class="col-md-4 columnimage">
                <div class="imagecol3">
                    <img src="<%=a%>" class="screen-img myImg">
                    <!-- <button onclick="abc12()">next</button> -->
                </div>
            </div>
            <%end%>
            <%end%>
        </div>
        <%end%>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-body" style="padding: 0.2rem">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <span class="close1 close" class="" data-dismiss="modal" aria-label="Close">&times;

            </span>
        <!-- </button> -->
            <img class="modal-content" id="img01">
      </div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
    </div>
  </div>
</div>
<!-- <style type="text/css">
    .flex_imag_tag{
        max-width: 295px;
        max-height: 295px;
    }
</style> -->

        <!-- <div id="myModal" class="modal1">
            <span class="close1">&times;</span>
            <img class="modal-content1" id="img01">
            <div id="caption1"></div>
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div> -->
        <!-- end screenshot -->
        <!-- userscore && Metascore -->
        <div class="row rowreviews">
            <div class="col-md-12 col-lg-8">
                <nav>
                    <div class="nav nav-tabs nav-pills tabline" id="nav-tabScore" role="tablist">
                        <a class="nav-item nav-link active fonts" data-toggle="pill" href="#nav-name" role="tab">Userscore </a>
                        <a class="nav-item nav-link fonts" data-toggle="pill" href="#nav-metascore" role="tab">Metascore</a>
                    </div>
                </nav>
                <div class="tab-content theatres-content" id="tabScore">
                    <div class="tab-pane fade in show active" id="nav-name" role="tabpanel">
                        <% if @user_reviews.present?%>
                        <div class="row">
                        <%@user_reviews[0..3].each do |review|%>
                              <div class="col-md-6">
                                <div class="score-card">
                                    <div class="score-card-top">
                                        <div class="rtUserImg">
                                            <img src="<%=user_image(review&.user_id).present? ? user_image(review&.user_id)&.file&.url : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                                            <div class="name-date">
                                                <h4>
                                                    <%=review&.name%>
                                                </h4>
                                                <span>
                                                    <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                                            </div>
                                            <div class="score-rating">
                                                <%= review&.rating.to_i == 10 ? "10" : "0#{review&.rating}"%>/10
                                                <%if review&.criteria.present? %>
                                                <%z=0%>
                                                <% eval(review.criteria).map do |key,value| %>
                                                <p>
                                                    <%if z <= 2 %>
                                                    <% z=z+1 %>
                                                    <%=key%>:
                                                    <% if value > 0 %>
                                                    <% value.times do %>
                                                    <span class="fa fa-star checked"></span>
                                                    <% end %>
                                                </p>
                                                <%else%>
                                                N/A
                                                <%end%>
                                                <%end%>
                                                <% end %>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratingText">
                                        <%#=truncate(review&.comment, :length => 130)%>
                                        <%= truncate(sanitize(review&.comment, :tags => %w(br a)), :length => 130) %>
                    <div class=""><a href="/web/users/<%=review.product_id%>/blockchain_data">Blockchain Info</a>


                                        <%if review&.comment&.present? && review&.comment&.length > 130 || z>=3%>
                                       <div class="xyz"><a href="/web/users/<%= review&.id%>/full_review">Read Full Review</a></div>
                                        <%end%>
                    </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="like-dislike">
                                            <span><img style="width:25px" src='<%= review_vote_status(review.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_like_count(review)%></span>
                                            <span><img style="width:25px" src='<%= review_vote_status_dislike(review.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_dislike_count(review)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                        <% if @user_reviews.count>=4 %>
                         <a href="<%= rating_product_web_users_path(id: @product.id)%>" class="readmore pull-right btn btn-theme my-3">View More></a>
                         <% end %>
                        <%else%>
                        <div>
                            <p>No Record Found</p>
                        </div>
                        <%end%>
                    </div>
                    <div class="tab-pane fade" id="nav-metascore" role="tabpanel">
                        <% if @meta_reviews.present?%>
                        <div class="row">
                        
                            <%@meta_reviews.each do |review|%>
                                <div class="col-md-6">
                                <div class="score-card">
                                    <div class="score-card-top">
                                        <div class="rtUserImg">
                                            <img src="<%=user_image(review&.user_id).present? ? user_image(review&.user_id)&.file&.url : "/assets/user_default.jpeg"%>"> </div> <div class="rtUserInfo">
                                            <div class="name-date">
                                                <h4>
                                                    <%=(review&.name)%>
                                                </h4>
                                                <span>
                                                    <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                                            </div>
                                            <div class="score-rating">
                                                <%=review&.rating.to_i == 10 ? "10" : "0#{review&.rating}"%>/10
                                                <% if review&.criteria.present?%>
                                                <%z=0%>
                                                <% eval(review.criteria)&.map do |key,value| %>
                                                <p>
                                                    <%if z<=2%>
                                                    <%z=z+1%>
                                                    <%=key%>
                                                    <%if value > 0 %>
                                                    <% value.times do %>
                                                    <span class="fa fa-star checked"></span>
                                                    <% end %>
                                                </p>
                                                <%else%>
                                                <p>N/A</p>
                                                <%end%>
                                                <%end%>
                                                <% end %>
                                                <%end%>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ratingText">
                                        <%= truncate(sanitize(review&.comment, :tags => %w(br a)), :length => 130) %>
                                        <div> <a href="/web/users/<%=review.product_id%>/blockchain_data">Blockchain Info</a>
                                        <%#=truncate(review&.comment, :length => 130)%>
                                        <%if review&.comment&.present? && review&.comment&.length > 130||z>=3%>
                                        <!-- <a href="javascript:void(0);" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="<%#= sanitize(review&.comment)%>">Read Full Review</a> -->
                                        <div class="xyz"><a href="/web/users/<%= review&.id%>/full_review">Read Full Review</a></div>
                                        <%end%>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="like-dislike">
                                            <span><img style="width:25px" src='<%= review_vote_status(review.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_like_count(review)%></span>
                                            <span><img style="width:25px" src='<%= review_vote_status_dislike(review.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=review.id%>" alt="" onclick="voting(this)">
                                                <%= voting_dislike_count(review)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            <%end%>
                         <% if @meta_reviews.count>=4 %>
                         <a href="<%= rating_product_web_users_path(id: @product.id)%>" class="readmore pull-right btn btn-theme my-3">View More></a>
                         <%end%>
                        <%else%>
                        <div>
                            <p>No Record Found.</p>
                        </div>
                        <%end%>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="widget reviewe-widget">
                    <h3 class="widget-title">Reviewed Today</h3>
                    <% if @todays_review.present? %>
                    <%@todays_review[0..6].each do |review|%>
                    <div class="d-flex align-items-start reviewe-widget-item mb-4">
                        <a href="/web/users/<%= review&.id%>/full_review"><img src='<%= review&.product&.image.present? ? review&.product&.image&.first&.file&.url : "/assets/review-img.png" %>'></a>
                        <% a= User.find(review.user_id) %>
                             <span class="reviewd-user"><a href="<%=read_full_review_web_users_path(id: review.id)%>"><img src='<%= a&.image.present? ? a&.image&.file&.url : "/assets/circle.png" %>'></a></span>
                        <div class="reviewe-widget-content">
                            <h6>
                                <%= review&.product&.category&.category_name%> Reviews |
                                <%=review&.product&.product_name%> Reviews</h6>
                            <p>
                                <%#=truncate(review&.comment, :length => 72)%>
                            <%= truncate(sanitize(review&.comment, :tags => %w(br a)), :length => 72) %>
                                                            </p>
                            <span><i class="fa fa-clock-o"></i>
                                <%= review&.created_at&.strftime("%B %d, %Y")%></span>
                        </div>
                    </div>
                    <%end%>
                    <%else%>
                    <div>
                        <p> No record found</p>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
        <!-- end of userscore && metascore -->
        <div class="heading">
            <h2 class="titile-light">You may also like:</h2>
        </div>
        <!-- <div class="custom-slider slidw"> -->
        <div class="row">
            <%@products_movie_details&.each do |product|%>
            <%#binding.pry%>
            <%#binding.pry%>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <a href="/web/users/<%=product.id%>/movie_detail" class="custom-post custom-slide">
                    <div class="custom-img">
                        <img src='<%= product&.image&.where(avtar: true).present? ? product&.image&.where(avtar: true).first&.file.try(:url) : "/assets/_image1.png" %>' class="img-fluid " alt="">
                    </div>
                    <div class="custom-content justify-content-end">
                        <h4 class="custom-title">
                            <%=product&.product_name%>
                        </h4>
                        <p class="mb-2">
                            <%= truncate(strip_tags(product&.description), omision: "...", length: 130).html_safe%>
                        </p>
                        <!-- <a href="#" class="view-more align-self-end">View More</a> -->
                    </div>
                    <div class="prcnt-section">
                        <%if product&.reviews&.pluck("rating")&.sum > 0 %>
                        <p>
                            <%=(product&.reviews&.pluck("rating")&.sum*100)/(product&.reviews&.pluck("rating")&.count*10)%>%</p>
                        <%else%>
                        <p>0%</p>
                        <% end %>
                    </div>
                </a>
            </div>
            <%end%>
        </div>
    </div>
</div>
</div>
</div>


<!-- raw -->
 <div class="modal fade bd-example-modal-lg reviewModal" id="rawdata" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-body">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
               <div class="form-group">
                   <h4 class="text-center mb-0"><%=@raw_data%></h4>
               </div>
  
               
              
           </div>
       </div>
   </div>
</div>
<!-- raw end -->


<div class="modal fade bd-example-modal-lg reviewModal" id="reviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-group">
                    <h4 class="text-center mb-0">Share Your Votes now</h4>
                </div>
                <%#= form_tag get_reviews_web_reviews_path(id: @product.id), id: "count_rating_dynamic" do %>
                <%= form_with url: get_reviews_web_reviews_path(id: @product.id), id: "count_rating_dynamic", local: true do |f| %>
                <div class="form-group">
                    <div class="rating-row">
                        <div class="count_child">
                            <%i=0%>
                            <%@review_parts.each do |criteria|%>
                            <% if i%2==0 %>
                            <div class="left">
                                <div class="rating-wrap">
                                    <span class="ratetitle">
                                        <%= criteria&.criteria&.titleize%></span>
                                    <div class="rate">
                                      <input type="radio" id="<%= "star5" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="5" />
                  <label for="<%= "star5" + criteria.id.to_s%>" title="text">5 stars</label>
                  <input type="radio" id="<%= "star4" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="4" />
                  <label for="<%= "star4" + criteria.id.to_s%>" title="text">4 stars</label>
                  <input type="radio" id="<%= "star3" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="3" />
                  <label for="<%= "star3" + criteria.id.to_s%>" title="text">3 stars</label>
                  <input type="radio" id="<%= "star2" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="2" />
                  <label for="<%= "star2" + criteria.id.to_s%>" title="text">2 stars</label>
                  <input type="radio" id="<%= "star1" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="1" />
                  <label for="<%= "star1" + criteria.id.to_s%>" title="text">1 star</label>
                                   
                                </div>
                                </div>
                            </div>
                            <%i=i+1%>
                            <%else%>
                            <div class="right">
                                <div class="rating-wrap">
                                    <span class="ratetitle">
                                        <%= criteria&.criteria&.titleize%></span>
                                    <div class="rate">
                                      <input type="radio" id="<%= "star5" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="5" />
                  <label for="<%= "star5" + criteria.id.to_s%>" title="text">5 stars</label>
                  <input type="radio" id="<%= "star4" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="4" />
                  <label for="<%= "star4" + criteria.id.to_s%>" title="text">4 stars</label>
                  <input type="radio" id="<%= "star3" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="3" />
                  <label for="<%= "star3" + criteria.id.to_s%>" title="text">3 stars</label>
                  <input type="radio" id="<%= "star2" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="2" />
                  <label for="<%= "star2" + criteria.id.to_s%>" title="text">2 stars</label>
                  <input type="radio" id="<%= "star1" + criteria.id.to_s%>" name="rating[]<%= criteria&.criteria%>" value="1" />
                  <label for="<%= "star1" + criteria.id.to_s%>" title="text">1 star</label>
                                   
                                </div>
                                </div>
                                <%i=i+1%>
                            </div>
                            <%end%>
                            <%end %>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="holidays">
                    <div class="overallRating" style="display:none;">
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating1" name="numeric_rating" value="01" class="ten-rate" /><span class="sib_span">1</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating2" name="numeric_rating" value="02" class="ten-rate" /><span class="sib_span">2</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating3" name="numeric_rating" value="03" class="ten-rate" /><span class="sib_span">3</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating4" name="numeric_rating" value="04" class="ten-rate" /><span class="sib_span">4</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating5" name="numeric_rating" value="05" class="ten-rate" /><span class="sib_span">5</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating6" name="numeric_rating" value="06" class="ten-rate" /><span class="sib_span">6</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating7" name="numeric_rating" value="07" class="ten-rate" /><span class="sib_span">7</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating8" name="numeric_rating" value="08" class="ten-rate" /><span class="sib_span">8</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating9" name="numeric_rating" value="09" class="ten-rate" /><span class="sib_span">9</span></label>
                        <label class="radio-inline"><input style="display: none;" type="radio" id="numeric_rating10" name="numeric_rating" value="10" class="ten-rate" /><span class="sib_span">10</span></label>
                    </div>
                    <div class="overallRating" >
                        <span class="dume-circle ">1</span>
                        <span class="dume-circle ">2</span>
                        <span class="dume-circle">3</span>
                        <span class="dume-circle">4</span>
                        <span class="dume-circle">5</span>
                        <span class="dume-circle">6</span>
                        <span class="dume-circle">7</span>
                        <span class="dume-circle">8</span>
                        <span class="dume-circle">9</span>
                        <span class="dume-circle">10</span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label>Review this
                        <%= Product.find(@product.id).category_name%> now</label>
                    <!-- <textarea style="resize: none" name="description" class="form-control"  rows="5" required="true"></textarea> -->
                    <%= f.cktext_area :description, class: "form-control", placeholder: "" %>

                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="spoiler" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check box if your review contains spoilers</label>
                </div>
                <div class="form-group text-center">
                    <!-- <button style="color: #fff" type="submit" class="btn btn-theme" >Submit</button> -->
                    <%#=f.submit " Submit", id: "form_tag_review",class: "btn btn-theme"%>
                    <%#=f.submit " Submit", id: "form_tag_review",class: "btn btn-theme", data: {disable_with: "<i class: 'fa fa-spinner fa-spin' ></i> Saving..."}%>
                    <%= button_tag "Submit!", id: "form_tag_review", class: "btn btn-theme", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Checking info".html_safe %> 

                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>
// $(document).ready(function() {
//     $('#form_tag_review').on('click', function() {
//         // console.log("First")
//         $(this).attr('disabled', 'disabled');
//      $('#count_rating_dynamic').submit(); });
// });

$('.custom-slider').slick({
    dots: false,
    infinite: true,
    autoplay: true,
    speed: 300,
    slidesToShow: 3,
    responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: true,
            }
        },
        {
            breakpoint: 991,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
                infinite: true,
            }
        },
        {
            breakpoint: 767,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
            }
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
            }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
    ]
});
</script>
<!--  -->
<script type="text/javascript">
$('.count_child').on('click', function() {


    var avereage = 0
    objects = $('.count_child').find('input:checked')
    objects.each(function() {
        avereage = avereage + parseInt(this.value)
        // debugger;
        // if($(this).find('checkbox').is(':checked'))
        // { 
        // len++;
        // }    

    });
    if (avereage > 0) {
        avereage = avereage / $('.count_child').find('input').length
        avereage = Math.round(avereage * 10);
        console.log(avereage)
        $('.ten-rate')[(avereage - 1)].click();
        $(".dume-circle").removeClass("active");
        $(".dume-circle")[(avereage - 1)].classList.add("active"); //.addClass("active");

    }
});
</script>
<style type="text/css">
.video_product {
    height: 100%;
    max-height: 359px;
    width: 100%;
    max-width: 976px;
}


.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 183px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content1,
#caption1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close1 {
    position: absolute;
    top: 20px;
    right: 35px;
    z-index: 1;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover,
.close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    background-color: #454a4e;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.product_link_box{
    padding: 20px 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    /*margin-top: -175px;*/
    width: 300px;
    height: 235px;
}

a.next,
a.prev {
    color: white !important;
}

.next {
    right: 0;

    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(2, 2, 2, 0.8);
}


</style>
<script type="text/javascript">
$(".ten-rate").click(function() {
    $(".sib_span").removeClass("active");
    // this.siblings("span").addClass("active");
    this.nextSibling.classList.add("active");
});
</script>
<script type="text/javascript">
function voting(a) {
    var current_object = a;
    var data = a.id.split("_");
    var review_status = data[0];
    var review_id = data[1];

    $.ajax({
        url: '/web/reviews/get_vote_for_review',
        type: 'post',
        data: {
            id: review_id,
            status: review_status
        },

        success: function(result) {
            // alert(result);
            // alert(current_object);
            var parent = current_object.parentElement;
            if (result.status == true) {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/like_active.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)" >' + result.dislike_count + '</span>'
            } else {
                parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/Facebook_like_thumb.png" class="vote_ajax" id="like_' + review_id + '" alt="" onclick="voting(this)" >' + result.like_count + '</span> <span><img style="width:25px" src="/assets/dislike_active.png" class="vote_ajax" id="dislike_' + review_id + '" alt="" onclick="voting(this)">' + result.dislike_count + '</span>'
            }
        }

    });
}
</script>
<script type="text/javascript">
$(document).ready(function() {

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementsByClassName("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption1");

    var dialog = $(".modal-dialog1");
    var offset = ($(window).height() - dialog.height()) / 2;
    // Center modal vertically in window
    dialog.css("margin-top", offset);
    // debugger;
    Array.prototype.slice.call(img).forEach(myfunction);

    function myfunction(item, index) {
        item.onclick = function() {
            // debugger
            $('#myModal').modal('show');
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;

        }
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close1")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    //Modal JS

    // $('#form_tag_review').on('click', function() { 
    //     console.log("last")
    //     $(this).attr('disabled', 'disabled');
    //     $('#count_rating_dynamic').submit(); 
    // });

 $('a.next').click(function next() {
       var modal = $("img.modal-content");
       var img = <%= raw(@images) %>;
       index = getIndex(modal, img);

       if (img[index + 1] != undefined) {
           modal.attr('src', img[index + 1]);
       }
   });

   $('a.prev').click(function next() {
       var modal = $("img.modal-content");
       var img = <%= raw(@images) %>;
       index = getIndex(modal, img);

       if (img[index - 1] != undefined) {
           modal.attr('src', img[index - 1]);
       }
   });

   function getIndex(modal, img) {
       var i;
       url = modal.attr('src');
       img.forEach(function(item, index) {
           if (item === url) {
               i = index;
           }
       });
       return i;
   }
});

$('#form_tag_review').click(function(e){
    var submit = rating();
    // debugger;
    if(submit === false){
        alert('Please fill atleast on rating');
        e.preventDefault();
    }
});

function rating()
{ 
    a =false;
    $(".dume-circle").each(function(){
    if ($(this).hasClass('active')){
        a = true;
    }
   });
    return a;
}



</script>

<script type="text/javascript">
// jQuery(document).ready(function() {
$(document).on("turbolinks:load",function(){
    jQuery('.home-slider').slick({
        dots: false,
        infinite: true,
        autoplay: true,
        speed: 300,
        slidesToShow: 1,
    });

    $('.home-slider2').slick({
        dots: true,
        infinite: true,
        autoplay: true,
        arrows: false,
        speed: 300,
        slidesToShow: 3,
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                }
            },
            {
                breakpoint: 991,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    infinite: true,
                }
            },
            {
                breakpoint: 767,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
});
</script>
<!-- <style>
.home-slider2 ul.slick-dots !important{
    display: inline-block;
    max-width: 50%;
    /* right: 0px; */
    z-index: 9;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%,-50%);
}
</style> -->

<style type="text/css">
    .home-slider2 ul.slick-dots {
    display: inline-block;
    max-width: 100%;
    z-index: 1;
    bottom: -35px;
}
.home-slider2 ul.slick-dots li {
    border: 1px solid #868686;
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

.skin-product .carousel-item:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.skin-product .slide-content {
    position: absolute;
    bottom: 0;
    z-index: 9;
    width:100%;
}
.skin-product .slide-content h2{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.skin-product .slide-content p{
    font-size: 12px;
    font-weight: 600;
    margin:10px 0;
    
}
.button-block{
    margin-bottom:20px;
}

.btn.btn-review, .btn.btn-review-outline {
    background: #efa42f;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #efa32f;
    padding: 6px 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom:30px;
}
.btn.btn-review-outline{
    background:transparent;
}
.btn.btn-review-outline:hover{
    background: #efa42f;
}

.progress-bar-circle{
    display:flex;
    margin-bottom:10px;
}

.progress-bar-circle .progress{
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: none;
    margin: 0;
    box-shadow: none;
    position: relative;
}
.progress-bar-circle .progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-bar-circle .progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-bar-circle .progress .progress-left{
    left: 0;
}
.progress-bar-circle .progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-bar-circle .progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-bar-circle .progress .progress-right{
    right: 0;
}
.progress-bar-circle .progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress-bar-circle .progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    /*background: #44484b;*/
    font-size: 24px;
    font-weight:700;
    color:#90cd4c;
    line-height:70px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress-bar-circle .progress.blue .progress-bar{
    border-color: #049dff;
}
.progress-bar-circle .progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress-bar-circle .progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress-bar-circle .progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress-bar-circle .progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress-bar-circle .progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress-bar-circle .progress.green .progress-bar{
    border-color:#90cd4c;
}
.progress-bar-circle .progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


.mr15{margin-right:15px;}
.product_link_box{
    padding: 15px 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    /* margin-top: -175px; */
    width: auto;
    height: auto;
}
.xyz {
    float: right;
    clear: both;
}

.lll {
    margin-bottom: -13px;
}
.product_link_box a{
    color: #ec952e;
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    display: block;
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0 5px 20px;
}
.product_link_box a:last-child{
    border-bottom:0;
}
.product_link_box a:before{
    content:">>";
    position:absolute;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
}
.circular-progress-bar {
    position: relative;
    margin: 0 auto;
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding:0px;
}

.progress-percentage {
    font-size:20px;
    transform: translate(-50%, -85%);
    line-height:0;
}

.progress-text {
    transform: translate(-50%, 0%);
    color: #585858;
    font-size:16px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
    $(".my-progress-bar").circularProgress({
        line_width: 6,
        color: "#ccc",
        starting_position: 0, // 12.00 o' clock position, 25 stands for 3.00 o'clock (clock-wise)
        percent: 0, // percent starts from
        percentage: true
    }).circularProgress('animate',55, 5000);
});




(function ( $ ) {

    var global_settings = {};

    var methods = {
        init : function(options) {
            // This is the easiest way to have default options.
            var settings = $.extend({
                // These are the defaults.
                color: "#000000",
                height: "90px",
                width: "90px",
                line_width: 5,
                starting_position: 25,
                percent: 100,
                counter_clockwise: false,
                percentage: true,
                text: ''
            }, options );
            global_settings = settings;


            // Create percentage
            var percentage = $("<div class='progress-percentage'></div>");
            
            if(!global_settings.percentage) {
                percentage.text(global_settings.percentage);
            }
            $(this).append(percentage);


            // Create text
            var text = $("<div class='progress-text'></div>");
            
            // Custom text
            if(global_settings.text != "percent") {
                text.text(global_settings.text);
            }
            $(this).append(text);

            // Correct any invalid values
            if(global_settings.starting_position != 100) {
                global_settings.starting_position = global_settings.starting_position % 100;
            }
            if(global_settings.ending_position != 100) {
                global_settings.ending_position = global_settings.ending_position % 100;
            }
            // No 'px' or '%', add 'px'
            appendUnit(global_settings.width);
            appendUnit(global_settings.height);

            // Apply global_settings
            $(this).css({
                "height": global_settings.height,
                "width": global_settings.width
            });
            $(this).addClass("circular-progress-bar");

            // Remove old canvas
            $(this).find("canvas").remove();

            // Put canvas inside this
            $(this).append(createCanvas($(this)));

            // Return allows for chaining
            return this;
        },
        percent : function(value) {
            // Change percent
            global_settings.percent = value;
            // Apply global_settings
            $(this).css({
                "height": global_settings.height,
                "width": global_settings.width
            });
            // Remove old canvas
            $(this).children("canvas").remove();
            // Put canvas inside this
            $(this).append(createCanvas($(this)));

            // Return allows for chaining
            return this;
        },
        animate : function(value, time) {
            // Apply global_settings
            $(this).css({
                "height": global_settings.height,
                "width": global_settings.width
            });

            // Number of intervals, 10ms interval
            var num_of_steps = time / 10;
            // Amount of change each step
            var percent_change = (value - global_settings.percent) / num_of_steps;

            // Variable conflict, rename this
            var scope = $(this);
            var theInterval = setInterval(function() {
                if(global_settings.percent < value) {
                    // Remove old canvas
                    scope.children("canvas").remove();
                    // Increment percent
                    global_settings.percent += percent_change;
                    // Put canvas inside this
                    scope.append(createCanvas(scope));
                } else {
                    clearInterval(theInterval);
                }
            }, 10);

            // Return allows for chaining
            return this;
        }
    };

    $.fn.circularProgress = function(methodOrOptions) {
        if (methods[methodOrOptions]) {
            // Method found
            return methods[methodOrOptions].apply(this, Array.prototype.slice.call(arguments, 1));
        } else if (typeof methodOrOptions === 'object' || !methodOrOptions) {
            // Default to "init", object passed in or nothing passed in
            return methods.init.apply( this, arguments );
        } else {
            $.error('Method ' +  methodOrOptions + ' does not exist.');
        }
    };

    /* =========================================================================
        PRIVATE FUNCTIONS
    ========================================================================= */

    // return string without 'px' or '%'
    function removeUnit(apples) {
        if(apples.indexOf("px")) {
            return apples.substring(0, apples.length - 2);
        } else if(canvas_height.indexOf("%")) {
            return apples.substring(0, apples.length - 1);
        }
    };
    // return string with 'px'
    function appendUnit(apples) {
        if(apples.toString().indexOf("px") < -1 && apples.toString().indexOf("%") < -1) {
            return apples += "px";
        }
    };
    // calculate starting position on canvas
    function calcPos(apples, percent) {
        if(percent < 0) {
            // Calculate starting position
            var starting_degree = (parseInt(apples) / 100) * 360;
            var starting_radian = starting_degree * (Math.PI / 180);
            return starting_radian - (Math.PI / 2);
        } else {
            // Calculate ending position
            var ending_degree = ((parseInt(apples) + parseInt(percent)) / 100) * 360;
            var ending_radian = ending_degree * (Math.PI / 180);
            return ending_radian - (Math.PI / 2);
        }
    };
    // Put percentage or custom text inside progress circle
    function insertText(scope) {
        $(".progress-percentage").text(Math.round(global_settings.percent) );
    }
    // create canvas
    function createCanvas(scope) {
        // Remove 'px' or '%'
        var canvas_height = removeUnit(global_settings.height.toString());
        var canvas_width = removeUnit(global_settings.width.toString());

        // Create canvas
        var canvas = document.createElement("canvas");
        canvas.height = canvas_height;
        canvas.width = canvas_width;

        // Create drawable canvas and apply properties
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = global_settings.color;
        ctx.lineWidth = global_settings.line_width;

        // Draw arc
        ctx.beginPath();

        // Calculate starting and ending positions
        var starting_radian = calcPos(global_settings.starting_position, -1);
        var ending_radian = calcPos(global_settings.starting_position, global_settings.percent);
        // Calculate radius and x,y coordinates
        var radius = 0;
        var xcoord = canvas_width / 2;
        var ycoord = canvas_height / 2;
        // Height or width greater
        if(canvas_height >= canvas_width) {
            radius = canvas_width * 0.9 / 2 - (global_settings.line_width * 2);
        } else {
            radius = canvas_height * 0.9 / 2 - (global_settings.line_width * 2);
        }

        /*
            x coordinate
            y coordinate
            radius of circle
            starting angle in radians
            ending angle in radians
            clockwise (false, default) or counter-clockwise (true)
        */
        ctx.arc(xcoord, ycoord, radius, starting_radian, ending_radian, global_settings.counter_clockwise);
        ctx.stroke();

        // Add text
        if(global_settings.percentage) {
            insertText(scope);
        }

        return canvas;
    };

}( jQuery ));
</script>
<style type="text/css">
    .score-card .rtUserInfo .name-date{
        min-height:0;
    }
</style>