 <%#  @reviews_normal&.each  do |@review|%>
        <% if @review.present?%>
        <%@a = User.find_by(id: @review.user_id) %>
        <!-- <div class="slide-item "> -->
            <div class="score-card">
                <div class="score-card-top">
                    <div class="rtUserInfo">
                        <div class="user-firstsec">
                            <div class="name-date">
                                <h4>
                                    <%= @a&.name%></h4>
                                   <h6> (<%= @a.user_type%>)
                                </h6>
                                <span>
                                    <%=@review.created_at.strftime("%B %d, %Y")%>
                                </span><br>
                               
                            </div>
                    <div class="rtUserImg">

                        <img src="<%= @a&.image&.file&.present? ? @a&.image&.file.try(:url) : "/assets/user_default.jpeg"%>">
                    </div> 
                </div>
                        
                            <div class="user-firstsec">
                                <div class="name-date">
                                 <h4> Product Name : <%=  Product.find(@review.product_id).product_name%></h4>
                                <% product=Product.find(@review.product_id)%>
                            </div>
                                <div class="rtUserImg">
                                <a href="/web/users/<%=product.id%>/movie_detail"><img src="<%= product&.image.first&.file&.present? ? product&.image.first&.file.try(:url) : "/assets/user_default.jpeg"%>"></a>
                                </div>
                            </div>
                           </div>
                </div>
                                 <div class="ratingText">
                                    <center>
                                    <h4>Product Description </h4>
                                   </center>
                                    <%= sanitize(Product.find(@review.product_id).description) %>
                               </div>
                <div class="score-rating">
                    <br><h2>Rating and Review</h2>
                                <h5>
                                <%= @review&.rating.to_i == 10 ? "10" : "0#{@review&.rating}"%>/10 </h5>
                                <% if @review&.criteria.present?%>
                                <div class="rating-row">
                                <div class="count_child">
                                    <% i=0 %>
                                <% eval(@review.criteria).map do |key,value| %>
                                <% if i%2==0 %>
                                <% i=i+1 %>
                                <div class="left">
                                    <div class="abc1">
                                <div class="star-para">
                                    <%=key%>
                                </div>
                                <div class="st">
                                    <% if value > 0 %>
                                    <% value.times do %>
                                    <label class="fa fa-star checked"></label> 
                                    <% end %>
                                
                                <%else%>
                                N/A
                                <%end%>
                                </div>
                                </div>
                            </div>
                                <%else%>
                                <% i=i+1 %>
                                <div class="right">
                                    <div class="abc1">
                                 <div class="star-para">
                                    <%=key%>
                                </div>
                                <div class="st">
                                    <% if value > 0 %>
                                    <% value.times do %>
                                    <label class="fa fa-star checked"></label> 
                                    <% end %>
                                
                                <%else%>
                                N/A
                                <%end%>
                                </div>
                                </div>
                            </div>
                                <%end%>
                                <% end %>
                            </div>
                        </div>
                                <% end %>
                                <%#= @review&.product&.category_name%>
                            </div>
                <div class="ratingText">
                    <%#=truncate(@review&.comment)%>
                    <%=simple_format(@review&.comment)%>
                    <%#= truncate(strip_tags(@review&.comment), length: 130).html_safe%>
                    <%#if @review&.comment.present? && @review&.comment&.length > 100 %>
                    <!-- <a href="web/users/read_full_review?id=<%#= @review&.id %>">Read Full Review</a> -->
                    <%#end%>
                </div>
                <!-- <div class="d-flex justify-content-end"> -->
                    <%# if current_user&.present? %>
                    <!-- <div class="like-dislike">
                        <span>
                            <img style="width:25px" src='<%#= review_vote_status(@review.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%#=#@review.id%>" alt="" onclick="voting(this)">
                            <%#= voting_like_count(@review)%></span>
                        <span><img style="width:25px" src='<%#= review_vote_status_dislike(@review.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%#=@review.id%>" alt="" onclick="voting(this)">
                            <%#= voting_dislike_count(@review)%></span>
                    </div> -->
                    <%#end%>
                <!-- </div> -->
            </div>
        <!-- </div> -->
        <%end%>
        <%#end%>
<style type="text/css">
    div.rtUserImg
    {
        margin: 15px;
        width:50%;
        text-align: right;
    }
    div.rtUserInfo
    {
        margin: 15px;
        width: 50%;
    }
  
      .score-card {
    padding: 20px 15px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    width: 641px; 
    max-width: 641px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.score-card-top {
    margin-right: 50px;
}
.user-firstsec{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}
.product-name{
    white-space: nowrap;
}
.name-date h4 {
    white-space: normal;
    font-size: 23px;
}
.score-card p {
    text-align: center;
}
.score-rating h5 {
    text-align: center;
}
.score-rating {
    margin-bottom: 20px;
}
.score-rating h2 {
    color: #000;
    text-align: center;
    font-size: 20px;
}
/*.ratingText {
    text-align: justify;
}*/
 .ratingText p {
    font-size: 15px!important;
    margin-bottom: inherit!important;
    text-align: unset!important;
}
 .abc1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.abc1 .star-para{
       box-sizing: border-box;
       font-size: 14px;
       padding-left: 15px;
}
.abc1 .st {
    min-width: 25%;
    font-size: 14px;
    margin-right: 18px;
}

</style>