<%if current_user.present? %>
<%= render partial: 'web/users/head'%>
<%end%>

<%= render partial: 'web/users/trending'%>
<div class="col-md-8">
            <div class="left-side">
              <h3 class="widget-title">All TRENDING </h3>
              <div class="posts">
                <div class="post-item">
                  <div class="row no-gutters align-items-stretch">
	                    <% @products.each_with_index do |product, index|%>
	                    <%#binding.pry%>
	                    
		                    <% if product.trending == true %>
				                    
				                    <div class="col-md-4">
				                      <div class="post-img">
				                        <img src="<%= product.image.take.file_url%>" alt="">
				                      </div>
				                    </div>

				                    <div class="col-md-8">
					                      <div class="post-details">
					                        <p class="tag"><span><%= product.category_name%> : Review</span></p>
					                        <h4 class="post-title"><%= product.product_name%> : <%#= product.sub_category_name%></h4>
					                        <p><%= truncate(strip_tags(product.description), omision: "...", length: 100).html_safe%></p>
						                        <div class="post-meta">
						                          <span><i class="fa fa-clock-o"></i> <%= product&.date&.strftime("%B %d, %Y")%></span>
						                        </div>
					                      </div>
				                    </div>
		                    <%end%>
	                    <%end%>

                  </div>
                </div>
               
              </div>
            </div>
          </div>