
<div class="page-wrapper">
    <div class="container home-wrap">
        <div class="row theatres-row trending-row">
            <div class="col-md-12">
                <h2 class="widget-title mt-0">All TRENDING NOW</h2>
                <% @trending_products&.each_with_index do |product, index|%>
                <div class="row tranding-item-row no-gutters">
                    <div class="col-md-6">
                        <div class="youtube-image2">
                            <a href="/web/users/<%=product.id%>/movie_detail"><img width="560" height="315" src="<%= product.image.take.file_url%>" /></a>
                        </div>
                    </div>
                    <div class="col-md-6 youtube-content ">
                        <figure class="para-Margin-top">
                            <h4>
                                <%= product&.product_name%>:
                                <%= product&.category_name%>
                            </h4>
                            <p>
                                <%= truncate(strip_tags(product&.description), omision: "...", length: 400).html_safe%>
                            </p>
                            <p><span></span>
                                <%= product&.date&.strftime("%B %d, %Y")%>
                            </p>
                        </figure>
                    </div>
                </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <div class="apple_pagination pull-right">
        <%= will_paginate @trending_products, :container => false%>
    </div>
</div>