<%if current_user.present? %>
<%= render partial: 'web/users/head'%>
<%end%>

<%= render partial: 'web/users/trending'%>
<div class="col-md-4">
            <div class="right-side">

              <div class="widget">
                <h3 class="widget-title">UPCOMING RELEASES</h3>
                <% @products.each_with_index do |product, index|%>

                <% if product.date.present? %>
                <%if product.date.strftime("%d") > Time.now.strftime("%d") || product.date.strftime("%m") >= Time.now.strftime("%m") || product.date.strftime("%Y") > Time.now.strftime("%Y")%>
                <% if index <= 4 %>
                <div class="custom-post">
                  <div class="custom-img">
                    <img src="<%= product.image.take.file_url%>" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title"><%= product.product_name%>: <%= product.category_name%></h4>
                      <h5><%#= product.sub_category_name%></h5>
                    <p><%= truncate(strip_tags(product.description), omision: "...", length: 50).html_safe%></p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> <%= product&.date&.strftime("%B %d, %Y")%></p>
                  </div>
                </div>
                <%end%>
                <%end%>
                <%end%>
                <%end%>
                 <!-- <a href="/web/users/upcomeing" class="readmore pull-right">Read More></a> -->
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
                <!-- <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
               <!--  <div class="custom-post">
                  <div class="custom-img">
                    <img src="/assets/upcoming-img.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="custom-content">
                    <h4 class="custom-title">Junglee Movie Review</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book.</p>
                    <p class="custom-date"><i class="fa fa-clock-o"></i> June 12, 2019</p>
                  </div>
                </div> -->
              </div>

              <div class="widget reviewe-widget">
                <h3 class="widget-title">Reviewed Today</h3>
                <!-- <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div> -->
<!--                 <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div> -->
                <!-- <div class="d-flex align-items-start reviewe-widget-item mb-4">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div> -->
               <!--  <div class="d-flex align-items-start reviewe-widget-item">
                  <img src="/assets/review-img.png">
                  <div class="reviewe-widget-content">
                    <h6>Movie Reviews | Tamil Cinema Reviews</h6>
                    <p>Lorem Ipsum is simply dummy text of the dummy text ever since the 1500s, </p>
                    <span><i class="fa fa-clock-o"></i> June 12, 2019</span>
                  </div>
                </div> -->
              </div>

            </div>
          </div>