<div class="page-wrapper">
      <div class="container home-wrap">
        <div class="profil-row">
          <div class="user-profile">
            <div class="img-container"><img src='<%= current_user&.image&.file&.present? ? current_user&.image&.file.try(:url) : "/assets/user_no_image.png" %>' class="img-circle" alt="Image Not Found" id="user_pic"  onchange = "preview(this)" height=150px width=150px /></div>
            <h4><%=current_user&.name %></h4>
          </div>
          <div class="user-detail">
            <div class="ratings">
              <h3 class=""><%= @all_reviews.pluck(:rating).sum %></h3>
              <span>Ratings</span>
            </div>
            <div class="reviews">
              <h3 class=""><%= @all_reviews.length %></h3>
              <span>Reviews</span>
            </div>
            <div class="profil-btn">
              <%= link_to "Account Setting", edit_user_registration_path, class: "btn btn-theme" %>
              <!-- <button class="btn btn-theme">Account Settings</button> -->
            </div>
          </div>
        </div>
        <div class="myscore-row">
          <h2 class="main-title">My Score</h2>
          <nav>
            <div class="nav nav-tabs nav-pills" id="nav-tabScore" role="tablist">
              <% @categorys&.each_with_index do |category, index|%>
              <%if index == 0 %>
              <a class="nav-item nav-link shubham active" data-toggle="pill" href="javascript:void(0);" role="tab" id="<%= category.id%>"><%= category.category_name%></a>
              <%else%>
              <a class="nav-item nav-link shubham" data-toggle="pill" href="javascript:void(0);" role="tab" id="<%= category.id%>"><%= category.category_name%></a>
              <%end%>
              <%end%>
              <!-- <a class="nav-item nav-link" data-toggle="pill" href="#nav-tv" role="tab">TV</a>
              <a class="nav-item nav-link" data-toggle="pill" href="#nav-music" role="tab">Music</a> -->
            </div>
          </nav>
<div class="tab-content" id="tabScore">
<%= render partial: "showdata" %>
</div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
      $('#1').click();
      $('.shubham').click(function(){
      // debugger;
        var id=$(this).attr("id");
      $.ajax({
         url: '/web/users/user_score',
         type: 'get',
         data: {
          id: id
          }
       });
    });
 });
</script>

  <script type="text/javascript">
      function voting(a){
        var current_object = a;
        var data =a.id.split("_");
        var review_status = data[0];
        var review_id = data[1];

        $.ajax({
             url: '/web/reviews/get_vote_for_review',
             type: 'post',
             data: {
              id: review_id,
              status: review_status
             },

             success: function(result){
              // alert(result);
              // alert(current_object);
              var parent = current_object.parentElement;
              if (result.status == true){
              parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/like_active.png" class="vote_ajax" id="like_'+ review_id +'" alt="" onclick="voting(this)" >'+result.like_count+'</span> <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" class="vote_ajax" id="dislike_'+ review_id +'" alt="" onclick="voting(this)" >'+result.dislike_count+'</span>'
              }else{
              parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/Facebook_like_thumb.png" class="vote_ajax" id="like_'+ review_id +'" alt="" onclick="voting(this)" >'+result.like_count+'</span> <span><img style="width:25px" src="/assets/dislike_active.png" class="vote_ajax" id="dislike_'+ review_id +'" alt="" onclick="voting(this)">'+result.dislike_count+'</span>'
              }
            }
            
          });
    }


  </script>
  <script>
// $(document).ready(function(){
// $(document).on("click",function(){
// $(document).ready(function(){
  // $('[data-toggle="popover"]').popover();   
// });
// });
// });
</script>

