<div class="page-wrapper">
      <div class="container home-wrap">
        <div class="profil-row">
          <div class="user-profile">
            <div class="img-container"><img src='<%= current_user&.image&.file&.present? ? current_user&.image&.file.try(:url) : "/assets/user_no_image.png" %>' class="img-circle" alt="Image Not Found" id="user_pic"  onchange = "preview(this)" height=150px width=150px /></div>
            <h4><%=current_user&.name %></h4>
          </div>
          <div class="user-detail">
           <% @review_rating = Review.where(user_id: current_user.id) %>
            <div class="ratings">
              <%@count = 0 %>
              <% @review_rating&.each do |x| %>
                   <% if x.rating.present? %>
                    <% @count = @count + x.rating %>
                    <%end%>
              <%end%>
              <h3 class=""><%= @count %></h3>
              <span>Ratings</span>
            </div>
             <% @review_rating = Review.where(user_id: current_user.id) %>
            <div class="reviews">
              <%@count = 0 %>
              <% @review_rating&.each do |x| %>
                   <% if x.comment.present? %>
                    <% @count +=1 %>
                    <%end%>
              <%end%>
              <h3 class=""><%= @count %></h3>
              <span>Reviews</span>
            </div>
            <div class="profil-btn">
              <%= link_to "Account Setting", edit_user_registration_path, class: "btn btn-theme" %>
              <!-- <button class="btn btn-theme">Account Settings</button> -->
            </div>
          </div>
        </div>
        <div class="myscore-row">
          <h2 class="main-title">My Score</h2>
          <nav>
            <div class="nav nav-tabs nav-pills" id="nav-tabScore" role="tablist">
              <% @categorys&.each_with_index do |category, index|%>
              <%#binding.pry%>
              <%if index == 0 %>
              <a class="nav-item nav-link shubham active" data-toggle="pill" href="javascript:void(0);" role="tab" id="<%= category.id%>"><%= category.category_name%></a>
              <%else%>
              <a class="nav-item nav-link shubham" data-toggle="pill" href="javascript:void(0);" role="tab" id="<%= category.id%>"><%= category.category_name%></a>
              <%end%>
              <%end%>
              <!-- <a class="nav-item nav-link" data-toggle="pill" href="#nav-tv" role="tab">TV</a>
              <a class="nav-item nav-link" data-toggle="pill" href="#nav-music" role="tab">Music</a> -->
            </div>
          </nav>
          <div class="tab-content" id="tabScore">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
              <div class="row small">
                <%  @products&.each do |product|%>
                <%#binding.pry%>
                <%#binding.pry%>
                <%next unless product.reviews.pluck(:user_id).include?(current_user.id)%>
                <% if product.reviews.find_by(user_id: current_user.id).present? %>
                <% if product&.category_name == "Movies"%>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <%#= product&.category_name %>
                        <h4><%= product&.product_name%></h4>
                        <span><%= product&.updated_at&.strftime("%d/%m/%Y")%></span>
                      </div>
                      <div class="score-rating"><%=product.reviews.pluck(:rating).sum/product.reviews.pluck(:rating).count%>/10</div>
                    </div>
                    <p><%= truncate(strip_tags(product&.reviews&.where(user_id: current_user.id)&.first&.comment), omision: "...", length: 250).html_safe%></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                         <span><img style="width:25px" src='<%= review_vote_status(product&.reviews&.where(user_id: current_user.id)&.first&.id)  ? "/assets/like_active.png" : "/assets/Facebook_like_thumb.png"%>' class="vote_ajax" id="like_<%=product&.reviews&.where(user_id: current_user.id)&.first&.id%>" alt="" onclick="voting(this)"><%= voting_like_count(product&.reviews&.where(user_id: current_user.id)&.first)%></span>

                        <span><img style="width:25px" src='<%= review_vote_status_dislike(product&.reviews&.where(user_id: current_user.id)&.first&.id)  ? "/assets/facebook_not_like_thumbs_down.png"  : "/assets/dislike_active.png" %>' class="vote_ajax" id="dislike_<%=product&.reviews&.where(user_id: current_user.id)&.first&.id%>" alt="" onclick="voting(this)"><%= voting_dislike_count(product&.reviews&.where(user_id: current_user.id)&.first)%></span>

                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <%end%>
                <%end%>
                <%end%>
               <!--  <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="tab-pane fade" id="nav-game" role="tabpanel">
              <div class="row small">
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-tv" role="tabpanel">
              <div class="row small">
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-music" role="tabpanel">
              <div class="row small">
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="score-card">
                    <div class="score-card-top">
                      <div class="name-date">
                        <h4>Boyhood</h4>
                        <span>June 12, 2019</span>
                      </div>
                      <div class="score-rating">08/10</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                      type and scrambled it to make a type specimen book. <span class="more_text">Lorem Ipsum is simply
                        dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</span></p>
                    <div class="d-flex justify-content-between">
                      <div class="like-dislike">
                        <span><img style="width:25px" src="images/Facebook_like_thumb.png" alt=""> 07</span>
                        <span><img style="width:25px" src="images/facebook_not_like_thumbs_down.png" alt=""> 07</span>
                      </div>
                      <a href="javascript:void(0);" class="show_hide text-underline">Read Full Review</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
      // debugger;
      $('#1').click();
      $('.shubham').click(function(){
        var id=$(this).attr("id");
      $.ajax({
         url: '/web/users/abc',
         type: 'get',
         data: {
          id: id
          }
       });
    });
 });
</script>

  <script type="text/javascript">
      function voting(a){
        var current_object = a;
        var data =a.id.split("_");
        var review_status = data[0];
        var review_id = data[1];

        $.ajax({
             url: '/web/reviews/get_vote_for_review',
             type: 'post',
             data: {
              id: review_id,
              status: review_status
             },

             success: function(result){
              // alert(result);
              // alert(current_object);
              var parent = current_object.parentElement;
              if (result.status == true){
              parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/like_active.png" class="vote_ajax" id="like_'+ review_id +'" alt="" onclick="voting(this)" >'+result.like_count+'</span> <span><img style="width:25px" src="/assets/facebook_not_like_thumbs_down.png" class="vote_ajax" id="dislike_'+ review_id +'" alt="" onclick="voting(this)" >'+result.dislike_count+'</span>'
              }else{
              parent.parentElement.innerHTML = '<span><img style="width:25px" src="/assets/Facebook_like_thumb.png" class="vote_ajax" id="like_'+ review_id +'" alt="" onclick="voting(this)" >'+result.like_count+'</span> <span><img style="width:25px" src="/assets/dislike_active.png" class="vote_ajax" id="dislike_'+ review_id +'" alt="" onclick="voting(this)">'+result.dislike_count+'</span>'
              }
            }
            
          });
    }


  </script>