<div class="content-wrapper2">
   <section class="content-header">
     <h1>Filters</h1>
   </section>
   <!-- Main content -->
   <section>
    <div class="box box-info" style=" ">
    <br>
    <div class="row">
            <%= form_with url:admin_feedbacks_path, method: :get  , local: true, id: "admin_feedback" do |f| %>
            <div class="col-sm-3">
            <div class="form-group">
              <label>Search by date:</label>
                  <!-- <label style="margin-left: 30px;">By Type</label> -->
                  <!-- <select class="form-control" , disabled=""> -->
                   <%#= f.select :by_type , ['Buy'], class: "form-control", disabled: ""%>
                  <!-- </select> -->
                </div>
              </div>
                <!-- <div class="row"> -->
            <div class="col-sm-3 filter-field">
                  <div class="form-group serach-date">    
                     <%= f.search_field :created_at, data:{ provide:'datepicker' }, class: "form-control fa fa-calendar", placeholder: "Search Feedbacks by Date", id: 'datetimepicke', value: @date %>                        
                  </div>
            </div>
            <div class="col-sm-3">
                  <div class="search-inner  user-label">
                     <div class="input-group d-block">
                        <%#=  f.search_field :tx_id, placeholder: "Search by feedback Id", class:"form-control custom-control1", id: 'search' %>
                     </div>
                  </div>
               </div>
            <div class="col-sm-1">  
               <button class="btn btn-primary">Search</button>
            </div>
            <div class="col-sm-1">
                             <a href="/admin/feedbacks" class="btn btn-danger">Cancel</a>
            </div>
         <!-- </div> -->
      <% end %>
    </div>
  </div>
  </div>
<!-- </section> -->

    <!-- <section class="content"> -->
      <h1>feedback List</h1>
     <div class="box box-info">
    <!--   <div class="text-right attendee-cent-s form-group">
      </div> -->
           <div class="box-body">
           <div class="table-responsive">
             <table id="example2" class="table table-bordered table-hover">
               <thead>
                 <tr style="background-color: #D9D7D7;">
                  <th>Sr_No.</th>
                  <th>Feedback </th>
                  <th>Date</th>
           				<th>Action</th>
           			</tr>
               </thead>
                <% if @feedbacks.blank? %>
                      <div class="global-heading user-head">No Record Found. </div>
                   <% else %>
                <% @feedbacks.each do |feedback| %>
               <% unless feedback.eql?(nil) %>
                
                  <tbody>
                    <tr class="even">
                      <td><%= @s_no += 1 %></td>
                      <td><%= truncate(strip_tags(feedback.user_feedback), omision: "...", length: 20).html_safe %></td>
                     <td><%= feedback.created_at.strftime("%d/%m/%Y")%></td>
                     <td>
                        <div class="action-btn">
                        <a href="/admin/feedbacks/<%= feedback.id %>" class="btn btn-success"><em class="fa fa-eye" aria-hidden="true" title="View"></em></a> 
                        <a>
                        <%= link_to '<em class="fa fa-trash" aria-hidden="true"></em>'.html_safe,  admin_feedback_path(feedback.id), method: :delete,:class=>"btn btn-danger",title: "Delete", data: {confirm: 'Are you sure to delete this Feedback?' }%></a>
                        </div>
                     </td>
           					</tr>
           				</tbody>
                 <%end%>
                 <%end%>
                <%end%>
           	</table>
            </div>
            <div class="digg_pagination pull-right">
                <%= will_paginate @feedbacks %>
           </div>  
   </section>

 