<div class="page-wrapper">
      <div class="container home-wrap">
        <div class="contact-row">
          <h2 class="widget-title"><%= sanitize(@contact.title)%></h2>
          <div class="contact-info text-center">
            <p><%= sanitize(@contact.description)%></p>
            <div class="max-content">
              <div class="contact-address text-left">
                <address class="phone"><i class="fa fa-phone"></i> +91-124-4698400</address>
                <address class="phone"><i class="fa fa-phone"></i> 011-33145145</address>
                <address class="phone"><i class="fa fa-phone"></i> +91-120–4599300</address>
                <address class="email"><i class="fa fa-phone"></i> queries@mindaasl.com</address>
              </div>
              <div class="social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row reports-row1">
  <h2 class="titile-light">You may also like:</h2>
</div>

<div class="row reports-row2">
<div class="custom-slider slidw">
  <% @products&.each_with_index do |product, index|%>
  <%if index == 0 %>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="<%= product&.image&.first&.file&.present? ? product&.image&.first&.file.try(:url) : "/assets/tv58.png" %>" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title"><%= product&.product_name%></h4>
      <p class="mb-2"><%= truncate(strip_tags(product&.description), omision: "...", length: 400).html_safe%></p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
      <%if product.reviews.pluck("rating").sum > 0  %>
      <p><%= (product&.reviews&.pluck("rating")&.sum*100)/ (product&.reviews&.pluck("rating")&.count*10)%>%</p>
    <%else%>
    <p>0%</p>
    <%end%>
    </div>
  </div>
  <%elsif index == 1%>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="<%= product&.image&.first&.file&.present? ? product&.image&.first&.file.try(:url) : "/assets/tv58.png" %>" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title"><%= product&.product_name%></h4>
      <p class="mb-2"><%= truncate(strip_tags(product&.description), omision: "...", length: 400).html_safe%></p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
       <%if product.reviews.pluck("rating").sum > 0  %>
      <p><%= (product&.reviews&.pluck("rating")&.sum*100)/ (product&.reviews&.pluck("rating")&.count*10)%>%</p>
    <%else%>
    <p>0%</p>
    <%end%>
    </div>
  </div>
  <%elsif index == 3%>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="<%= product&.image&.first&.file&.present? ? product&.image&.first&.file.try(:url) : "/assets/tv58.png" %>" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title"><%= product&.product_name%></h4>
      <p class="mb-2"><%= truncate(strip_tags(product&.description), omision: "...", length: 400).html_safe%></p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
       <%if product.reviews.pluck("rating").sum > 0  %>
      <p><%= (product&.reviews&.pluck("rating")&.sum*100)/ (product&.reviews&.pluck("rating")&.count*10)%>%</p>
    <%else%>
    <p>0%</p>
    <%end%>
    </div>
  </div>
  <%elsif index == 3%>
  <div class="custom-post custom-slide">
    <div class="custom-img">
      <img src="<%= product&.image&.first&.file&.present? ? product&.image&.first&.file.try(:url) : "/assets/tv58.png" %>" class="img-fluid" alt="">
    </div>
    <div class="custom-content justify-content-end">
      <h4 class="custom-title"><%= product&.product_name%></h4>
      <p class="mb-2"><%= truncate(strip_tags(product&.description), omision: "...", length: 400).html_safe%></p>
      <a href="javascript:void(0)" class="view-more align-self-end">View More</a>
    </div>
    <div class="prcnt-section">
       <%if product.reviews.pluck("rating").sum > 0  %>
      <p><%= (product&.reviews&.pluck("rating")&.sum*100)/ (product&.reviews&.pluck("rating")&.count*10)%>%</p>
    <%else%>
    <p>0%</p>
    <%end%>
    </div>
  </div>
  <%end%>
  <%end%>
</div>
</div>
      </div>
    </div>
  </div>
  <script>
    $('.custom-slider').slick({
      dots: false,
      infinite: true,
      autoplay: true,
      speed: 300,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            infinite: true,
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

  </script>