      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
       
        </div>
        <div class="modal-body">
          <div class="addbody text-left">
           <%= form_for :sub_categories, url:  update_sub_category_admin_categories_path, html: {id: "edit_sub_categories"}  do |f| %>


                 <div class="form-group">
                <label for="">Sub Category Name<span class="required">*</span> </label>
                  <%= f.text_field :sub_category_name,  class: "form-control custom-control",  placeholder: "Sub Categories Name"%>
                 </div>
               <%#= f.hidden_field :id, :value => '@sub.id'  %>
         <%= f.hidden_field :category_id, :value =>  @sub_categories.category_id %>
              <input type = "hidden" name = "subcat_id" value = "<%=@sub_categories.id%>">
               
       
        <div class="modal-footer text-center">
          <%= submit_tag 'Update', :class => "btn btn-primary btn-md"%>
        </div>
         </div>
        <%end%>
         </div>
      </div>



      <script type="text/javascript">
   $(document).ready(function(){
     $("#edit_sub_categories").validate({
     rules: {
       "sub_categories[sub_category_name]": {
         required: true,
         maxlength: 20,
         minlength: 2,
         lettersonly: true

       },
     },
     messages: {
       "sub_categories[sub_category_name]":{
         required: "Please select the category name.",
         maxlength: "Maximum  characters are 20.",
         minlength: "Minimum characters are 2",
       },
     },
    });

jQuery.validator.addMethod("lettersonly", function(value, element) {
 return this.optional(element) || /^[a-z ]+$/i.test(value);
}, "Letters only please"); 
  });
  </script>