    <section class="content">
      <div class="clearfix">
        <div class="global-heading user-head">Category Management</div>
        <div class="aduser-btn"><a href="/admin/categories/new" class="btn btn-add"><i class="fa fa-plus"></i>Add Category</a></div>
      </div>
      <div class="clearfix">
        <fieldset class="global-fieldset">
        <legend>Filter</legend>
        <div class="filter-form">
        <!-- <form action="/admin/users" method="get" accept-charset="UTF-8" enctype="multipart/form-data" id="web-user-val" class="form-common clearfix"> -->
         <%= form_tag "/admin/categories", method: :get,  class:"form-common clearfix" do  %>
          <div class="col-sm-3">
            <div class="form-group">
              <label>NAME</label>
              <!-- <input type="text" class="form-control custom-control " name="user_name"> -->
              <input type="text" name="search" class="form-control custom-control" placeholder="SEARCH CATEGORY" id="country_serch">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="filter-btn">
              <button class="btn btn-primary"> <i class="fa fa-search"></i> Filter </button>
            </div>
          </div>
        <!-- </form> -->
        <%end%>
      </div>
    </fieldset>
      </div>
     <div id="country-content">
        <%#= render partial: "index"%>
        <div class="clearfix">
        <h3>Category List</h3>
        <div class="table-responsive cus-table">
           <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>ID</th>
                  <th>Category name</th>
                  <th colspan="3">Actions</th>
                </tr>
              </thead>
              <tbody>
              <% @categories.each do |m| %>
              <%#binding.pry%>
                <tr>
                  <td><%= @s_no += 1 %></td>
                  <td><%= m.try(:id)%></td>
                  <td><%= m.try(:category_name)%></td>
                  <td><%= link_to 'Edit', edit_admin_category_path(m),:class=>"btn btn-success", method: :get %>
                  <%= link_to 'Delete', admin_category_path(id: m.id),:data => {:confirm => "Are you sure you want to delete this country ?"},:class=>"btn btn-danger", method: :delete %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
             <%#= will_paginate @categories,  renderer: BootstrapPagination::Rails %>
          </div>
        </div>
     </div>
    </section>

