<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<section class="content-header">
  <center>
    <h1><b>Add Categories</b></h1>
      <p class="box box-info"></p>
   </center>
</section>
<section class="content">
  <%= nested_form_for @category, url:  admin_categories_path, method: :post, local: true do |f| %>
  <div class="row">
     <div class="col-md-3">
      <%= link_to "Add Details", add_category_admin_categories_path %>
     </div>
     <div class="col-md-6">
      <div class="box box">
         <div class="box-body box-profile">
          
           <ul class="list-group list-group-unbordered">
               <li class="list-group-item">
                  <b>Category</b>
                      <%= f.text_field :category_name, class: 'form-control', autofocus: true, placeholder: "category" %>

               </li>
               <%= f.fields_for :sub_categories do |sub| %>
               <li class="list-group-item">
                   <b>Sub Category</b>
                    <%= sub.text_field :sub_category_type, class: 'form-control', autofocus: true, placeholder: "sub_category" %>
                        


               </li>
              <%end%>
                    <%#= f.link_to_add '<i class="fa fa-plus mt-10 fa-2x" aria-hidden="true"></i>Add Sub-Category'.html_safe, :sub_categories ,id: "add_sub_category"%> 

                     <%= f.link_to_add '<i class="fa fa-plus mt-10 fa-2x" aria-hidden="true"></i>'.html_safe, :sub_categories ,id: "add_product_descriptions" %>
                       
                     <%#= f.link_to_remove '<i class="fa fa-times mt-10 fa-2x" aria-hidden="true"></i>'.html_safe, :sub_categories ,id: "add_product_descriptions" %>

              <p><%#= f.link_to_add "Add a task", :sub_categories %></p>
             
            </ul>
            <div class="form-group has-feedback">
                      <%= f.submit "Submit" , class: "btn btn-success btn-block"%>
                    </div>
          <a href="/admin/users" class="btn btn-danger btn-block"><b>Back</b></a>
        </div>
      </div>
   </div>
  <div class="col-md-3">
  </div>
 </div>
 <%end%>
</section>
 
<script type="text/javascript">
  
	//$('#add_sub_category').on('click',function(){
       // alert(!($('.media_contnt').length < 8));
      // if (!($('input:hidden[name^="campaign[products_attributes][0][medias_attributes]["][id$="_destroy"][value="false"]').length < 7)){
         //$('#add_sub_category').css('display','none');
       //});
     
         // console.log($('.media_contnt').length)    
    $('form').on 'click', '.remove_fields', (event)
    $(this).prev('input[type=hidden]').val('1')
    $(this).closest('fieldset').hide()
    event.preventDefault()

</script>>