<section class="content-header">
    <h1>Edit Products</h1>
</section>
  <section class="content">
    <div class="box box-info">
    <div class="box-body">
      <div class="tab-content">
          <div class="tab-pane fade active in" id="default-tab-1">
            <div class="tab-pane">
                <%= nested_form_for @products, url: admin_product_path, method: :patch, html:  {id: "admin_new_product"}  do |f| %>
                  <div class="detail-form m-t-40 m-b-40">
                    <div class="form-group">
                      <div class="row">
                        <label class="col-sm-2 col-md-2 control-label">Category</label>
                        <div class="col-sm-8 col-md-8">
                             <%#= hidden_field_tag @id = user.id %>
                          <%= f.select :category_name, Category.all.collect {|p| [p.category_name] }, {:include_blank => "Select Category Name" },{:class => "form-control shubham" , id: "category_name_ajax",:required => true} %>
                        </div>
                          <%#= f.hidden_field :category_id, :value =>  @category.id %>
                      </div>
                    </div>
                    <div class="form-group">
                                         <%# @sub_category.each do |faqs| %>
                      <div class="row">
                        <%#=sub_categories_by_category%>
                        <label class="col-sm-2 col-md-2 control-label">Sub_category</label>
                        <div class="col-sm-8 col-md-8">
                          <%#= f.select :state, options_for_select([],@user.state), {:include_blank => "Select State"}, {:id=>"web-user-city-select",:class => "form-control mt-10"} %>
                        <%= f.select :sub_category_name, options_for_select( @sub_categories,@products.sub_category_name), {:include_blank => "Select SubCategory Name"}, {:class => "form-control select-dropdown " ,id: "ror_shubham",:required => true} %>
                        </div>
                      </div>
                    </div>
                     <div class="form-group">
                      <div class="row">
                        <label class="col-sm-2 col-md-2 control-label">Product Name</label>
                        <div class="col-sm-8 col-md-8">
                        <%= f.text_field :product_name, class: "form-control", placeholder: "Product Name",:required => true %>
                        </div>
                      </div>
                    </div>
                     <div class="form-group">
                      <div class="row">
                        <label class="col-sm-2 col-m d-2 control-label">Image</label>
                        <div class="col-sm-8 col-md-8">
                        <label for="file-upload" class="custom-file-upload ">
                            <%= f.fields_for :image do |m| %>

                          <!-- <img src="/assets/photo_gallery.webp"  alt="Image Not Found" id="user_pic"  onchange = "preview(this)" height=100px width=200px /><i class="" style="position: absolute; margin-top: 47px; margin-left: -45px; font-size: 24px;" ></i> -->
                            <%#= m.file_field :file, onchange: "preview(this)" , accept: "image/*", id: "file-upload"%>
                            <div id="file1">
                               <%#= image_tag ((m.object.image.present? && m.object.image_url.present?) ? m.object.image_url : "/assets/photo_gallery.webp" ) %>
                               <img src='<%= m.object.file.present? ? m.object.file_url : "/assets/photo_gallery.webp" %>' height=100px width=200px alt="your image" class="img_prev"/>
                              <%= m.file_field :file, onchange:"readURL(this);", height: "100px;", width: "200px;", accept: "image/*", id: "file-upload", style: ""%>
                              <%= m.check_box :file_type %><b>Header Image</b>
                              <%= m.check_box :avtar %><b>Avatar Image</b>
                                 <!-- <input type='file' onchange="readURL(this);" />  -->
                          
                               </div>
                               <p style="margin-left: -25px;">
                             <%= m.link_to_remove '<i class="fa fa-times fa-2x mt-10" aria-hidden="true"></i>'.html_safe, class: "btn btn-danger margin"%>
                             </p>
                          <%end%>
                       </label>
                       <p><%= f.link_to_add '<i class="fa fa-plus fa-2x mt-10" aria-hidden="true"></i>'.html_safe, :image, class: "btn btn-primary" %></p>
                        </div>
                      </div>
                    </div>
                     <div class="form-group">
                      <div class="row">
                        <label class="col-sm-2 col-md-2 control-label">Video</label>
                        <div class="col-sm-8 col-md-8">
                          <%if @products.video_url.present? %>
                        <%= video_tag  @products.video_url, controls: true, autoplay: false, width: "400px", height: "200px", id: "video_player" %>
                        <%= f.file_field :video, id:"video_file", type:"file", accept:"video/*" %>
                        <%else%>
                        <video id="video_player" width="400" controls></video>
                          <%= f.file_field :video, id:"video_file", type:"file" ,:value => @products&.video_url.present? ? @products&.video_url : "",  accept:"video/*" %>
                         <%end%>
                        </div>
                      </div>
                    </div>
                     <div class="form-group">
                      <div class="row">
                         <label class="col-sm-2 col-md-2 control-label">Launching/Release Date</label>
                        <div class="col-sm-8 col-md-8">
                        <div class="input-group date">
                        <div class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                        </div>
                    <%#= f.text_field :date ,class: "form-control datetimepicker_start",placeholder:"Select Date",data: { provide: 'datepicker',:required => true} %>
                      <%= f.text_field :date ,class: "form-control datetimepicker_start",placeholder:"Select Date", id: "start_date" %>
                        </div>
                        </div>
                      </div>
                    </div>
                     <div class="form-group">
                      <div class="row">
                        <label class="col-sm-2 col-md-2 control-label">Description</label>
                        <div class="col-sm-8 col-md-8">
                         <%= f.cktext_area :description, class: "form-control", placeholder: "" %>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="text-center attendee-cent-s">
                        <button class="btn btn-success" type="submit">Submit</button>
                        <a href="/admin/products" class="btn btn-danger">Cancel</a>
                      </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script type="text/javascript">
  //debugger;
  //
  //
  function readURL(input) {
 if (input.files && input.files[0]) {
 var reader = new FileReader();
 reader.onload = function (e) {
 $(input).parent().find('.img_prev') //finds the parent div and gets the img_prev contained inside 
.attr('src', e.target.result) 
.width(150) 
.height(200);
 }; 
reader.readAsDataURL(input.files[0]); } 
} 
  // function preview(input) {
  //          if (input.files && input.files[0]) {
  //              var reader = new FileReader();
  //                reader.onload = function (e) {
  //                 debugger;
  //                  $('#user_pic')
  //                      .attr('src', e.target.result);
  //              };

  //              reader.readAsDataURL(input.files[0]);
  //          }
  //      }
       
       $(document).ready(function(){
  //alert("hello bhai");
  $('#1').click();

 
  $('.shubham').change(function(){
    // debugger;
    var id=this.value;
    $.ajax({
         url: '/admin/products/sub_categories_by_category',
         type: 'get',
         data: {
          id: id
         },

         success: function(result){
          var newOptions = result;
          $('#ror_shubham').empty();
          var sub_category = $('#ror_shubham');
          $.each(newOptions, function(key,value) {
              sub_category.append($("<option></option>").attr("value", value.sub_category_id).text(value.sub_category_name));
          });
        }
        
      });
    });
 });

</script>
<style type="text/css">
  select {
    width: 795px;
}
.margin {
  margin: 10px;
  margin-left: 235px;
  margin-top: -150px;
}
input[type="file"] {
  display: block;
  margin-top: 10px;
}

</style>
<script type="text/javascript">
  video_file.onchange = function(){
    var files = this.files;
    var file = URL.createObjectURL(files[0]); 
    video_player.src = file; 
    video_player.play();
};
</script>
<script type="text/javascript">
  $(".datetimepicker_start").datepicker({
   autoclose: true,
   minDate: 0,

});

$(function() {
 $(".datetimepicker_start").on('change', function(){
        var date = Date.parse($(this).val());
        if (date < Date.now()){
            alert('Publish Date should be proper format and not of past');
            $(this).val('');
        }


   });

});
</script>