<section class="content-header">
    <h1>Edit Product</h1>
</section>
  <section class="content">
    <div class="box box-info">
    <div class="box-body">
      <div class="tab-content">
  				<div class="tab-pane fade active in" id="default-tab-1">
  					<div class="tab-pane">
  							<%= form_for :products, url: admin_product_path, method: :patch, html:  {id: "admin_product"}  do |f| %>
  								<div class="detail-form m-t-40 m-b-40">
                    <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Category</label>
  											<div class="col-sm-8 col-md-8">
                             <%#= hidden_field_tag @id = user.id %>
                          <%= f.select :category, Category.all.collect {|p| [p.category_name] }, {:include_blank => "Select Category Name" },{:class => "form-control shubham"} %>
  											</div>
  										</div>
  									</div>
                    <div class="form-group">
                    	                   
  										<div class="row">
  											
  											<label class="col-sm-2 col-md-2 control-label">Sub_category</label>
  											<div class="col-sm-8 col-md-8">
  											<%= f.select :sub_category, options_for_select([], @product&.sub_category_name), {:include_blank => "Select SubCategory Name"}, {:class => "form-control select-dropdown"} %>
  											</div>
  										</div>
  									</div>
  									 <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Product Name</label>
  											<div class="col-sm-8 col-md-8">
  											<%= f.text_field :product_name, class: "form-control", placeholder: "Product Name" %>
  											</div>
  										</div>
  									</div>
  									 <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Image</label>
  											<div class="col-sm-8 col-md-8">
  											 <label for="file-upload" class="custom-file-upload ">
                          <% @images.each do |image|%>
                              <%= image_tag image.file_url, width: "200px;", height: "100px;" %>
                          <%end%>
                 <%= f.file_field :file, onchange: "preview(this)" , accept: "image/*" , style: "display:none" , id: "file-upload"%>
              </label>
              </label>
  											</div>
  										</div>
  									</div>
  									 <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Video</label>
  											<div class="col-sm-8 col-md-8">
                          <label for="file-upload" class="custom-file-upload ">
                        <%= video_tag @products&.video_url, controls: true, autoplay: false, width: "300px", height: "200px"%>
                        <%= f.file_field :video, onchange: "preview(this)" , accept: "image/*" , style: "display:none" , id: "file-upload"%>
                         </label>
                                          
  											</div>
  										</div>
  									</div>
  									 <div class="form-group">
  										<div class="row">
  										   <label class="col-sm-2 col-md-2 control-label">Launching/Release Date</label>
  											<div class="col-sm-8 col-md-8">
  											<div class="input-group date">
                        <div class="input-group-addon">
                        <em class="fa fa-calendar"></em>
                        </div>
                      <%= f.text_field :date ,class: "form-control datetimepicker_start",placeholder:"Select Date",value: (params.dig :search, :start), autocomplete: :off,data: { provide: 'datepicker'} %>
                        </div>
  											</div>
  										</div>
  									</div>
  									 <div class="form-group">
  										<div class="row">
  											<label class="col-sm-2 col-md-2 control-label">Description</label>
  											<div class="col-sm-8 col-md-8">
  											 <%= f.cktext_area :description, class: "form-control", placeholder: "" %>
  											</div>
  										</div>
  									</div>
                    <div class="form-group">
  										<div class="text-center attendee-cent-s">
  											<button class="btn btn-success" type="submit">Submit</button>
                        <a href="/admin/products" class="btn btn-danger">Cancle</a>
                      </div>
									</div>
								</div>
							<%end%>
						</div>
  				</div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
  	$(document).ready(function(){
  //alert("hello bhai");
  $('#1').click();

 
  $('.shubham').change(function(){
    debugger;
    var id=this.value;
    $.ajax({
         url: '/admin/products/sub_categories_by_category',
         type: 'get',
         data: {
          id: id
         },

         success: function(result){
          var newOptions = result;
          $('#idiot_shubham').empty();
          var sub_category = $('#idiot_shubham');
          $.each(newOptions, function(key,value) {
              sub_category.append($("<option></option>").attr("value", value.sub_category_name).text(value.sub_category_name));
          });
        }
        
      });
    });
 });
  </script>