<section class="content-header">
  <h1>Show Product Details</h1>
</section>
<section class="content">
<div class="box box-info">
  <div class="box-body box-profile">
    <div class="profile-box">
      <div class="profile-inner clearfix">
        <div class="user-detail-block">
          <div class="p-blocks">
            <label class="view-a left-a">Product Name: </label>
            <span class="view-a right-a"><%=@products.product_name%></span>
          </div><br>
          <div class="p-blocks">
            <label class="view-a left-a">Category: </label>
            <span class="view-a right-a"><%= @category.category_name%></span>
          </div><br>
          <div class="p-blocks">
            <label class="view-a left-a">Sub-Category: </label>
            <span class="view-a right-a"><%= @sub_category.sub_category_name%></span>
          </div><br>
          <div class="p-blocks">
            <label class="view-a left-a">Images: </label><br>
          <% @images&.each do |image| %>
               <% unless image.eql?(nil) %>
            <span class="view-a right-a"><%= image_tag image.file_url, width: "200px;", height: "100px;"%>&nbsp;&nbsp;&nbsp;</span>
            <%else%>
               <p>Image Not Founds</p>
            <%end%>
            <%end%>
          </div><br>
          <div class="p-blocks">
            <label class="view-a left-a">Videos: </label>
            <br>
            <%if @products.video_url %>
            <span class="view-a right-a"><%= video_tag @products&.video_url, controls: true, autoplay: false, width: "300px", height: "200px"%></span>
            <%else%>
            <p>Video Not Founds</p>
            <video id="video_player" width="400" controls></video>
               <!-- <img src="/assets/photo_gallery.webp" alt="video not Founds" height="100px" width="200px"> -->
            <%end%>
          </div>
          <div class="p-blocks">
            <label class="view-a left-a">Launching Date: </label>
            <span class="view-a right-a"><%= @products&.date&.strftime("%d/%m/%Y")%></span>
          </div><br>
          <div class="p-blocks">
            <label class="view-a left-a">Description: </label>
            <span class="view-a right-a word-break-all"><%= sanitize(@products&.description)%></span>
          </div><br>
        </div>
      </div>
      </div>
      <br>
      <br>
      <center><a href="/admin/products" class="btn btn-danger" >Back</a></center>
  </div>
</div>
</section>
 <style type="text/css">
    .word-break-all{
  word-break: break-all;
}
</style>
