<section class="content-header">
  <center>
    <h1><b>Admin Profile</b></h1>
      <p class="box box-info"></p>
   </center>
</section>
<section class="content">
  <div class="row">
     <div class="col-md-3">

     </div>
     <div class="col-md-6">
   <!-- <h3>User Detail</h3> -->
      <div class="box box">
       <%= link_to '<em class="fa fa-edit" aria-hidden="true"></em>'.html_safe, edit_admin_profile_admin_user_path(current_user), class:"btn btn-sm btn-primary pull-right" ,title: "Edit" %>
         <div class="box-body box-profile">
            <center> <img src='<%= current_user&.image&.file&.present? ? current_user&.image&.file&.try(:url) : "/assets/user_default.jpeg" %>' class="img-circle" alt="Image Not Found" id="user_pic"  onchange = "preview(this)" height=200px width=200px /><i style="position: absolute; margin-top: 47px; margin-left: -45px; font-size: 24px;" ></i>
                 </center><br>

           <p class="box box-info"></p>
           <h3 class="profile-username text-center">
               <%#= @user.name.capitalize %>
           </h3>
           <p class="text-muted text-center">
                 <%#= @user.role.capitalize %>
           </p>
           <ul class="list-group list-group-unbordered">
               <li class="list-group-item">
                  <b>Name</b>
                     <p class="pull-right">
                       <%= @user&.name&.capitalize%>
                     </p>
               </li>
               <li class="list-group-item">
                   <b>Email Id</b>
                   <p class="pull-right">
                   <%= @user&.email%>
                   </p>
               </li>
               <li class="list-group-item">
                    <b>Role</b>
                     <p class="pull-right">
                       <%= @user&.role%>
                     </p>
               </li>
               
               <li class="list-group-item">
                   <b>Mobile No.</b>
                   <p class="pull-right">
                   <%= @user&.mobile_no%>
                      <%#= @transaction&.created_at.strftime("%d/%m/%Y")%>
                   </p>
               </li>
            </ul>
          <a href="/admin/users" class="btn btn-danger btn-block"><b>Back</b></a>
        </div>
       <!-- /.box-body -->
      </div>
   </div>
  <div class="col-md-3">
  </div>
 </div>
</section>

                    