<header class="header">
      <nav id="main-navbar" class="main-navbar navbar navbar-expand-lg bg-primary">
        <div class="headerTop">
          <a class="navbar-brand" href="<%= root_path%>"><img src="/assets/LOGO.png"></a>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <form class="header-search">
                <input type="search" name="" class="form-control" placeholder="Search">
                <img src="/assets/search.png">
              </form>
            </li>
          </ul>
          <ul class="navbar-nav align-items-center">
            <%if current_user%>
              <li class="nav-item user-item"><a class="" href="/web/users/<%= current_user.id %>/user_profile"><span><%= current_user&.name%></span> <img src="<%= current_user&.image&.file&.present? ? current_user&.image&.file&.try(:url) : "/assets/user_no_image.png" %>" alt=""> </a></li>
            <li><a class="nav-link btn btn-theme" href="#" data-toggle="modal" data-target="#logoutModal">Log Out</a>
              <!-- <a class="nav-link btn btn-outline-dark" href="<%=destroy_user_session_path(current_user)%>">Log Out</a> --></li>
            <%else%>
            <li><%= link_to "+ Join Us", new_user_registration_path, :class => 'navbar-link nav-link btn btn-outline-dark mr-3'  %> 
             </li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link nav-link btn btn-outline-dark'  %>
             </li>
            <%end%>
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <%if current_user%>   
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav align-items-center main-nav">
            <li class="nav-item dropdown mega-dropdown">
              <a class="nav-link" href="/web/categories">Movies</a>
              <div class="dropdown-menu mega-menu">
                <div class="row">
                  <div class="col-md-3">
                    <div class="custom-post m-0">
                      <div class="custom-img">
                        <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                      </div>
                      <div class="custom-content justify-content-end">
                        <p class="mb-2">Best & Worst Films at the 2019 Cannes Film festival</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <ul class="mega-menu-list">
                      <li>
                        <a class="" role="button" href="#">All Movies </a></li>
                        <li><a href="#">Best of Netflix</a></li>
                        <li><a href="#">New to DVD & Streaming</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="mega-menu-list">
                        <li><a href="#">In Theaters</a></li>
                        <li><a href="#">Best Of Amazon</a></li>
                        <li class="dropdown mega-subdropdown">
                          <a href="#">Browse Movies By Genre</a> 
                          <div class="dropdown-menu mega-submenu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Adventure</a>
                            <a class="dropdown-item" href="#">Amination</a>
                            <a class="dropdown-item" href="#">Biography</a>
                            <a class="dropdown-item" href="#">Comedy</a>
                            <a class="dropdown-item" href="#">Fantacy</a>
                            <a class="dropdown-item" href="#">Horror</a>
                            <a class="dropdown-item" href="#">Reality</a>
                            <a class="dropdown-item" href="#">Romance</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Adventure</a>
                            <a class="dropdown-item" href="#">Amination</a>
                            <a class="dropdown-item" href="#">Biography</a>
                            <a class="dropdown-item" href="#">Comedy</a>
                            <a class="dropdown-item" href="#">Fantacy</a>
                            <a class="dropdown-item" href="#">Horror</a>
                            <a class="dropdown-item" href="#">Reality</a>     
                            <a class="dropdown-item" href="#">Romance</a>
                          </div></li>
                        </ul>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-list">
                          <li><a href="#">Comming Soon</a></li>
                          <li><a href="#">Best movies of All Time</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item dropdown mega-dropdown"><a class="nav-link" href="#">Games</a>
                  <div class="dropdown-menu mega-menu">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="custom-post m-0">
                          <div class="custom-img">
                            <img src="/assets/Layer3.png" class="img-fluid" alt="">
                          </div>
                          <div class="custom-content justify-content-end">
                            <p class="mb-2">The Month’s Free Game</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <ul class="mega-menu-list">
                          <li>
                            <a class="" role="button" href="#">All Game </a></li>
                            <li><a href="#">PC </a></li>
                            <li><a href="#">Will U    </a></li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li><a href="#">PS4</a></li>
                            <li><a href="#">Switch</a></li>
                            <li><a href="#"> PS Vita</a> </li>
                          </ul>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li><a href="#">Xbox One</a></li>
                            <li><a href="#">3DS</a></li>
                            <li><a href="#">iOS</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link" href="#">Tv</a>
                    <div class="dropdown-menu mega-menu">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="custom-post m-0">
                            <div class="custom-img">
                              <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="custom-content justify-content-end">
                              <p class="mb-2">Top TV Show to Watch</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <ul class="mega-menu-list">
                            <li>
                              <a class="" role="button" href="#">All TV   </a></li>
                              <li><a href="#">Best Of Netflix </a></li>
                              <li class="dropdown mega-subdropdown">
                                <a href="#">Browse Music By Genre</a> 
                                <div class="dropdown-menu mega-submenu">
                                  <a class="dropdown-item" href="#">Dance</a>
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Business</a>
                                  <a class="dropdown-item" href="#">Comedy</a>
                                  <a class="dropdown-item" href="#">Horror</a>
                                  <a class="dropdown-item" href="#">Reality</a>
                                  <a class="dropdown-item" href="#">Romance</a>
                                  <a class="dropdown-item" href="#">Drama</a>
                                  <a class="dropdown-item" href="#">Game Shows</a>
                                  <a class="dropdown-item" href="#">Health</a>
                                  <a class="dropdown-item" href="#">News</a>
                                  <a class="dropdown-item" href="#">Cricket</a>
                                  <a class="dropdown-item" href="#">Suspence</a>
                                  <a class="dropdown-item" href="#">Adventure</a>
                                  <a class="dropdown-item" href="#">Talk Interviews</a>
                                  <a class="dropdown-item" href="#">Song</a>     
                                  <a class="dropdown-item" href="#">Dance</a>
                                  <a class="dropdown-item" href="#">Romance</a>
                                </div>
                              </li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li><a href="#">New Shows </a></li>
                                <li><a href="#">Best Of Amazon</a></li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li><a href="#">Comming Soon</a></li>
                                <li><a href="#">Best Tv Shows</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="nav-item dropdown mega-dropdown">
                        <a class="nav-link" href="#">Music</a>
                        <div class="dropdown-menu mega-menu">
                          <div class="row">
                            <div class="col-md-3">
                              <div class="custom-post m-0">
                                <div class="custom-img">
                                  <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="custom-content justify-content-end">
                                  <p class="mb-2">Best & Worst Films at the 2019 Cannes Film festival</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <ul class="mega-menu-list">
                                <li>
                                  <a class="" role="button" href="#">All Music    </a></li>
                                  <li><a href="#">Best New Albums  </a></li>
                                  <li class="dropdown mega-subdropdown"><a href="#">Best Albums of All Time</a></li>
                                  </ul>
                                </div>
                                <div class="col-md-3">
                                  <ul class="mega-menu-list">
                                    <li><a href="#">New Releases</a></li>
                                    <li><a href="#">New Trendings    </a></li>
                                    <li class="dropdown mega-subdropdown"><a href="#">Browse Music By Genre</a>
                                     <div class="dropdown-menu mega-submenu">
                                      <a class="dropdown-item" href="#">Dance</a>
                                      <a class="dropdown-item" href="#">Blues</a>
                                      <a class="dropdown-item" href="#">Alternative</a>
                                      <a class="dropdown-item" href="#">Comedy</a>
                                      <a class="dropdown-item" href="#">Instrumental</a>
                                      <a class="dropdown-item" href="#">Indie</a>
                                      <a class="dropdown-item" href="#">Folk</a>
                                      <a class="dropdown-item" href="#">House</a>
                                      <a class="dropdown-item" href="#">Pop</a>
                                      <a class="dropdown-item" href="#">Rock</a>
                                      <a class="dropdown-item" href="#">Zazz</a>
                                      <a class="dropdown-item" href="#">Latin</a>
                                      <a class="dropdown-item" href="#">Metal</a>
                                      <a class="dropdown-item" href="#">Punk</a>
                                      <a class="dropdown-item" href="#">Rock</a>  
                                     <a class="dropdown-item" href="#">Soul</a> 
                                      <a class="dropdown-item" href="#">Dance</a>
                                      <a class="dropdown-item" href="#">Romance</a>
                                    </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-md-3">
                                  <ul class="mega-menu-list">
                                    <li><a href="#">Comming Soon</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li class="nav-item dropdown mega-dropdown">
                              <a class="nav-link" href="#">Books</a>
                              <div class="dropdown-menu mega-menu">
                                <div class="row">
                                  <div class="col-md-3">
                                    <div class="custom-post m-0">
                                      <div class="custom-img">
                                        <img src="/assets/Rectangle3.png" class="img-fluid" alt="">
                                      </div>
                                      <div class="custom-content justify-content-end">
                                        <p class="mb-2">Best & Worst books at 2019 Casta book Awards </p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <ul class="mega-menu-list">
                                      <li>
                                        <a class="" role="button" href="#">All Books</a></li>
                                        <li><a href="#">Best books of All Time  </a></li>
                                        </ul>
                                      </div>
                                      <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                          <li><a href="#">In Market</a></li>
                                          <li class="dropdown mega-subdropdown"><a href="#"> Browse Books By Genre</a>
                                          <div class="dropdown-menu mega-submenu">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                            <a class="dropdown-item" href="#">Amination</a>
                                            <a class="dropdown-item" href="#">Biography</a>
                                            <a class="dropdown-item" href="#">Comedy</a>
                                            <a class="dropdown-item" href="#">Fantacy</a>
                                            <a class="dropdown-item" href="#">Horror</a>
                                            <a class="dropdown-item" href="#">Reality</a>
                                            <a class="dropdown-item" href="#">Romance</a>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Adventure</a>
                                            <a class="dropdown-item" href="#">Amination</a>
                                            <a class="dropdown-item" href="#">Biography</a>
                                            <a class="dropdown-item" href="#">Comedy</a>
                                            <a class="dropdown-item" href="#">Fantacy</a>
                                            <a class="dropdown-item" href="#">Horror</a>     
                                            <a class="dropdown-item" href="#">Reality</a>
                                            <a class="dropdown-item" href="#">Romance</a>
                                          </div></li>
                                        </ul>
                                      </div>
                                      <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                          <li><a href="#">Comming Soon</a></li>
                                          <li><a href="#">Best Tv Shows</a></li>
                                        </ul>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="nav-item dropdown mega-dropdown">
                                    <a class="nav-link" href="#">Mobile phones</a>
                                    <div class="dropdown-menu mega-menu">
                                      <div class="row">
                                        <div class="col-md-3">
                                          <div class="custom-post m-0">
                                            <div class="custom-img">
                                              <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="custom-content justify-content-end">
                                              <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-3">
                                          <ul class="mega-menu-list">
                                            <li>
                                              <a class="" role="button" href="#">All Mobiles  </a></li>
                                              <li><a href="#">Best Of Netflix </a></li>
                                              <li class="dropdown mega-subdropdown">
                                                <a href="#">Browse Music By Genre</a> 
                                                <div class="dropdown-menu mega-submenu">
                                                  <a class="dropdown-item" href="#">Dance</a>
                                                  <a class="dropdown-item" href="#">Action</a>
                                                  <a class="dropdown-item" href="#">Business</a>
                                                  <a class="dropdown-item" href="#">Comedy</a>
                                                  <a class="dropdown-item" href="#">Horror</a>
                                                  <a class="dropdown-item" href="#">Reality</a>
                                                  <a class="dropdown-item" href="#">Romance</a>
                                                  <a class="dropdown-item" href="#">Drama</a>
                                                  <a class="dropdown-item" href="#">Game Shows</a>
                                                  <a class="dropdown-item" href="#">Health</a>
                                                  <a class="dropdown-item" href="#">News</a>
                                                  <a class="dropdown-item" href="#">Cricket</a>
                                                  <a class="dropdown-item" href="#">Suspence</a>
                                                  <a class="dropdown-item" href="#">Adventure</a>
                                                  <a class="dropdown-item" href="#">Talk Interviews</a>
                                                  <a class="dropdown-item" href="#">Song</a>     
                                                  <a class="dropdown-item" href="#">Dance</a>
                                                  <a class="dropdown-item" href="#">Romance</a>
                                                </div></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3">
                                              <ul class="mega-menu-list">
                                                <li><a href="#">New Shows </a></li>
                                                <li><a href="#">Best Of Amazon</a></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3">
                                              <ul class="mega-menu-list">
                                                <li><a href="#">Comming Soon</a></li>
                                                <li><a href="#">Best Mobiles </a></li>
                                              </ul>
                                            </div>
                                          </div>
                                        </li>
                                        <li class="nav-item dropdown mega-dropdown">
                                          <a class="nav-link" href="#">Laptops</a>
                                          <div class="dropdown-menu mega-menu">
                                            <div class="row">
                                              <div class="col-md-3">
                                                <div class="custom-post m-0">
                                                  <div class="custom-img">
                                                    <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                                  </div>
                                                  <div class="custom-content justify-content-end">
                                                    <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-md-3">
                                                <ul class="mega-menu-list">
                                                  <li>
                                                    <a class="" role="button" href="#">All Laptops   </a></li>
                                                    <li><a href="#">Best Of Netflix </a></li>
                                                    <li class="dropdown mega-subdropdown">
                                                      <a href="#">Browse Music By Genre</a> 
                                                      <div class="dropdown-menu mega-submenu">
                                                        <a class="dropdown-item" href="#">Dance</a>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Business</a>
                                                        <a class="dropdown-item" href="#">Comedy</a>
                                                        <a class="dropdown-item" href="#">Horror</a>
                                                        <a class="dropdown-item" href="#">Reality</a>
                                                        <a class="dropdown-item" href="#">Romance</a>
                                                        <a class="dropdown-item" href="#">Drama</a>
                                                        <a class="dropdown-item" href="#">Game Shows</a>
                                                        <a class="dropdown-item" href="#">Health</a>
                                                        <a class="dropdown-item" href="#">News</a>
                                                        <a class="dropdown-item" href="#">Cricket</a>
                                                        <a class="dropdown-item" href="#">Suspence</a>
                                                        <a class="dropdown-item" href="#">Adventure</a>
                                                        <a class="dropdown-item" href="#">Talk Interviews</a>
                                                        <a class="dropdown-item" href="#">Song</a>     
                                                        <a class="dropdown-item" href="#">Dance</a>
                                                        <a class="dropdown-item" href="#">Romance</a>
                                                      </div></li>
                                                    </ul>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <ul class="mega-menu-list">
                                                      <li><a href="#">New Shows </a></li>
                                                      <li><a href="#">Best Of Amazon</a></li>
                                                    </ul>
                                                  </div>
                                                  <div class="col-md-3">
                                                    <ul class="mega-menu-list">
                                                      <li><a href="#">Comming Soon</a></li>
                                                      <li><a href="#">Best Laptop</a></li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="nav-item dropdown mega-dropdown">
                                                <a class="nav-link" href="#">Restaurents</a>
                                                <div class="dropdown-menu mega-menu">
                                                  <div class="row">
                                                    <div class="col-md-3">
                                                      <div class="custom-post m-0">
                                                        <div class="custom-img">
                                                          <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                                        </div>
                                                        <div class="custom-content justify-content-end">
                                                          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                      <ul class="mega-menu-list">
                                                        <li>
                                                          <a class="" role="button" href="#">All Restaurents   </a></li>
                                                          <li><a href="#">Best Of Netflix </a></li>
                                                          <li class="dropdown mega-subdropdown">
                                                            <a href="#">Browse Music By Genre</a> 
                                                            <div class="dropdown-menu mega-submenu">
                                                              <a class="dropdown-item" href="#">Dance</a>
                                                              <a class="dropdown-item" href="#">Action</a>
                                                              <a class="dropdown-item" href="#">Business</a>
                                                              <a class="dropdown-item" href="#">Comedy</a>
                                                              <a class="dropdown-item" href="#">Horror</a>
                                                              <a class="dropdown-item" href="#">Reality</a>
                                                              <a class="dropdown-item" href="#">Romance</a>
                                                              <a class="dropdown-item" href="#">Drama</a>
                                                              <a class="dropdown-item" href="#">Game Shows</a>
                                                              <a class="dropdown-item" href="#">Health</a>
                                                              <a class="dropdown-item" href="#">News</a>
                                                              <a class="dropdown-item" href="#">Cricket</a>
                                                              <a class="dropdown-item" href="#">Suspence</a>
                                                              <a class="dropdown-item" href="#">Adventure</a>
                                                              <a class="dropdown-item" href="#">Talk Interviews</a>
                                                              <a class="dropdown-item" href="#">Song</a>     
                                                              <a class="dropdown-item" href="#">Dance</a>
                                                              <a class="dropdown-item" href="#">Romance</a>
                                                            </div></li>
                                                          </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                          <ul class="mega-menu-list">
                                                            <li><a href="#">New Shows </a></li>
                                                            <li><a href="#">Best Of Amazon</a></li>
                                                          </ul>
                                                        </div>
                                                        <div class="col-md-3">
                                                          <ul class="mega-menu-list">
                                                            <li><a href="#">Comming Soon</a></li>
                                                            <li><a href="#">Best Restaurents</a></li>
                                                          </ul>
                                                        </div>
                                                      </div>
                                                    </li>
                                                    <li class="nav-item dropdown mega-dropdown">
                                                      <a class="nav-link" href="/web/users/report">Reports</a>
                                                        <!-- <div class="row"> -->
                                                          
                                                          <!-- <div class="col-md-3">
                                                            <ul class="mega-menu-list">
                                                              <li>
                                                                <a class="" role="button" href="#">All TV   </a></li>
                                                                <li><a href="#">Best Of Netflix </a></li>
                                                                <li class="dropdown mega-subdropdown">
                                                                  <a href="#">Browse Music By Genre</a> 
                                                                  <div class="dropdown-menu mega-submenu">
                                                                    <a class="dropdown-item" href="#">Dance</a>
                                                                    <a class="dropdown-item" href="#">Action</a>
                                                                    <a class="dropdown-item" href="#">Business</a>
                                                                    <a class="dropdown-item" href="#">Comedy</a>
                                                                    <a class="dropdown-item" href="#">Horror</a>
                                                                    <a class="dropdown-item" href="#">Reality</a>
                                                                    <a class="dropdown-item" href="#">Romance</a>
                                                                    <a class="dropdown-item" href="#">Drama</a>
                                                                    <a class="dropdown-item" href="#">Game Shows</a>
                                                                    <a class="dropdown-item" href="#">Health</a>
                                                                    <a class="dropdown-item" href="#">News</a>
                                                                    <a class="dropdown-item" href="#">Cricket</a>
                                                                    <a class="dropdown-item" href="#">Suspence</a>
                                                                    <a class="dropdown-item" href="#">Adventure</a>
                                                                    <a class="dropdown-item" href="#">Talk Interviews</a>
                                                                    <a class="dropdown-item" href="#">Song</a>     
                                                                    <a class="dropdown-item" href="#">Dance</a>
                                                                    <a class="dropdown-item" href="#">Romance</a>
                                                                  </div></li>
                                                                </ul>
                                                              </div> -->
                                                              <!-- <div class="col-md-3">
                                                                <ul class="mega-menu-list">
                                                                  <li><a href="#">New Shows </a></li>
                                                                  <li><a href="#">Best Of Amazon</a></li>
                                                                </ul>
                                                              </div>
                                                              <div class="col-md-3">
                                                                <ul class="mega-menu-list">
                                                                  <li><a href="#">Comming Soon</a></li>
                                                                  <li><a href="#">Best Tv Shows</a></li>
                                                                </ul>
                                                              </div> -->
                                                            <!-- </div> -->
                                                          </li>
                                                        </ul>
                                                      </div>
        <%end%>
        <div class="modal logoutModal" id="logoutModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h5 class="modal-title">LOGOUT</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body">
            <p class="mt-4 bigtitle">Are you sure you want to Logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
            <div class="profil-btn">
             <%= link_to "Yes", destroy_user_session_path, method: :delete, class: "btn btn-theme" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </nav>

    </header>