<header id="header" class="header">
    <nav id="main-navbar" class="main-navbar navbar navbar-expand-lg bg-primary">
        <div class="headerTop">
            <a class="navbar-brand" href="<%= root_path%>"><img src="/assets/LOGO.png"></a>
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <form class="header-search">
                        <input type="search" name="" class="form-control" placeholder="Search">
                        <img src="/assets/search.png">
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center">
                <%if current_user%>
                <li class="nav-item user-item"><a class="" href="/web/users/<%= current_user.id %>/user_profile"><span>
                            <%= current_user&.name%></span> <img src="<%= current_user&.image&.file&.present? ? current_user&.image&.file&.try(:url) : "/assets/user_no_image.png" %>" alt=""> </a></li>
                <li><a class="nav-link btn btn-theme" href="#" data-toggle="modal" data-target="#logoutModal">Log Out</a>
                    <!-- <a class="nav-link btn btn-outline-dark" href="<%=destroy_user_session_path(current_user)%>">Log Out</a> -->
                </li>
                <%else%>
                <li>
                    <%= link_to "+ Join Us", new_user_registration_path, :class => 'navbar-link nav-link btn btn-outline-dark mr-3'  %>
                </li>
                <li>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link nav-link btn btn-outline-dark'  %>
                </li>
                <%end%>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center main-nav">
                <% category.each do |category|%>
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link user_type" href="javascript:void(0);" id="<%= category.id%>">
                        <%= category.category_name%></a>
                    <div class="dropdown-menu mega-menu">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="custom-post m-0">
                                    <div class="custom-img">
                                        <% arr = category.sub_categories.map{ |s_c| s_c.products.map { |p| p&.image&.first&.file&.url}}.flatten.compact%>
                                        <%if arr.present? %>
                                        <img src="<%=arr[0]%>" class="img-fluid" alt="">
                                        <%else%>
                                        <img src="/assets/mega-drop-img.jpg" class="img-fluid" alt="">
                                        <%end%>
                                    </div>
                                    <div class="custom-content justify-content-end">
                                        <p class="mb-2">
                                            <%= category.category_name%>
                                        </p>
                                        <%#= category&.sub_categories&.first&.product&.image&.first&.file&.url%>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <% category&.sub_categories.each_with_index do |sub, index| %>
                                    <% if index <= 2 && index %>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                            <li>
                                                <a class="" role="button" href="/web/users/<%=sub.id%>/movie_category">
                                                    <%= sub&.sub_category_name%></a>
                                            </li>
                                            <!-- <li><a href="#">Best of Netflix</a></li>
                            <li><a href="#">New to DVD & Streaming</a></li> -->
                                        </ul>
                                    </div>
                                    <!-- </div> -->
                                    <% elsif index <= 5%>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                            <li><a href="/web/users/<%=sub.id%>/movie_category">
                                                    <%= sub&.sub_category_name%></a></li>
                                        </ul>
                                    </div>
                                    <%elsif index <= 8%>
                                    <div class="col-md-3">
                                        <ul class="mega-menu-list">
                                            <li><a href="/web/users/<%=sub.id%>/movie_category">
                                                    <%= sub&.sub_category_name%></a></li>
                                            <!-- <li><a href="#">Best movies of All Time</a></li> -->
                                        </ul>
                                    </div>
                                    <%end%>
                                    <% end %>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown">
                    <a class="nav-link" href="/web/users/report">Reports</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="modal logoutModal" id="logoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title">LOGOUT</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
            </div>
            <div class="modal-body">
                <p class="mt-4 bigtitle">Are you sure you want to Logout?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
                <div class="profil-btn">
                    <%= link_to "Yes", destroy_user_session_path, class: "btn btn-theme" %>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
// $(document).ready(function() {
//     $('#header .navbar-nav > li > a').click(function() {
//         $('li a').removeClass("active");
//         $(this).addClass("active");
//     });
//     $('#header .mega-menu-list > li > a').click(function() {
//         $('li a').removeClass("active");
//         $(this).addClass("active");
//     });
// });
// $("#header ul li a").each(function() {
//     if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
//         $(this).addClass('activeMenuItem');
//     }
// });
</script>