<!DOCTYPE html>
<html>
  <head>
    <title>MetacriticLike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag :defaults, "nested_form" %>

  </head>

  <body>
      <!-- <p class="notice"><%#= notice %></p> -->
      <!-- <p class="alert"><%#= alert %></p> -->
       <%= render "layouts/web_header"%>
       <br>
       <div class="conta">
       <%= render 'layouts/messages' %>
       </div>
       <%= yield %>
       <%= render "layouts/web_footer" %>
  </body>
</html>
<style type="text/css">
  .conta {
    width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto; */
    margin-left: auto;
}
</style>
<script type="text/javascript">
  $(".alert" ).fadeOut(2000);
</script>